<a href="https://colab.research.google.com/github/Terrencebosco/DS-Unit-1-Sprint-2-Statistics/blob/master/Copy_of_Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [7]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from scipy import stats

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

---
# 1. Preping data for t-testing

In [8]:
# import data
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

#column names
columns_names = [
'party',
'handicapped-infants',
'water-project-cost-sharing',
'adoption-of-the-budget-resolution',
'physician-fee-freeze',
'el-salvador-aid',
'religious-groups-in-schools',
'anti-satellite-test-ban',
'aid-to-nicaraguan-contras',
'mx-missile',
'immigration',
'synfuels-corporation-cutback',
'education-spending',
'superfund-right-to-sue',
'crime',
'duty-free-exports',
'export-administration-act-south-africa',
]

# read in data, no header/replace header, header names, replace missing values of '?' with np.NaN
voting_records = pd.read_csv(url, header=None, names=columns_names, na_values='?')

#checking data set
voting_records.head()

        party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [9]:
# looking for missing/nan values
voting_records.isnull().sum()

party                                       0
handicapped-infants                        12
water-project-cost-sharing                 48
adoption-of-the-budget-resolution          11
physician-fee-freeze                       11
el-salvador-aid                            15
religious-groups-in-schools                11
anti-satellite-test-ban                    14
aid-to-nicaraguan-contras                  15
mx-missile                                 22
immigration                                 7
synfuels-corporation-cutback               21
education-spending                         31
superfund-right-to-sue                     25
crime                                      17
duty-free-exports                          28
export-administration-act-south-africa    104
dtype: int64

In [10]:
# replace inputed data to 1 and 0 for calcualtions. (record votes as numeric) 
    # using .replace method inputing a {dictionary}.
voting_records = voting_records.replace({'y':1, 'n':0})

#recheck the data set.
voting_records.head()

        party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [11]:
# how many of each party is represented.
voting_records['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [12]:
#how did republicans vote
rep = voting_records[voting_records['party']=='republican']

rep.head()

         party  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [13]:
#how did democrats vote
dem = voting_records[voting_records['party']=='democrat']

dem.head()

      party  ...  export-administration-act-south-africa
2  democrat  ...                                     0.0
3  democrat  ...                                     1.0
4  democrat  ...                                     1.0
5  democrat  ...                                     1.0
6  democrat  ...                                     1.0

[5 rows x 17 columns]

In [14]:
# percent of republicans who voted 'yes'
rep['water-project-cost-sharing'].sum()/len(rep)

# len is counting NaN values

0.44642857142857145

In [15]:
# save series as variable
col = rep['water-project-cost-sharing']

# check for nan
np.isnan(col)

# safe series but where nan = True DONT inclue it
water_project_cost_sharing_no_nan = col[~np.isnan(col)]

#take percent of republicans who voted yes vs the entire number of people voted
water_project_cost_sharing_no_nan.sum()/len(water_project_cost_sharing_no_nan)

0.5067567567567568

---
# 2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [0]:
# import t-test function
from scipy.stats import ttest_ind

In [17]:
voting_records.sample(3)

          party  ...  export-administration-act-south-africa
242  republican  ...                                     1.0
101    democrat  ...                                     1.0
343  republican  ...                                     1.0

[3 rows x 17 columns]

In [18]:
# rep mean
print(rep['synfuels-corporation-cutback'].mean())
rep['synfuels-corporation-cutback'].value_counts()

0.1320754716981132

0.0    138
1.0     21
Name: synfuels-corporation-cutback, dtype: int64

In [19]:
# dem mean
print(dem['synfuels-corporation-cutback'].mean())
dem['synfuels-corporation-cutback'].value_counts()

0.5058823529411764

1.0    129
0.0    126
Name: synfuels-corporation-cutback, dtype: int64

In [20]:
# p < 0.01 
# null hypothesis: there is no difference in the voting rates between democrats and republicans in the synfuels corporation cutback. (support it equal)
# alternative hypothesis: there is a difference between the voting rates between republican and democrat where democarats supported the bill more.
# confidence level 99%

ttest_ind(dem['synfuels-corporation-cutback'], rep['synfuels-corporation-cutback'], nan_policy='omit')

Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)


Based on the t-test above with a p-value of 1.5759322301054064e-15 which is very close to zero and smaller than my confidence level of .01, I reject my null hypothesis.

---
# 3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [21]:
rep['physician-fee-freeze'].mean()

0.9878787878787879

In [22]:
dem['physician-fee-freeze'].mean()

0.05405405405405406

In [23]:
# p < 0.01 
# null hypothesis: there is no difference in the voting rates between democrats and republicans in the physician-fee-freeze. (support it equal)
# alternative hypothesis: there is a difference between the voting rates between republican and democrat where republicans supported the bill more.
# confidence level 99%

ttest_ind(dem['physician-fee-freeze'], rep['physician-fee-freeze'], nan_policy='omit')

Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)

Based on the t-test above with a p-value of 1.994262314074344e-177 which is very close to zero and smaller than my confidence level of .01, I reject my null hypothesis.

---

# 4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [38]:
rep['water-project-cost-sharing'].mean()

0.5067567567567568

In [39]:
dem['water-project-cost-sharing'].mean()

0.502092050209205

In [26]:
voting_records.head(1)

        party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0

[1 rows x 17 columns]

In [56]:
# p < 0.1
# null hypothesis: there is no difference in the voting rates between democrats and republicans in the immigration bill. (support it equal)
# alternative hypothesis: there is a difference between the voting rates between republican and democrat where republicans supported the bill more.
# confidence level 99%

ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.08893998898558053, pvalue=0.9291867875225105)

based on the pvalue of .93 i fail to regect my null hypothesis.the pvalue of 
.93 is greater than my conficence level of .1

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [55]:
def ttest(x):
    return ttest_ind(rep[x], dem[x], nan_policy='omit')

ttest('water-project-cost-sharing')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
mylist = voting_records.columns.to_list()

In [53]:
dropped_voting_records = voting_records.drop(['party'], axis=1)
dropped_voting_records.apply(ttest())

NameError: ignored