<a href="https://colab.research.google.com/github/jproctor-rebecca/DS-Unit-1-Sprint-2-Statistics/blob/master/module3/LS_DS_123_Confidence_Intervals_Assignment_RJProctor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Confidence Intervals

The following url can be used to access an abbreviated version of responses to Stack Overflow's 2018 Developer Survey. The original Survey had ~100k respondents but the data is quite dirty so I have selected a cleaner subset of it for you to use for your assignment.

<https://raw.githubusercontent.com/ryanleeallred/datasets/master/bootcampers.csv>

The provided dataset holds 14 columns of information about individuals who make less than 500k per year and who responded that they had: 

"Participated in a full-time developer training program or bootcamp"

## Part 1 - Setting the Stage

**1) Load the dataset**

In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pandas.util.testing as tm
from scipy import stats
from scipy.stats import ttest_ind
import seaborn as sns
from numpy.random import RandomState

In [1]:
!wget https://raw.githubusercontent.com/ryanleeallred/datasets/master/bootcampers.csv

--2020-07-15 18:59:40--  https://raw.githubusercontent.com/ryanleeallred/datasets/master/bootcampers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2499384 (2.4M) [text/plain]
Saving to: ‘bootcampers.csv’

bootcampers.csv     100%[===================>]   2.38M  8.01MB/s    in 0.3s

2020-07-15 18:59:40 (8.01 MB/s) - ‘bootcampers.csv’ saved [2499384/2499384]

In [56]:
bootcampers = pd.read_csv('bootcampers.csv')

print(bootcampers.shape)

(2761, 15)

In [6]:
bootcampers.describe()

         Unnamed: 0  ConvertedSalary
count   2761.000000      2761.000000
mean   41208.962332     73453.404201
std    23947.027421     57710.453235
min       62.000000         0.000000
25%    20096.000000     32628.000000
50%    40573.000000     65340.000000
75%    62085.000000    100000.000000
max    87131.000000    499344.000000

In [7]:
bootcampers.isnull().sum()

Unnamed: 0            0
Student               0
Employment            0
UndergradMajor        0
DevType               0
YearsCoding           0
YearsCodingProf       0
ConvertedSalary       0
EducationTypes        0
SelfTaughtTypes       0
TimeAfterBootcamp     0
LanguageWorkedWith    0
Gender                0
Age                   0
RaceEthnicity         0
dtype: int64

In [8]:
bootcampers.head()

   Unnamed: 0         Student  ...                Age                 RaceEthnicity
0          62              No  ...  25 - 34 years old  White or of European descent
1          73              No  ...  25 - 34 years old  White or of European descent
2         127  Yes, full-time  ...  25 - 34 years old                    East Asian
3         140              No  ...  25 - 34 years old  White or of European descent
4         153              No  ...  25 - 34 years old  White or of European descent

[5 rows x 15 columns]

**2) Select two random samples from this dataset, one with a sample size of 20 and the other with a sample size of 200. (Use a `random_state` of `42` when selecting the samples)**

In [62]:
# bootcampers_means_small = []
# bootcampers_means_large = []

size_small = 20
size_large = 200
r_s = 42
size_population = 2761

In [63]:
# sample mean to build a confidence interval around:
bootcampers_small = bootcampers.sample(size_small, random_state=r_s)

bootcampers_small.head()

#for x in range(0, size_population):
 # bootcampers_small = np.random.binomial(n=1, p=.5, size=size_small)
    # one_small_sample = bootcampers_small
 # bootcampers_means_small.append(bootcampers_small.mean().RandomState(42)
 
#for x in range(0, size_population):
 # bootcampers_large = np.random.binomial(n=1, p=.5, size=size_large)
    # one_large_sample = bootcampers_large
 # bootcampers_means_large.append(bootcampers_large.mean().RandomState(42)

      Unnamed: 0  ...                                      RaceEthnicity
367        11175  ...  Native American, Pacific Islander, or Indigeno...
2759       87070  ...                        Black or of African descent
1330       39067  ...                       White or of European descent
2750       86288  ...                       White or of European descent
521        15370  ...                          East Asian;Middle Eastern

[5 rows x 15 columns]

In [65]:
bootcampers_large = bootcampers.sample(size_large, random_state=r_s)

bootcampers_large.head()

      Unnamed: 0  ...                                      RaceEthnicity
367        11175  ...  Native American, Pacific Islander, or Indigeno...
2759       87070  ...                        Black or of African descent
1330       39067  ...                       White or of European descent
2750       86288  ...                       White or of European descent
521        15370  ...                          East Asian;Middle Eastern

[5 rows x 15 columns]

**3) Calculate and report the sample means of the `ConvertedSalary` column for both of the samples.**

In [ ]:
cs_small = pd.bootcampers_small({'ConvertedSalary': bootcampers_means_small})

cs_small.head()

In [ ]:
cs_large = pd.bootcampers_large({'ConvertedSalary': bootcampers_means_large})

cs_large.head()

**4) Both of these sample means are estimates of an underlying population value. Which sample mean do you trust more? Why? Would a non-technical audience have any idea about which of these values is more trustworthy?**

Statistical power is the probability of finding a statistically significant result, given that there really is a difference (or effect) in the population. ... So, larger sample sizes give more reliable results with greater precision and power, but they also cost more time and money.  Graphs can be invaluable, allowing statisticians to provide a visual interpretation of complex numerical stories.  Graphs also help to overcome the barriar of technical language.

**5) Does just the point estimate (individual value of the sample mean) indicate to you anything about how much sampling error there could be with these estimates?**

The mean proportion addresses the question about the average per person and the population proportion addresses the question of population intakes.  

A point estimate of a population parameter is a single value of a statistic. In the example above, the sample mean of  is a point estimate of the population mean μ. Similarly, the sample proportion p is a point estimate of the population proportion P

**6) What strategies could we use when reporting these numbers to not only report our estimates but also to give non-technical readers an idea about how far off our estimates might be due to sampling error?**

## Part 2 - Reporting CIs / MOEs along with our point estimates for more context.

**1) Calculate and report a 95% confidence interval around both of the sample means from part 1.**

**2) Which confidence interval is wider and why?**

The confidence interval of the first sample is much wider. Due to its lower sample size the standard error of our estimate is much larger causing the potential distribution of sample means to be much more spread out. A confidence interval catches 95% of this theoretical distriution of sample means so if our standard error is larger, our confidence interval will be wider as well.

**3) Report the mean and the margin of error for both of the sample means. What does the Margin of Error Represent?**

The margin of error gives an idea of how far off our estimates might be (with 95% confidence). We're trying to supply a plausible range for our parameter of interest (the true average salary of bootcamp grads).

## Part 3 - Communicate the Precision of Sample Estimates Graphically

**1) Create a plot using `plt.errorbar` that compares both of the confidence intervals.**

**2) Create a plot using `plt.bar` that compares both of the confidence intervals.**

## Part 4 - Check for Understanding

**Calculate a Confidence Interval using the entire dataset. How precise do our estimates get?**

**What does "precision" mean in the context of statistical estimates and how is that different from "accuracy?"**

Precision refers to the closeness of two or more measurements to each other. If you weigh a given substance five times, and get 3.2 kg each time, then your measurement is very precise. Precision is independent of accuracy. You can be very precise but inaccurate. 
The accuracy of statistical information is the degree to which the information correctly describes the phenomena it was designed to measure. It is usually characterized in terms of error in statistical estimates and is traditionally decomposed into bias (systematic error) and variance (random error) components.

**It is very common to misunderstand what is captured by a 95% confidence interval. What is the correct interpretation? ([Hint](https://www.statisticssolutions.com/misconceptions-about-confidence-intervals/))**

# Stretch Goals:

1) Study the relationship between t-tests and confidence intervals.
 - Find a sample mean that we have worked with and construct a 95% confidence interval around it. (find the lower and upper bounds)
 - Run a 1-sample t-test with the null hypothesis value being just barely **outside** of the confidence interval. What is the p-value?
 - Run a 1-sample t-test with the null hypothesis value being just barely **inside** of the confidence interval. What is the p-value?

  What does it mean when we say that the boundaries of the confidence interval are the boundaries of statistical significance in a 1-sample t-test?


2) Go back to our [congressional voting dataset](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records) and build confidence intervals around the means of all of the issues for a single party. Compare all of those confidence intervals graphically on a single graph. 

3) Dive deeper into the [2018 Stack Overflow Survey](https://www.kaggle.com/stackoverflow/stack-overflow-2018-developer-survey) results to see what cool things you can find.