<a href="https://colab.research.google.com/github/DareToExpose/DS-Unit-1-Sprint-2-Statistics/blob/master/272020_LSDS_Intro_Assignment_1_Getting_Started_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

# Lambda School Data Science - Getting Started with Python

Following are exercises you should complete after watching the first intro lecture. Workflow:

1. Sign in to a Google account
2. Copy the notebook (`File` -> `Save a copy in Drive`)
3. Complete the exercises! This means fill out the code cells, and run them (shift-enter or click the play button that appears when you're in one of them)
4. Take a look at your work, and write comments/add text cells as appropriate to explain
5. Make the notebook URL viewable and submit with the standup form

## Exercise 1 - A bit of Math

For these "word" problems, use Python to clearly solve them. Your code will "show your work" - use good variable names! To show your answers you should write a `print()` statement at the end.

As you work, follow the **20 minute rule** - that means if you're stuck on something for 20 minutes, you should ask a question!

### a) It's a gas

A taxi driver is calculating their profit over two weeks by adding up the fares they charge and subtracting the cost of gas. The price of gas changes over time - it was `$3.52`/gallon the first week and `$3.57`/gallon this second week. Their car gets 20 miles per gallon.

For the first week the driver had a total of 23 passengers with average `$29` fare each, and drove a total of 160 miles. For the second week they had 17 passengers with average `$30` fare each, and drove a total of 220 miles. Assume that for both weeks they purchase all the gas needed during that week (i.e. they refuel every week to maintain a constant level of gas in the tank).

Based on the above, answer the following questions:

- What is their total profit over both weeks?
- During which week was their average (mean) profit per passenger higher?

In [0]:
# TODO your code here!
import numpy as np
import pandas as pd
# Define variables
w1 = pd.Series([160, 23, 29], index=['miles','fare','riders'])
w2 = pd.Series([220, 17, 30],index=['miles','fare','riders'])
features = 'miles', 'fare', 'riders'

# Calculate week 1
g1 = 3.52
g2 = 3.57
mpg = 20

# Week 1 calculations
tmpg = (w1[0:] / 20) * (g1)
tfare = w1[1]
trider = w1[2]

# Week 2 calculations
tmpg1 = (w2[0:]) / 20 * (g2)
tfare1 = w2[1]
trider1 = w2[2]

# Calculate Fares week 1 and week 2
g3 = (tfare * trider) - tmpg
g4 = (tfare1 * trider1) - tmpg1

# Calculate Profits week 1 and week 2
# profits = g3
# profits1 = g4 
# tmprofits = profits + profits1
#profits = (w1[1:1] * w1[1:2]) - tmpg
# profits()
farefits = g3[1:2] - tmpg
farefits1 = g4[1:2] - tmpg
profits = (farefits + farefits1) / 2
profits

fare      580.91075
miles           NaN
riders          NaN
dtype: float64

In [0]:
print('Profits for week 1:')
farefits[0:1]

Profits for week 1:

fare    658.904
dtype: float64

In [0]:
print('Profits for week 2: ')
farefits1[0:1]

Profits for week 2:

fare    502.9175
dtype: float64

In [0]:
print('Highest Profits mean between week 1 and week 2','\n')
profits.mean()

Highest Profits mean between week 1 and week 2

580.91075

### b) Mo' money...

A cash drawer contains 160 bills, all 10s and 50s. The total value of the 10s and 50s is $1,760.

How many of each type of bill are in the drawer? You can figure this out by trial and error (or by doing algebra with pencil and paper), but try to use loops and conditionals to check a plausible possibilities and stop when you find the correct one.

In [0]:
import numpy as np
import pandas as pd

x = 10
y = 50
z = 1760
count = dcountx, dcounty
if x >=z:
 dcountx = z-dcountx 
 dcounty = z-dcounty

h = z - x
h1 = z - y
h / x, h1 / y

(175.0, 34.2)

In [0]:

x = 160 / 10
y = 160 / 50 
z = 1760 
x1 = round(x) 
y1 = round(y)
t = x1 + y1
to = x * x1
ty = y * y1
if x<=z:

 if y<=z:
  print(round(y1))
  print(x1,'Tens')

3
16 Tens

## Exercise 2 - Drawing a plot

Use NumPy and Matplotlib to draw a scatterplot of uniform random `(x, y)` values all drawn from the `[0, 1]` interval. Helpful documentation:

*   https://matplotlib.org/tutorials/index.html
*   https://docs.scipy.org/doc/numpy/user/quickstart.html

Stretch goal - draw more plots! You can refer to the [Matplotlib gallery](https://matplotlib.org/gallery.html) for inspiration, but don't just reproduce something - try to apply it to your own data.

How to get data? There's *many* ways, but a good place to get started is with [sklearn.datasets](http://scikit-learn.org/stable/datasets/index.html):

```
from sklearn import datasets
dir(datasets)
```

In [0]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
x = axis = 0
y = axis = 1
print(x,y)

0 1

## Exercise 3 - Writing a function
Write a function that, given a list of numbers, calculates the mean, median, and mode of those numbers. Return a dictionary with properties for the mean, median and mode. 

For example:
# New Section
```
mmm_dict = meanMedianMode([1, 2, 6, 7, 8, 9, 3, 4, 5, 10, 10])
print(mmm_dict)
> {'mean': 5.909090909090909, 'median': 6, 'mode': 10}
```

There are Python standard libraries that make calculating these numbers very easy, but first try your hand at implementing it using the `reduce()` function:

In [0]:
from functools import reduce
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [0]:
def meanMedianMode(numbers):
    # TODO your code here!
    return