<a href="https://colab.research.google.com/github/anitashar/DS-Unit-1-Sprint-2-Statistics/blob/master/ANITA_SHARMA_Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
from scipy.stats import ttest_ind

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-11-14 01:22:06--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2019-11-14 01:22:07 (124 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
# dataframe
column_headers = ['Class Name','handicapped-infants','water-project-cost-sharing',
                          'adoption-of-the-budget-resolution','physician-fee-freeze',' el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban',
                  'aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback',' education-spending','superfund-right-to-sue',
                  ' crime',' duty-free-exports','export-administration-act-south-africa']

In [10]:
df=pd.read_csv('house-votes-84.data' , header=None , names=column_headers ,na_values='?')
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [12]:
# change records as numeric
df= df.replace({'y':1,'n':0})
df.head(2)

   Class Name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN

[2 rows x 17 columns]

In [13]:
# votes from each party
df['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [14]:
# shape
df.shape

(435, 17)

In [18]:
# vote from rep

rep = df[df['Class Name']=='republican']
len(rep)

168

In [21]:
# vote from dem
dem = df[df['Class Name']=='democrat']
len(dem)

267

In [22]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           165.000000  ...                              146.000000
mean              0.187879  ...                                0.657534
std               0.391804  ...                                0.476168
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [24]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           258.000000  ...                              185.000000
mean              0.604651  ...                                0.935135
std               0.489876  ...                                0.246956
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [36]:
# Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01


ttest_ind(rep['adoption-of-the-budget-resolution'], dem['adoption-of-the-budget-resolution'], nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [37]:
# rejecting the null hythosis
ttest_ind(rep['adoption-of-the-budget-resolution'], dem['adoption-of-the-budget-resolution'], nan_policy='omit').pvalue<0.01

True

In [48]:
# Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], nan_policy='omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [49]:
ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], nan_policy='omit').pvalue<0.01

True

In [46]:
# Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
ttest_ind(rep['water-project-cost-sharing'], dem['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [47]:
# fail to reject the null hypothesis

ttest_ind(rep['water-project-cost-sharing'], dem['water-project-cost-sharing'], nan_policy='omit').pvalue>0.1

True