<a href="https://colab.research.google.com/github/Cknowles11/DS-Unit-1-Sprint-2-Statistics/blob/master/Carlos_Knowles_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Carlos_Knowles

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [20]:
### YOUR WORK HERE
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
auto = pd.read_csv(url, names = columns, na_values = '?')
auto.head()

   Symbolizing  Normalized-Losses         Make  ... City-mpg Highway-mpg    Price
0            3                NaN  alfa-romero  ...       21          27  13495.0
1            3                NaN  alfa-romero  ...       21          27  16500.0
2            1                NaN  alfa-romero  ...       19          26  16500.0
3            2              164.0         audi  ...       24          30  13950.0
4            2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [19]:
columns = ['Symbolizing', 'Normalized-Losses', 'Make', 'Fuel-Type', 'Aspiration', 'Num-Of-Doors', 'Body-Style', 'Drive-Wheels', 'Engine-Location', 'Wheel-Base', 'Length', 'Width', 'Height', 'Curb-Weight', 'Engine-Type', 'Num-Of-Cylinders', 'Engine-Size', 'Fuel-System', 'Bore', 'Stroke', 'Compression-Ratio', 'Horsepower', 'Peak-Rpm', 'City-mpg', 'Highway-mpg', 'Price']

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [25]:
### YOUR WORK HERE
from scipy.stats import ttest_1samp
auto.sample(10, random_state = 30)

     Symbolizing  Normalized-Losses  ... Highway-mpg    Price
121            1              154.0  ...          38   6692.0
176           -1               65.0  ...          32  10898.0
24             1              148.0  ...          38   6229.0
88            -1              137.0  ...          30   9279.0
72             3              142.0  ...          18  35056.0
103            0              108.0  ...          25  13499.0
26             1              148.0  ...          38   7609.0
20             0               81.0  ...          43   6575.0
155            0               91.0  ...          32   8778.0
185            2               94.0  ...          34   8195.0

[10 rows x 26 columns]

In [24]:
auto['Highway-mpg'].mean()

30.75121951219512

In [27]:
ttest_1samp(auto['Highway-mpg'],30.7, nan_policy='omit')
#With a pvalue larger than .05 I can say that my estimated sample mean is similar to the population mean.

Ttest_1sampResult(statistic=0.1064921029062146, pvalue=0.9152965690747114)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [28]:
### YOUR WORK HERE
auto.sample(10, random_state = 30)

     Symbolizing  Normalized-Losses  ... Highway-mpg    Price
121            1              154.0  ...          38   6692.0
176           -1               65.0  ...          32  10898.0
24             1              148.0  ...          38   6229.0
88            -1              137.0  ...          30   9279.0
72             3              142.0  ...          18  35056.0
103            0              108.0  ...          25  13499.0
26             1              148.0  ...          38   7609.0
20             0               81.0  ...          43   6575.0
155            0               91.0  ...          32   8778.0
185            2               94.0  ...          34   8195.0

[10 rows x 26 columns]

In [34]:
ttest_1samp(auto['Highway-mpg'], 35, nan_policy='omit')
#With a pvalue lower than .05 I cannot support his claim that he typically sells cars that get 35 highway-mpg

Ttest_1sampResult(statistic=-8.83377348869654, pvalue=4.693897077642121e-16)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [35]:
### YOUR WORK HERE
auto.sample(100, random_state = 30)

     Symbolizing  Normalized-Losses  ... Highway-mpg    Price
121            1              154.0  ...          38   6692.0
176           -1               65.0  ...          32  10898.0
24             1              148.0  ...          38   6229.0
88            -1              137.0  ...          30   9279.0
72             3              142.0  ...          18  35056.0
..           ...                ...  ...         ...      ...
189            3                NaN  ...          29  11595.0
192            0                NaN  ...          38  13845.0
171            2              134.0  ...          30  11549.0
203           -1               95.0  ...          27  22470.0
47             0              145.0  ...          19  32250.0

[100 rows x 26 columns]

In [36]:
ttest_1samp(auto['Highway-mpg'], 35, nan_policy='omit')
#After taking a sample of 100 i still cannot support his claim with a pvalue less than .05

Ttest_1sampResult(statistic=-8.83377348869654, pvalue=4.693897077642121e-16)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [43]:
### YOUR WORK HERE
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
columns1 = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free','south-africa']
congress = pd.read_csv(url, names = columns1, header = None, na_values = '?')
congress = congress.replace({'y':1, 'n':0})

In [44]:
congress.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [46]:
rep = congress[congress['party']=='republican']
dem = congress[congress['party']=='democrat']

In [47]:
print(rep.shape)
print(dem.shape)

(168, 17)
(267, 17)

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [53]:
### YOUR WORK HERE
#My null hypothesis is that the mean votes of republicans and democrats will be the same
#My alternative hypothesis is that the mean votes of republicans and democrats will be different
#Confidence level: 99%
#I conclude that there is a large difference between the mean votes of republicans and democrats with pvalue lower than .01
from scipy.stats import ttest_ind
print(dem['budget'].mean())
print(rep['budget'].mean())

ttest_ind(dem['budget'], rep['budget'], nan_policy='omit')

0.8884615384615384
0.13414634146341464

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [57]:
##My null hypothesis is that the mean votes of republicans and democrats will be the same
#My alternative hypothesis is that the mean votes of republicans and democrats will be different
#Confidence level: 99%
#I conclude that there is a large difference between the mean votes of republicans and democrats with pvalue lower than .01
print(dem['right-to-sue'].mean())
print(rep['right-to-sue'].mean())

ttest_ind(dem['right-to-sue'],rep['right-to-sue'], nan_policy = 'omit')

0.2896825396825397
0.8607594936708861

Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672758e-34)

In [63]:
##My null hypothesis is that the mean votes of republicans and democrats will be the same
#My alternative hypothesis is that the mean votes of republicans and democrats will be different
#Confidence level: 90%
#I conclude that there is not a difference between the mean votes of republicans and democrats with pvalue greater than .1
ttest_ind(dem['water-project'], rep['water-project'], nan_policy='omit')
print(rep['water-project'].mean())
print(dem['water-project'].mean())

0.5067567567567568
0.502092050209205

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE