<a href="https://colab.research.google.com/github/mattdmeans/DS-Unit-1-Sprint-2-Statistics/blob/master/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
from scipy import stats

df = pd.read_csv('/content/imports-85.data')

In [4]:
df.head()

   3    ?  alfa-romero  gas  std   two  ...  9.00  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...   8.5  110  5500  19  25  15250

[5 rows x 26 columns]

In [0]:
headers = ['symboling', 'norm-loss', 'make', 'fuel-type', 'aspiration', 'doors', 'body-style', 'drive', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compr_ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'hwy-mpg', 'price']

In [0]:
df = pd.read_csv('/content/imports-85.data', header = None, names = headers)

In [23]:
df.head()

   symboling norm-loss         make  ... city-mpg hwy-mpg  price
0          3         ?  alfa-romero  ...       21      27  13495
1          3         ?  alfa-romero  ...       21      27  16500
2          1         ?  alfa-romero  ...       19      26  16500
3          2       164         audi  ...       24      30  13950
4          2       164         audi  ...       18      22  17450

[5 rows x 26 columns]

In [0]:
df = df.replace({'?':np.NaN})

In [25]:
df.head()

   symboling norm-loss         make  ... city-mpg hwy-mpg  price
0          3       NaN  alfa-romero  ...       21      27  13495
1          3       NaN  alfa-romero  ...       21      27  16500
2          1       NaN  alfa-romero  ...       19      26  16500
3          2       164         audi  ...       24      30  13950
4          2       164         audi  ...       18      22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [0]:
### YOUR WORK HERE

sample = df.sample(n = 10, random_state= 30)

In [29]:
print(sample['hwy-mpg'].mean())
print(df['hwy-mpg'].mean())

32.8
30.75121951219512

Two could very well be a marketable difference but the sample is too small to know for sure

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [31]:
### YOUR WORK HERE

stats.ttest_1samp(sample['hwy-mpg'], .05, nan_policy= 'omit')

Ttest_1sampResult(statistic=14.246613293271025, pvalue=1.763428876427149e-07)

In [36]:
sample2['hwy-mpg'].mean()

30.64

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [0]:
sample2 = df.sample(n = 100, random_state= 30)

In [35]:
stats.ttest_1samp(sample2['hwy-mpg'], .05, nan_policy = 'omit')

Ttest_1sampResult(statistic=45.734324932718316, pvalue=2.1809947925859347e-68)

Our car salesman was rather optomistic about the highway mileage of their cars. The p-value is suggests we reject the null hypothesis that our sample was essentially representative of the rest of their lot.

In [0]:
# YOUR WORK HERE

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The extra cars included could have pushed it closer or further away from the null hypothesis

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [0]:
### YOUR WORK HERE
c_headers = ['party', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution',
             'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban',
             'aid-to-nicaraguan-contras', 'mx-missile', 'immigration', 'synfuels-corporation-cutback',
             'education-spending', 'superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa']
dfc = pd.read_csv('/content/house-votes-84.data', header = None, names = c_headers)

In [40]:
dfc.head()

        party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [42]:
dfc = dfc.replace({'y': 1, 'n': 0, '?': np.NaN})
dfc.head()

        party  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
dem = dfc[dfc['party'] == 'democrat']
rep = dfc[dfc['party'] == 'republican']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [46]:
### YOUR WORK HERE
# Null hypothesis is that dems and reps support the bill equally

stats.ttest_ind(dem['physician-fee-freeze'], rep['physician-fee-freeze'], nan_policy= 'omit')

Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)

In [47]:
print(dem['physician-fee-freeze'].mean())
print(rep['physician-fee-freeze'].mean())

0.05405405405405406
0.9878787878787879

In [53]:
stats.ttest_ind(dem['adoption-of-the-budget-resolution'], rep['adoption-of-the-budget-resolution'], nan_policy = 'omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [50]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           258.000000  ...                              185.000000
mean              0.604651  ...                                0.935135
std               0.489876  ...                                0.246956
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [51]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           165.000000  ...                              146.000000
mean              0.187879  ...                                0.657534
std               0.391804  ...                                0.476168
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [55]:
print(dem['adoption-of-the-budget-resolution'].mean())
print(rep['adoption-of-the-budget-resolution'].mean())

0.8884615384615384
0.13414634146341464

In [56]:
stats.ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy = 'omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE