<a href="https://colab.research.google.com/github/ndow33/DS-Unit-1-Sprint-2-Statistics/blob/master/DS_Unit_1_Sprint_Challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
#Load the data as a pandas data frame.
import pandas as pd
import numpy as np
column_headers = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 
                  'A11', 'A12', 'A13', 'A14', 'A15', 'A16']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data', 
                 header=None, names=column_headers, na_values='?')
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  202.0    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g   43.0  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  280.0  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  100.0    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  120.0    0   +

Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).

In [0]:
#UCI says that there are 690 instances. Let's check with .shape
df.shape

(690, 16)

UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na

In [0]:
df.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

A1: b, a.
A2: continuous.
A3: continuous.
A4: u, y, l, t.
A5: g, p, gg.
A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
A7: v, h, bb, j, n, z, dd, ff, o.
A8: continuous.
A9: t, f.
A10: t, f.
A11: continuous.
A12: t, f.
A13: g, p, s.
A14: continuous.
A15: continuous.
A16: +,- (class attribute)

In [0]:
df = df.astype({'A11': 'float'})

In [0]:
df = df.astype({'A15': 'float'})

In [0]:
df.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11    float64
A12     object
A13     object
A14    float64
A15    float64
A16     object
dtype: object

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [0]:
from scipy.stats import ttest_ind, ttest_1samp

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is extremely different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

In [0]:
#Make a continuous features df of + and - 
plus = df[df['A16']=='+']
minus = df[df['A16']=='-']
#find features with highly different means between the plus and minus groups

In [0]:
#Explore the data: I did this with all 6 features of floats but have left just the 
#two that I decided to use: A14 and A15

print(plus['A14'].describe())
minus['A14'].describe()

count    301.000000
mean     164.421927
std      161.770675
min        0.000000
25%        0.000000
50%      120.000000
75%      280.000000
max      840.000000
Name: A14, dtype: float64

count     376.000000
mean      199.699468
std       181.564835
min         0.000000
25%       100.000000
50%       167.500000
75%       272.000000
max      2000.000000
Name: A14, dtype: float64

In [0]:
print(plus['A15'].describe())
minus['A15'].describe()

count       307.000000
mean       2038.859935
std        7659.763941
min           0.000000
25%           0.000000
50%         221.000000
75%        1209.000000
max      100000.000000
Name: A15, dtype: float64

count     383.000000
mean      198.605744
std       671.608839
min         0.000000
25%         0.000000
50%         1.000000
75%        67.000000
max      5552.000000
Name: A15, dtype: float64

In [0]:
# Remove NaN values from plus[a14]
col1 = plus['A14']
np.isnan(col1)
a14_plus = col1[~np.isnan(col1)]
# The same column as before, but I've dropped the NaN values
a14_plus

0      202.0
1       43.0
2      280.0
3      100.0
4      120.0
       ...
598    240.0
599    200.0
600    380.0
606      0.0
621      0.0
Name: A14, Length: 301, dtype: float64

In [0]:
# Remove NaN values from minus[a14]
col2= minus['A14']
np.isnan(col2)
a14_minus = col2[~np.isnan(col2)]
# The same column as before, but I've dropped the NaN values
a14_minus

70     420.0
72     980.0
73     400.0
74     160.0
75     160.0
       ...
685    260.0
686    200.0
687    200.0
688    280.0
689      0.0
Name: A14, Length: 376, dtype: float64

In [0]:
#create variables for the means
a14_plus_mean = a14_plus.mean()
a14_minus_mean= minus['A14'].mean()

print(a14_plus_mean)
print(a14_minus_mean)

164.421926910299
199.6994680851064

In [0]:
#run a ttest with A14 plus and minus
a14_pval = ttest_ind(a14_plus, a14_minus).pvalue/2
a14_pval

0.004293067736990061

In [0]:
# Remove NaN values from plus[a15] 
col3 = plus['A15']
np.isnan(col3)
a15_plus = col3[~np.isnan(col3)]
# The same column as before, but I've dropped the NaN values
a15_plus

0         0.0
1       560.0
2       824.0
3         3.0
4         0.0
        ...
599    3000.0
600     500.0
606       0.0
621       0.0
622       0.0
Name: A15, Length: 307, dtype: float64

In [0]:
# Remove NaN values from minus[a15] 
col4 = minus['A15']
np.isnan(col4)
a15_minus = col4[~np.isnan(col4)]
# The same column as before, but I've dropped the NaN values
a15_minus

70       0.0
71       0.0
72       0.0
73       0.0
74       2.0
       ...
685      0.0
686    394.0
687      1.0
688    750.0
689      0.0
Name: A15, Length: 383, dtype: float64

In [0]:
#create variables for the means
a15_plus_mean = a15_plus.mean()
a15_minus_mean = a15_minus.mean()

print(a15_plus_mean)
print(a15_minus_mean)

2038.85993485342
198.60574412532637

In [0]:
#run a two tailed ttest on A15 plus and minus
a15_pval = ttest_ind(a15_plus, a15_minus).pvalue/2
a15_pval

1.7260128478143972e-06

For the categorical features, explore by creating "cross tabs" (aka contingency tables) between them and the class label, and apply the Chi-squared test to them. pandas.crosstab can create contingency tables, and scipy.stats.chi2_contingency can calculate the Chi-squared statistic for them.

In [0]:
#some crosstabs
a1 = pd.crosstab(df['A16'], df['A1'])
a1

A1     a    b
A16
+     98  206
-    112  262

In [0]:
a4 = pd.crosstab(df['A16'], df['A4'])
a4

A4   l    u    y
A16
+    2  256   45
-    0  263  118

In [0]:
a5= pd.crosstab(df['A16'], df['A5'])
a5

A5     g  gg    p
A16
+    256   2   45
-    263   0  118

In [0]:
a6 = pd.crosstab(df['A16'], df['A6'])
a6

A6   aa   c  cc   d   e  ff   i  j   k   m   q  r   w   x
A16
+    19  62  29   7  14   7  14  3  14  16  51  2  33  32
-    35  75  12  23  11  46  45  7  37  22  27  1  31   6

In [0]:
a7 = pd.crosstab(df['A16'], df['A7'])
a7

A7   bb  dd  ff   h  j  n  o    v  z
A16
+    25   2   8  87  3  2  1  169  6
-    34   4  49  51  5  2  1  230  2

In [0]:
a9 = pd.crosstab(df['A16'], df['A9'])
a9

A9     f    t
A16
+     23  284
-    306   77

In [0]:
a10 = pd.crosstab(df['A16'], df['A10'])
a10

A10    f    t
A16
+     98  209
-    297   86

In [0]:
a12 = pd.crosstab(df['A16'], df['A12'])
a12

A12    f    t
A16
+    161  146
-    213  170

In [0]:
a13 = pd.crosstab(df['A16'], df['A13'])
a13

A13    g  p   s
A16
+    287  5  15
-    338  3  42

In [0]:
#Run a couple of chi square tests on a4 and a12
from scipy.stats import chi2_contingency
chi2_contingency(a4)

(26.234074966202144,
 2.010680204180363e-06,
 2,
 array([[  0.88596491, 229.90789474,  72.20614035],
        [  1.11403509, 289.09210526,  90.79385965]]))

In [0]:
chi2_contingency(a12)

(0.568273300792113,
 0.45094587758631943,
 1,
 array([[166.40289855, 140.59710145],
        [207.59710145, 175.40289855]]))

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

#Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?


I wanted to see if there was a difference between the mean values of a14+ and a14- as well as a15+ an a15-. This is why I ran the two tailed ttests. 

My null hypothesis was that there would be no difference between the a14+ and a14- means. The pvalue for the means of a14+ and a14- came back as .43% meaning that p < .01 so we'd reject the null hypothesis and conclude with 99% confidence that there is a difference between the a14+ and a14- means. 

My null hypothesis was that there would be no difference between the a15+ and a15- means.The pvalue for the means of a15+ and a15- came back as a much smaller number (1.7260128478143972e-06) meaning that that p < .01 so we'd reject the null hypothesis and conclude with 99% confidence that there is a difference between the a14+ and a14- means.

#Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?

For the first chi-squared test, our null hypthosesis would have been that the result of + or - was independent of variable a4. Due to a p-value of 0.0002, we reject the null hypothesis and conclude that there is an association between variable a4 and the result of + or -. 

For the first chi-squared test, our null hypthosesis would have been that the result of + or - was independent of variable a12. Due to a p-value of 0.95, we fail to reject the null hypothesis and conclude that there is no association between variable a12 and the result of + or -.

#What was the most challenging part of this sprint challenge?

The first section was definitely the most challenging for me taking an hour and a half of my time. I couldn't figure out how to type cast the features I needed to type cast. I probably went through it 15 times and felt like I was banging my head against a wall. Then, it just kind of came to me that I wasn't accounting for the NaN's correctly. I also realized that I was overthinking how to replace the old continuous features that weren't floats with float values. Besides that first section, it went relatively smooth.

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

In [0]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.