<a href="https://colab.research.google.com/github/badabad/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
from scipy import stats

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-08-14 15:39:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.1s

2020-08-14 15:39:42 (183 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [ ]:
auto = pd.read_csv('imports-85.data')
auto.columns = ["symboling", 'normalized-losses', 'make', 'fuel-type', 'aspiration' , 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 
                'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 
                'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
auto=auto.replace('?', np.nan)

auto.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  16500
1          1               NaN  alfa-romero  ...       19          26  16500
2          2               164         audi  ...       24          30  13950
3          2               164         audi  ...       18          22  17450
4          2               NaN         audi  ...       19          25  15250

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [ ]:
auto.sample(n=10, random_state=30)

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
146          0                89         subaru  ...       25          31  10198
67          -1                93  mercedes-benz  ...       22          25  28248
26           1               148          dodge  ...       24          30   8558
155          0                91         toyota  ...       30          37   6938
135          3               150           saab  ...       19          26  18150
24           1               148          dodge  ...       31          38   6692
154          0                91         toyota  ...       27          32   8778
195         -2               103          volvo  ...       24          28  15985
132          2               104           saab  ...       21          28  12170
194         -1                74          volvo  ...       23          28  13415

[10 rows x 26 columns]

In [ ]:
auto['highway-mpg'].mean()

30.769607843137255

In [ ]:
### YOUR WORK HERE
ah = auto.sample(n=10,random_state=30)['highway-mpg']
auto.sample(n=10, random_state=30)['highway-mpg'].mean()

30.3

In [ ]:
auto['highway-mpg'].mean()

30.769607843137255

In [ ]:
stats.ttest_1samp(ah,auto['highway-mpg'].mean())

Ttest_1sampResult(statistic=-0.3415894425589548, pvalue=0.7405001258873907)

### Although the sample t test and entire dataset avg highway mpg are slightly different, I would say it is close enough that the t sample is a good reprensentation of the population

## Based on the 1 sample t test, I fail to reject the hypothesis that the sample is representative of the population

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
### YOUR WORK HERE
stats.ttest_1samp(ah,35)

Ttest_1sampResult(statistic=-3.4187469470305465, pvalue=0.007643069993182772)

## given that the probability of these cars getting an avg of 35 highway mpg is 0.76%, I would say that the salesman is lying and I would reject his claim

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
### YOUR WORK HERE
ah2 = auto.sample(n=100,random_state=30)['highway-mpg']
stats.ttest_1samp(ah2,35)

Ttest_1sampResult(statistic=-6.4827186446460106, pvalue=3.5481090083532426e-09)

## After repeating the ttest with a larger sample, the probability of the saleman's claims is even lower. I still continue to reject his claim of 35 highway mpg

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## The two samples may be from the same dataset, but they are different sample sizes. A larger sample size is more accurate

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
### YOUR WORK HERE
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')
df.columns=('party', 'handicapped infants', 'water project', 'adoption of resolution', 'physician fee freeze', 'el salvador aid', 'religious groups in school', 'anti satellite test', 'aid to nicaraguan-contras',
            'mx-miscle', 'immigration', 'synfuels-corp-cuts', 'education spending', 'superfund sue', 'crime', 'duty free imports', 'export admin act SA')
df=df.replace("n",0)
df=df.replace("y",1)
df=df.replace("?",np.nan)
df.head()

        party  handicapped infants  ...  duty free imports  export admin act SA
0  republican                  0.0  ...                0.0                  NaN
1    democrat                  NaN  ...                0.0                  0.0
2    democrat                  0.0  ...                0.0                  1.0
3    democrat                  1.0  ...                1.0                  1.0
4    democrat                  0.0  ...                1.0                  1.0

[5 rows x 17 columns]

In [ ]:
republican=df[df['party']=='republican']
democrat=df[df['party']=='democrat']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE
stats.ttest_ind(democrat['adoption of resolution'], republican['adoption of resolution'], nan_policy = 'omit')

Ttest_indResult(statistic=23.12119107755175, pvalue=6.013425749068062e-77)

In [ ]:
democrat['adoption of resolution'].mean()

0.8884615384615384

In [ ]:
republican['adoption of resolution'].mean()

0.13496932515337423

In [ ]:
stats.ttest_ind(democrat['education spending'], republican['education spending'], nan_policy = 'omit')

Ttest_indResult(statistic=-20.414298768685285, pvalue=4.967619782338976e-64)

In [ ]:
democrat['education spending'].mean()

0.14457831325301204

In [ ]:
republican['education spending'].mean()

0.8701298701298701

### Republicans support education spending significantly more. Democrats support the adoption of the budget resolution significantly more

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE