<a href="https://colab.research.google.com/github/johhan27/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_ttests_Assignment_ANSWERS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Lambda School Data Science - Unit 1 Sprint 2 Module 1

## Hypothesis Testing - One and two-sample t-Tests

### Objectives

* Explain the purpose of a t-test and identify applications
* Use a t-test for independence to test for a statistically significant association between two categorical variables
* Use a t-test p-value to draw the correct conclusion about the null and alternative hypothesis

#### Total notebook points: 9

### Introduction

Mosquito nets have traditionally been an important tool to prevent mosquito bites in parts of the world where malaria is endemic. However, it may not be practical for an army that is on the move to set up and carry mosquito nets each night and day. Impregnating soldiersâ€™ uniforms with insect repellent solves the mobility problem but also has drawbacks. First, the insect repellent quickly becomes ineffective with repeated washing and ironing and must be frequently reapplied. Second, in hot and humid climates the insect repellent can be absorbed through the skin, and the long-term effects of this exposure are unknown. One compromise is to have soldiers apply patches treated with insect repellent to their clothing. These patches would last longer because they would not be washed or ironed and would not expose the entire body to the insect repellent.

### Dataset Description

The `Mosquito.xlsx` dataset contains data recorded in an experiment conducted on male soldiers in the Indian Army who were stationed in the Tezpur/Solmara garrison in Northeast India. Thirty soldiers were randomly selected to receive one of three types of mosquito single repellent patch. After giving informed consent, the study participants affixed the patches at predetermined points on their uniforms and research assistants (who were blinded to the type of repellent used) counted the number of times a mosquito landed on each individual in an hour. 

Medical officers with the Indian Army have recorded data on mosquito bites and related illness for many years and can say with authority that the mean number of mosquito touches for soldiers not wearing any mosquito repellent is 8.2 per hour.**We wish to determine if wearing a single repellent patch changes the mean number of mosquito touches for soldiers compared to not wearing any mosquito repellant.**

*Adapted from: A. Bhatnagar and V.K. Mehta (2007). "Efficacy of Deltamethrin and Cyfluthrin Impregnated Cloth Over Uniform Against Mosquito Bites," Medical Journal Armed Forces India, Vol. 63, pp. 120-122.*

**Task 1** - Load the data

Let's load the data! The URL has been provided as well as the imports for pandas and numpy.

* load your CSV file into a DataFrame named `df_mosquito`

In [1]:
# Task 1
import pandas as pd
import numpy as np

# URL for the dataset
data_url = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Mosquito/Mosquito.csv'

# YOUR CODE HERE
df_mosquito = pd.read_csv(data_url)

# Print out your DataFrame
df_mosquito.head()

   ID  Mosq_count
0   1           4
1   2          10
2   3          13
3   4           0
4   5          11

In [2]:
df_mosquito.describe()

              ID  Mosq_count
count  90.000000   90.000000
mean   45.500000    8.011111
std    26.124701    3.282553
min     1.000000    0.000000
25%    23.250000    6.000000
50%    45.500000    7.000000
75%    67.750000   10.000000
max    90.000000   18.000000

**Task 1 Test**

In [3]:
# Task 1 - Test

assert isinstance(df_mosquito, pd.DataFrame), 'Have you created a DataFrame named `df_mosquito`?'
assert len(df_mosquito) == 90

**Task 2 -** Statistical hypotheses

Write the null and alternative hypotheses using the experiment information described above.

This task will not be autograded - but it is part of completing the challenge.

**Task 2 ANSWER:**

FILL IN YOUR ANSWERS BELOW

Null hypothesis: Wearing a single repellent patch **DOES NOT change** the mean number of mosquito touches (8.2/hour) compared to not wearing any mosquito repellant.

Alternative hypothesis: Wearing a single repellent patch **DOES change** the mean number of mosquito touches (8.2/hour) compared to not wearing any mosquito repellant.

$H_0: \mu =$ 8.2

$H_a: \mu \neq$ 8.2

**Task 3** - Calculate the mean

* Calculate the mean number of mosquito touches in the sample. Assign your answer to the variable `mosquito_touch_mean`.

In [4]:
# Task 3

# YOUR CODE HERE
mosquito_touch_mean = df_mosquito['Mosq_count'].mean()
mosquito_touch_mean

8.011111111111111

**Task 3 Test**

In [5]:
# Task 3 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 4** - Calculate the standard deviation

* Calculate the standard deviation of the number of mosquito touches in the sample. Assign your answer to `mosquito_touch_std`.

In [6]:
# Task 4

# YOUR CODE HERE
mosquito_touch_std = df_mosquito['Mosq_count'].std()
mosquito_touch_std

3.2825532828777257

**Task 4 Test**

In [7]:
# Task 4 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 5** - One-sample t-test

* Conduct a 1-sample t-test to test your hypotheses. Assign your t-test result to the variable `mosquito_pval`.

*Hint: The `stats.ttest_1samp()` function returns two values; read the documentation to select the p-value*

In [16]:
# Task 5

# Use the 'ttest_1samp' from the stats package
from scipy import stats

# YOUR CODE HERE
#rvs = stats.norm.rvs(loc=mosquito_touch_mean, scale=mosquito_touch_std, size=90, random_state=42)
pre_output = stats.ttest_1samp(df_mosquito['Mosq_count'], popmean=8.2)

In [17]:
pre_output

Ttest_1sampResult(statistic=-0.5459035044790239, pvalue=0.5864980356272131)

In [18]:
mosquito_pval = pre_output[1]
mosquito_pval

0.5864980356272131

**Task 5 Test**

In [ ]:
# Task 5 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 6**

Report your conclusion at the 0.05 significance level. Write your answer in the cell below.

This task will not be autograded - but it is part of the project!



```
# This is formatted as code
```

**Task 6 ANSWER:**

p-value (0.1162) > alpha (0.05)

Therefore, we fail to reject the null hypothesis

***Conclusion: We don't have enough evidence to reject that wearing one repellent does not change the ammount of mosquito touches***

## Use the following information to complete Tasks 7-13

### Introduction

More than 14,000 people finished the 2020 Disney Marathon held on January 12. The results by age and gender group are included in the `Disney.csv dataset`. 

**We wish to determine if the mean finishing time for male and female marathon runners is the same or if there is a difference in the mean finishing time between male and female marathon runners.**


[Source: Track Shack. 2020 Disney Marathon Race Results](https://www.trackshackresults.com/disneysports/results/wdw/wdw20/mar_results.php)

**Task 7** - Load the next dataset

Let's load the data! The URL has been provided.

* load your CSV file into a DataFrame named `df_disney`

In [ ]:
# Task 7

# URL for Disney marathon dataset
data_url2 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Disney_Marathon/Disney.csv'

# YOUR CODE HERE
df_disney = pd.read_csv(data_url2)
df_disney.shape

(14106, 5)

In [ ]:
df_disney.head()

   ID gender  age   group      time
0   1      M   30  M30-34  2.371944
1   2      M   26  M25-29  2.450556
2   3      M   32  M30-34  2.457778
3   4      M   35  M35-39  2.655833
4   5      M   26  M25-29  2.736111

In [ ]:
df_disney.groupby('gender').time.mean()

gender
F    6.291842
M    5.799160
Name: time, dtype: float64

**Task 7 Test**

In [ ]:
# Task 7 - Test

assert isinstance(df_disney, pd.DataFrame), 'Have you created a DataFrame named `df_disney`?'
assert len(df_disney) == 14106

**Task 8** - Write the hypothesis

Write the null and alternative hypotheses for the scenario described above in words and symbols.

This task will not be autograded - but it is part of completing the challenge.

**Task 8 ANSWER:**

FILL IN YOUR ANSWERS BELOW


Null hypothesis: The mean finishing time for male and female runners is THE SAME

Alternative hypothesis: The mean finishing time for male and female runners is DIFFERENT

$H_0: \mu1 =$ $ \mu2 $

$H_a: \mu1 \neq$$  \mu2 $

**Task 9** - Create new series from a DataFrame

Create two separate Series (a pandas DataFrame column is a Series):

* one containing finishing times for male participants (`male_finish`)
* one containing finishing times for female participants (`female_finish`)

In [ ]:
# Task 9

# YOUR CODE HERE
male_finish = df_disney.loc[df_disney['gender']=='M']['time']
female_finish = df_disney.loc[df_disney['gender']=='F']['time']
male_finish, female_finish

(0        2.371944
 1        2.450556
 2        2.457778
 3        2.655833
 4        2.736111
            ...
 14092    7.280556
 14099    7.403333
 14103    7.383333
 14104    7.400000
 14105    7.406944
 Name: time, Length: 6577, dtype: float64, 16       2.905278
 27       2.985278
 61       3.207778
 69       3.244444
 85       3.290833
            ...
 14097    7.380000
 14098    7.385833
 14100    7.380000
 14101    7.320278
 14102    7.340556
 Name: time, Length: 7529, dtype: float64)

**Task 9 Test**

In [ ]:
# Task 9 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 10** - Calculate the mean finishing times

* Calculate the mean finishing time for male and female participants separately. Name your variables `male_finish_mean` and `female_finish_mean`.

In [ ]:
# Task 10

# YOUR CODE HERE
male_finish_mean = male_finish.mean()
female_finish_mean = female_finish.mean()
male_finish_mean, female_finish_mean

(5.799159782400031, 6.291841988756132)

**Task 10 Test**

In [ ]:
# Task 10 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Calculate the standard deviation

* Calculate standard deviation of the mean finishing time for male and female participants separately. Name your variables `male_finish_std` and `female_finish_std`.

In [ ]:
# Task 11

# YOUR CODE HERE
male_finish_std = male_finish.std()
female_finish_std = female_finish.std()
male_finish_std, female_finish_std

(1.100676340530379, 0.896690100351361)

**Task 11 Test**

In [ ]:
# Task 11 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Conduct a 2-sample t-test

Conduct a 2-sample t-test to test your hypotheses:

* Assign the t-statistic to a variable called `disney_tval`
* Assign the p-value to a variable called `disney_pval`

Hint: The function returns two values and you can assign them with one line (example):

`variable1, variable2` = `some.function(arguments)`

In [ ]:
# Task 12
#6577, 7529
# YOUR CODE HERE
rvs1 = stats.norm.rvs(loc=male_finish_mean, scale=male_finish_std, size=6577, random_state=42)
rvs2 = stats.norm.rvs(loc=female_finish_mean, scale=female_finish_std, size=7529, random_state=42)
disney_tval, disney_pval = stats.ttest_ind(rvs1, rvs2)

In [ ]:
disney_tval, disney_pval

(-29.153800632342893, 1.7130172385057435e-181)

**Task 12 Test**

In [ ]:
# Task 12 - Test
# Hidden tests - you will see the results when you submit to Canvas

**Task 13** - Report your result

Report your conclusion at the 0.05 significance level.

This task will not be autograded - but it is part of completing the challenge.

p-value (1.71e-181) < alpha(0.05)

Therefore, we reject the null hypothesis

***Conclusion: We have evidence to reject that the mean finishing times for male and female runners are the same ***

### In your own words, answer the following questions:

These tasks will not be autograded - but they are part of completing the challenge.

**Task 14:** Explain the Central Limit Theorem.

**Regardless of the distribution on the population, if we take different large samples of it, the distribution of the sample means will be equal to a normal distribution.**

**Task 15:** Describe the Normal Distribution.

***Most observations are found closer to the mean and fewer at both sides of the graph in a simetrical sharp "bell" way***

**Task 16:** Describe the relationship between the Normal distribution and the t-distribution.

*** the t-distribution is a flatter bell, and the larger the sample the more it approximates to a normal distribution ***

**Task 17:** Write about who William Sealy Gosset was.

***English statistician who pioneered the small sample approach and significance testing while working in the brewery(Guinness) and farm industry. Known for the t-distribution under the alias "Student" ***