<a href="https://colab.research.google.com/github/hargettc2015/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [69]:
### YOUR CODE STARTS HERE
!wget https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records

--2019-11-04 22:07:48--  https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Congressional+Voting+Records.1’

Congressional+Votin     [ <=>                ]  21.70K  --.-KB/s    in 0.1s

2019-11-04 22:07:49 (156 KB/s) - ‘Congressional+Voting+Records.1’ saved [22222]

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [72]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=column_headers,
                 na_values="?")

df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [73]:
df = df.replace({'y':1, 'n': 0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [74]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [75]:
rep = df[df['party']=='republican']
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [77]:
dem = df[df['party']=='democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [78]:
# the percentage of republicans who voted yes (1)
#on handicapped-infants bill

rep['handicapped-infants'].sum()/len(rep)

#len is counting NaN values to

0.18452380952380953

In [79]:
#Average rate of voting 'yes' on the handicapped-infants
rep['handicapped-infants'].mean()

0.18787878787878787

In [80]:
rep.isnull().sum()

party                    0
handicapped-infants      3
water-project           20
budget                   4
physician-fee-freeze     3
el-salvador-aid          3
religious-groups         2
anti-satellite-ban       6
aid-to-contras          11
mx-missile               3
immigration              3
synfuels                 9
education               13
right-to-sue            10
crime                    7
duty-free               12
south-africa            22
dtype: int64

**Lets look at the water project bill**
1) Null Hypothesis: There is no difference between average voting rates (levels of support) for the water-project bill between democrats and republicans in the house of representatives. (support is equal)
x¯1==x¯2
Where x¯1 is the mean of republican votes and x¯2 is the mean of democrat votes.

2) Alternative Hypothesis:

x¯1≠x¯2
Levels of support between the two parties will differ.

3) 95% Confidence Level

In [0]:
from scipy.stats import ttest_ind

In [82]:
rep['water-project'].mean()

0.5067567567567568

In [83]:
dem['water-project'].mean()

0.502092050209205

In [84]:
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [85]:
#Remove all NaN values 

col = rep['water-project']
rep_water_project_no_nans = col[~np.isnan(col)]

col = dem['water-project']
dem_water_project_no_nans =col[~np.isnan(col)]

#my sample sizes for the two samples
print(len(rep_water_project_no_nans))
print(len(dem_water_project_no_nans))

148
239

In [0]:
#When you have two or more samples, use the sample with the least amount 
#to determine my degrees of freedom
#In this case df= 148-1 = 147
#t= 0.089
#p-value= .929
#Reject if p=<.05 or if my p-value is less than (1 confidence_level)
#Conclusion: due to a p-value of .929 I fail to reject the null hypothesis 
#that republican and democrat support for the water-project bill
#is different.
#I never say that I 'accept' the null hypothesis, I just say that I 'fail to reject'

My null hypothesis is that republican and democratic support for synfuel is different.

In [87]:
rep['synfuels'].sum()/len(rep)   #only 12.5 percent

0.125

In [88]:
dem['synfuels'].sum()/len(rep) #76.7...percent

0.7678571428571429

In [89]:
rep['synfuels'].mean()

0.1320754716981132

In [90]:
dem['synfuels'].mean()

0.5058823529411764

In [91]:
ttest_ind(rep['synfuels'], dem['synfuels'], nan_policy='omit')

Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)

In [92]:
#Remove all NaN values 

col = rep['synfuels']
rep_synfuels_no_nans = col[~np.isnan(col)]

col = dem['synfuels']
dem_synfuels_no_nans =col[~np.isnan(col)]

#my sample sizes for the two samples
print(len(rep_synfuels_no_nans))
print(len(dem_synfuels_no_nans))

159
255

In [93]:
ttest_ind(rep['synfuels'], dem['synfuels'], nan_policy='omit')

Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)

Degrees of freedom = 158
t= 8.29
p= 1.58

In [0]:
##Conclusion: due to a p-value of 0.00000000000001 I want to reject the null hypothesis 
#that republican and democrat support for the synfuels bill
#is different.
#Democrats win this one with 50%

My null hypothesis here is that republican and democrat support for education is different.

In [95]:
rep['education'].sum()/len(rep)

0.8035714285714286

In [96]:
dem['education'].sum()/len(dem)

0.1348314606741573

In [97]:
rep['education'].mean()

0.8709677419354839

In [98]:
dem['education'].mean()

0.14457831325301204

In [99]:
ttest_ind(rep['education'], dem['education'], nan_policy='omit')

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)

In [100]:
col = rep['education']
rep_education_no_nans = col[~np.isnan(col)]

col = dem['education']
dem_education_no_nans =col[~np.isnan(col)]

#my sample sizes for the two samples
print(len(rep_education_no_nans))
print(len(dem_education_no_nans))

155
249

Degrees of freedom= 154, t= 20.50, p=1.88

In [0]:
##Conclusion: due to a p-value of 0.00000000000000000000000000000000000000000000000000000000001 I want to reject the null hypothesis 
#that republican and democrat support for the education bill
#is different.
#Republicans win this with 80%

My null hypothesis here is that republican and democrat support for 'immigration is different.

In [148]:
rep['immigration'].sum()/len(rep)

0.5476190476190477

In [149]:
dem['immigration'].sum()/len(dem)

0.46441947565543074

In [150]:
rep['immigration'].mean()

0.5575757575757576

In [151]:
dem['immigration'].mean()

0.4714828897338403

In [152]:
ttest_ind(rep['immigration'], dem['immigration'], nan_policy= 'omit')

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [153]:
col = rep['immigration']
rep_immigration_no_nans = col[~np.isnan(col)]

col = dem['immigration']
dem_immigration_no_nans =col[~np.isnan(col)]

#my sample sizes for the two samples
print(len(rep_immigration_no_nans))
print(len(dem_immigration_no_nans))

165
263

Degrees of Freedom= 164, t= 1.74 p= .08 (soooo close....)

In [0]:
##Conclusion: due to a p-value of I fail to reject the null hypothesis 
#that republican and democrat support for the immigration bill
#is different.

My null hypothesis here is that republican and democrat support for south africa is different.

In [163]:
rep['south-africa'].sum()/len(rep)

0.5714285714285714

In [164]:
dem['south-africa'].sum()/len(dem)

0.6479400749063671

In [170]:
rep['south-africa'].mean()

0.6575342465753424

In [167]:
dem['south-africa'].mean()

0.9351351351351351

In [171]:
ttest_ind(rep['south-africa'], dem['south-africa'], nan_policy= 'omit')

Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

In [172]:
col = rep['south-africa']
rep_south_africa_no_nans = col[~np.isnan(col)]

col = dem['south-africa']
dem_south_africa_no_nans =col[~np.isnan(col)]

#my sample sizes for the two samples
print(len(rep_south_africa_no_nans))
print(len(dem_south_africa_no_nans))

146
185

Degrees of Freedom= 145 t= 6.85 p= 0.0000000003...

In [0]:
##Conclusion: due to a p-value of I want to reject the null hypothesis 
#that republican and democrat support for the south africa bill
#is different.