<a href="https://colab.research.google.com/github/maiali13/DS-Unit-1-Sprint-2-Statistics/blob/master/M_Ali_LS_DS13_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import numpy as np
import pandas as pd
from scipy import stats 

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
df = pd.read_csv('house-votes-84.data', names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])

df.head()

--2020-02-18 09:28:33--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-02-18 09:28:34 (248 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
#clead data/NaNs
#create numeric values instead of y/n
df = df.replace({'y': 1, 'n': 0, "?": np.NaN})

In [0]:
gop = df[df['party']== 'republican']
gop.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
dem = df[df['party']== 'democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
gop.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
#normal t test (one null hyp )

#before running test, 

#choose party support for bill
#null hypothesis: party is split in support for bill 
#$H_0: \mu =- .5$

#alternative hypothesis: party support for bill is not 50/50
#$H_a: \mu \new .5$

#confidence level: 95% (1 - my critical value .05)

satts.ttest_lsamp(party['bill'], .5, nan_policy='omit')
#uh oh all issues have nulls

In [0]:
#normal t test 
party['bill'].mean()

**Duty-Free Bill**

1) Null Hypothesis: Democratic support for the newly-introduced duty-free legislature is equal to that of Republican support.

$ H_0: \bar{x}_{d} == \bar{x}_{r}$

2) Alternative hypothesis: Democrat support for the duty-free bill is not equal to Republican support for the bill.

$ H_0: \bar{x}_{d} \neq \bar{x}_{r}$

3) Confidence level of >99%

In [0]:
stats.ttest_ind(dem['duty-free'], gop['duty-free'], nan_policy='omit')
#We can with very high confidence reject the null hypothesis that Democrats and Republicans support the duty-free bill equally, and suggest the alternative that this bill's support is partisan.
#Democratic congressmen are backing this bill more than their Republican peers.

**Physician-fee Freeze Bill**

1) Null Hypothesis: Republican support for the physician-fee Freeze bill is equal to that of Democratic support.

$ H_0: \bar{x}_{r} == \bar{x}_{d}$

2) Alternative hypothesis: Republican support for the physician-fee freeze bill is not equal to Democratic support for the bill.

$ H_0: \bar{x}_{r} \neq \bar{x}_{d}$

3) Confidence level of >99%

In [0]:
stats.ttest_ind(dem['physician-fee-freeze'], gop['physician-fee-freeze'], nan_policy='omit')
#We can with very high confidence reject the null hypothesis that Republicans and Democrats support the physician-fee freeze bill equally, and suggest the alternative that this bill's support is partisan.
#In this case, the Republican congressmen are backing this bill more than their Democrat peers.

**Water Project Bill**

1) Null Hypothesis: Republican support for the water project bill is equal to that of Democratic support.

$ H_0: \bar{x}_{r} == \bar{x}_{d}$

2) Alternative hypothesis: Republican support for the water project bill is not equal to Democratic support for the bill.

$ H_0: \bar{x}_{r} \neq \bar{x}_{d}$

3) Confidence level of 99%

In [0]:
stats.ttest_ind(dem['water-project'], gop['water-project'], nan_policy='omit')
#We can in this case reject the alternative hypothesis that Republicans and Democrats do not support the water project bill equally, in this case the bill is significantly partisan.

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

**Stretch**

Refactor your code into functions so it's easy to rerun with arbitrary variables

In [0]:
dem['water-project']

2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
      ...
425    0.0
426    0.0
428    NaN
429    0.0
431    0.0
Name: water-project, Length: 267, dtype: float64

In [0]:
for i in list(df.columns):
  dem_stats = dem['i']
  gop_stats = gop['i']
  stats.ttest_ind(dem_stats, gop_stats, nan_policy='omit')
  print(i)

KeyError: ignored

In [0]:
t_test = stats.ttest_ind(gop_set, dem_set, nan_policy='omit')
you can then use
t_test.pvalue
t_test.statistic
for each of them.