<a href="https://colab.research.google.com/github/MichaelMendonca/DS-Unit-1-Sprint-2-Statistics/blob/master/Mike_LS_DS_122_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
# TODO - your code!

import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
import seaborn as sns

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-02-06 01:49:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.3’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-02-06 01:49:03 (608 KB/s) - ‘house-votes-84.data.3’ saved [18171/18171]

In [0]:
column_headers = ['Class Name','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [0]:
df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=column_headers,
                 na_values="?")

df.head()

   Class Name handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
# data clean

df = df.replace({'y':1, 'n':0})
df.head()

   Class Name  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
# Eliminate NaN to not includ in my calculation
#ttest_ind(df['physician-fee-freeze'].dropna(), df['physician-fee-freeze'].dropna())

#dem = df[df['Class Name']=='democrat']
#dem.head()

In [0]:
#rep = df[df['Class Name']=='republican']
#rep.head()

In [0]:
# Remove NaN values from 'water-project' column

#republican
col = df['water-project']
waterproject = col[~np.isnan(col)]

#democratics
#col = dem['water-project']
#dem_water_project_no_nans = col[~np.isnan(col)]
print(waterproject)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
429    0.0
430    0.0
431    0.0
433    0.0
434    1.0
Name: water-project, Length: 387, dtype: float64

In [0]:
## To calculate a confidence interval around a sample mean.
## t-distribution and two tailed test, default 95% confidence.

def confidence_interval(data, confidence=0.95):
  
  mean = data.mean()
  n = len(data)
  stderr = np.std(data, ddof=1)/np.sqrt(n)
  moe = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  interval = (mean, mean - moe, mean + moe)

  return interval

def plot_confidence_interval(data, confidence=0.95):
  sns.catplot(data)
  data1 = confidence_interval(data, confidence)
  plt.axvline(x=data1[0], color='green');
  plt.axvline(x=data1[1], color='red');
  plt.axvline(x=data1[2], color='black');
  plt.show();

  print(
      f'\n\nThe mean of the sample is {data1[0]:.2f}\n'
      f'The mean of the population lies between {data1[1]:.2f} '
      f'and {data1[2]:.2f}')

In [0]:
test_var = df["waterproject"]
plot_confidence_interval(test_var)

##Chi-squared tests:

In [0]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip'

--2020-02-06 18:56:30--  https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 579043 (565K) [application/x-httpd-php]
Saving to: ‘bank.zip’

bank.zip            100%[===================>] 565.47K   813KB/s    in 0.7s

2020-02-06 18:56:32 (813 KB/s) - ‘bank.zip’ saved [579043/579043]

In [0]:
!unzip bank.zip

Archive:  bank.zip
  inflating: bank-full.csv
  inflating: bank-names.txt
  inflating: bank.csv

In [0]:
!ls

bank.csv  bank-full.csv  bank-names.txt  bank.zip  sample_data

In [0]:
bank_df = pd.read_csv('bank.csv', sep = ';')
bank_df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [0]:
job_marital = pd.crosstab(bank_df['job'], bank_df['marital'], margins = True)
job_marital

marital        divorced  married  single   All
job
admin.               69      266     143   478
blue-collar          79      693     174   946
entrepreneur         16      132      20   168
housemaid            13       84      15   112
management          119      557     293   969
retired              43      176      11   230
self-employed        15      127      41   183
services             62      236     119   417
student               0       10      74    84
technician           89      411     268   768
unemployed           22       75      31   128
unknown               1       30       7    38
All                 528     2797    1196  4521

In [0]:
test1 = np.array(pd.crosstab(bank_df['job'], bank_df['marital']))

In [0]:
row = job_marital.iloc[0:2,3].values
print(row)

[478 946]

In [0]:
col = job_marital.iloc[2,0:3].values
print(col)

[ 16 132  20]

In [0]:
total = job_marital.loc['All', 'All']
print(total)

4521

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)