<a href="https://colab.research.google.com/github/MichaelMendonca/DS-Unit-1-Sprint-2-Statistics/blob/master/Mike_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
#Imports
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [72]:
# get the raw data

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-01-30 02:37:52--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-01-30 02:37:53 (129 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [0]:
column_headers = ['Class Name','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [74]:
df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=column_headers,
                 na_values='?')

df.head()

   Class Name handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [75]:
df.shape

(435, 17)

In [76]:
# data clean
# recorde votes as numeric

df = df.replace({'y':1, 'n':0})
df.head()

   Class Name  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [78]:
df['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [82]:
# Eliminate NaN to not includ in my calculation
#ttest_ind(df['physician-fee-freeze'].dropna(), df['physician-fee-freeze'].dropna())

dem = df[df['Class Name']=='democrat']
dem.head()

  Class Name  handicapped-infants  ...  duty-free  south-africa
2   democrat                  NaN  ...        0.0           0.0
3   democrat                  0.0  ...        0.0           1.0
4   democrat                  1.0  ...        1.0           1.0
5   democrat                  0.0  ...        1.0           1.0
6   democrat                  0.0  ...        1.0           1.0

[5 rows x 17 columns]

In [83]:
rep = df[df['Class Name']=='republican']
rep.head()

    Class Name  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
# Remove NaN values from 'immigration' column

#republican
col = rep['immigration']
rep_immigration_no_nans = col[~np.isnan(col)]

#democratics
col = dem['immigration']
dem_immigration_no_nans = col[~np.isnan(col)]

In [85]:
#What's the mean support of Repuclicans?

rep['immigration'].mean()

0.5575757575757576

In [86]:
# What's the mean support of Democrats?

dem['immigration'].mean()

0.4714828897338403

In [87]:
# Compare with a t-test:

ttest_ind(rep['immigration'], dem['immigration'])

Ttest_indResult(statistic=nan, pvalue=nan)

In [88]:
# account for NaN's
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

# p.value < 0.1 = 0.08330248490425066

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

In [0]:
# Remove NaN values from 'immigration' column

#republican
col = rep['immigration']
rep_immigration_no_nans = col[~np.isnan(col)]

#democratics
col = dem['immigration']
dem_immigration_no_nans = col[~np.isnan(col)]

In [106]:
ttest_ind(dem['immigration'], rep['immigration'], nan_policy='omit').pvalue

0.08330248490425066

In [91]:
print(len(rep_immigration_no_nans))
print(len(dem_immigration_no_nans))

165
263

##2

In [130]:
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit').pvalue

0.9291556823993485

## 3

In [92]:
df.head()

   Class Name  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [97]:
ttest_ind(dem['south-africa'], rep['south-africa'], nan_policy='omit').pvalue

3.652674361672226e-11

In [133]:
# format so it's not in scientific notation

p = ttest_ind(dem['south-africa'], rep['south-africa'], nan_policy='omit').pvalue
print('{:.12f}'.format(p))

0.000000000037

##4

In [108]:
df.head()

   Class Name  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [129]:
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit').pvalue

0.9291556823993485

## nothing

In [134]:
ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit').pvalue

5.600520111729011e-68

In [137]:
p = ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit').pvalue
print('{:.69f}'.format(p))

0.000000000000000000000000000000000000000000000000000000000000000000056