<a href="https://colab.research.google.com/github/raklives/DS-Unit-1-Sprint-2-Statistics/blob/master/Samuel_R_Conteh_Unit_1_Sprint_Challenge_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of people being approved or rejected for credit.

https://archive.ics.uci.edu/ml/datasets/Credit+Approval

Data Set Information: This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

Attribute Information:
- A1: b, a.
- A2: continuous.
- A3: continuous.
- A4: u, y, l, t.
- A5: g, p, gg.
- A6: c, d, cc, i, j, k, m, r, q, w, x, e, aa, ff.
- A7: v, h, bb, j, n, z, dd, ff, o.
- A8: continuous.
- A9: t, f.
- A10: t, f.
- A11: continuous.
- A12: t, f.
- A13: g, p, s.
- A14: continuous.
- A15: continuous.
- A16: +,- (class attribute)

Yes, most of that doesn't mean anything. A16 is a variable that indicates whether or not a person's request for credit has been approved or denied. This is a good candidate for a y variable since we might want to use the other features to predict this one. The remaining variables have been obfuscated for privacy - a challenge you may have to deal with in your data science career.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [0]:
# import libraries
import pandas as pd

In [18]:
# get the data 
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data

--2020-02-08 02:23:42--  https://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 32218 (31K) [application/x-httpd-php]
Saving to: ‘crx.data.2’

crx.data.2          100%[===================>]  31.46K  --.-KB/s    in 0.06s

2020-02-08 02:23:43 (485 KB/s) - ‘crx.data.2’ saved [32218/32218]

In [19]:
# read into a data frame
credit = pd.read_csv('crx.data.1')

# check 
credit.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g  00043  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  00280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  00100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  00120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  00360    0  +

In [20]:
# check shape
credit.shape

# matches dataset description

(689, 16)

In [21]:
# check for missing data
credit.isnull().values.any()

# returns that there are no values missing

False

In [27]:
# visually checking for missing data
credit.head(10)

# nothing seems missing
# noticed some column data types don't match what they should be
# 01 ; 00202 ; 0.1 is not continuous

   b  30.83       0  u  g   w  v   1.25  t t.1  01  f g.1  00202    0.1  +
0  a  58.67   4.460  u  g   q  h  3.040  t   t   6  f   g  00043    560  +
1  a  24.50   0.500  u  g   q  h  1.500  t   f   0  f   g  00280    824  +
2  b  27.83   1.540  u  g   w  v  3.750  t   t   5  t   g  00100      3  +
3  b  20.17   5.625  u  g   w  v  1.710  t   f   0  f   s  00120      0  +
4  b  32.08   4.000  u  g   m  v  2.500  t   f   0  t   g  00360      0  +
5  b  33.17   1.040  u  g   r  h  6.500  t   f   0  t   g  00164  31285  +
6  a  22.92  11.585  u  g  cc  v  0.040  t   f   0  f   g  00080   1349  +
7  b  54.42   0.500  y  p   k  h  3.960  t   f   0  f   g  00180    314  +
8  b  42.50   4.915  y  p   w  v  3.165  t   f   0  t   g  00052   1442  +
9  b  22.08   0.830  u  g   c  h  2.165  f   f   0  t   g  00128      0  +

In [26]:
# check the datatypes of each feature's values
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 16 columns):
b        689 non-null object
30.83    689 non-null object
0        689 non-null float64
u        689 non-null object
g        689 non-null object
w        689 non-null object
v        689 non-null object
1.25     689 non-null float64
t        689 non-null object
t.1      689 non-null object
01       689 non-null int64
f        689 non-null object
g.1      689 non-null object
00202    689 non-null object
0.1      689 non-null int64
+        689 non-null object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.2+ KB

In [0]:
# convert 01, 00202,0.1 to floats

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that A16 is the class label. Besides that, we have 6 continuous (float) features and 9 categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`+` and `-`).

For the 6 continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are 9 categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [62]:
# explote the data 
credit.describe()

                0        1.25          01            0.1
count  689.000000  689.000000  689.000000     689.000000
mean     4.765631    2.224819    2.402032    1018.862119
std      4.978470    3.348739    4.866180    5213.743149
min      0.000000    0.000000    0.000000       0.000000
25%      1.000000    0.165000    0.000000       0.000000
50%      2.750000    1.000000    0.000000       5.000000
75%      7.250000    2.625000    3.000000     396.000000
max     28.000000   28.500000   67.000000  100000.000000

In [53]:
# the two classes seem to differ greatey on 1.25 
# calculate the population means of those two categories
popmean_a = credit['1.25'].mean() # pop mean for 1.25
print(popmean_a)

# the two calsses seem to not be too different in 
popmean_b = credit['01'].mean() # pop mean for 01
print(popmean_b)

2.2248185776487643
2.402031930333817

In [44]:
# filter the data frame by class
# start with class of people that were accepted
class_approved = credit[credit['+']=='+']

#check
class_approved.head()

   b  30.83      0  u  g  w  v  1.25  t t.1  01  f g.1  00202  0.1  +
0  a  58.67  4.460  u  g  q  h  3.04  t   t   6  f   g  00043  560  +
1  a  24.50  0.500  u  g  q  h  1.50  t   f   0  f   g  00280  824  +
2  b  27.83  1.540  u  g  w  v  3.75  t   t   5  t   g  00100    3  +
3  b  20.17  5.625  u  g  w  v  1.71  t   f   0  f   s  00120    0  +
4  b  32.08  4.000  u  g  m  v  2.50  t   f   0  t   g  00360    0  +

In [47]:
# describe class_approved 
class_approved.describe()

                0        1.25          01            0.1
count  306.000000  306.000000  306.000000     306.000000
mean     5.924248    3.435016    4.617647    2045.522876
std      5.469973    4.125652    6.327215    7671.419484
min      0.000000    0.000000    0.000000       0.000000
25%      1.500000    0.750000    0.000000       0.000000
50%      4.460000    2.000000    3.000000     227.500000
75%      9.530000    5.000000    7.000000    1209.500000
max     28.000000   28.500000   67.000000  100000.000000

In [0]:
# class denied
class_denied = credit[credit['+']=='-']

# see
class_denied.head())

In [42]:
# describe class_denied data
class_denied.describe()

                0        1.25          01          0.1
count  383.000000  383.000000  383.000000   383.000000
mean     3.839948    1.257924    0.631854   198.605744
std      4.337662    2.120481    1.900049   671.608839
min      0.000000    0.000000    0.000000     0.000000
25%      0.835000    0.125000    0.000000     0.000000
50%      2.210000    0.415000    0.000000     1.000000
75%      5.000000    1.500000    0.000000    67.000000
max     26.335000   13.875000   20.000000  5552.000000

In [64]:
# confirm '1.25 is continuous
credit['1.25'].describe()

count    689.000000
mean       2.224819
std        3.348739
min        0.000000
25%        0.165000
50%        1.000000
75%        2.625000
max       28.500000
Name: 1.25, dtype: float64

In [0]:
# import needed libraries
from scipy.stats import ttest_ind, ttest_1samp

In [66]:
# is the average '1.25' of accepted class above the population? No
ttest_1samp(class_approved['1.25'], popmean_a, nan_policy='omit')

Ttest_1sampResult(statistic=5.1312657470126455, pvalue=5.131490767090522e-07)

In [67]:
# is the difference between the two class significant. Yes
ttest_ind(class_approved['1.25'], class_denied['1.25'], nan_policy='omit')

Ttest_indResult(statistic=8.953578558992847, pvalue=3.188202861884123e-18)

In [0]:
# how do the two classes differ on

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

In [0]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.