<a href="https://colab.research.google.com/github/Daniel-Benson-Poe/DS-Unit-1-Sprint-2-Statistics/blob/master/statistical_tests_and_experiments_functions_and_concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbn
from scipy.stats import ttest_ind, ttest_1samp, t
import scipy.stats as stats

In [2]:
# Renaming values in dataframes
df = df.replace({'value_to_be_replaced', 'value_replacing_original'})

NameError: ignored

In [3]:
# Remove NaN values 
df_col = df[column]
np.isnan(df_col) # returns only the NaN values

df_no_nans = df_col(~np.isnan(df_col)) # returns values without NaNs

NameError: ignored

In [5]:
# ttesting
ttest_ind(df[column1], df[column2], nan_policy='omit')

NameError: ignored

In [0]:
# Function to discount NaN values
def df_column(dataframe, column):
  df_col = dataframe[column]
  df_col_no_nans = df_col[~np.isnan(df_col)]
  return df_col_no_nans

In [0]:
# Function to calculate percentages (mean) without using .mean
def df_percent(dataframe, column):
  data_percent = dataframe[column].sum()/len(df_column(dataframe, column))
  return data_percent

In [0]:
# Function for ttest
def df_ttest(dataframe1, dataframe2, column):
  ttest = ttest_ind(dataframe1[column], dataframe2[column], nan_policy='omit')
  return ttest

In [0]:
# Function for confidence interval
def confidence_interval(data, confidence=0.95):
  """
  Calculate confidence interval using a sample mean from specified data.
  Uses t-distribution and 2-tailed test with a default confidence of 0.95

  Arguments: 
  data - iterable (list or numpy array) of sample observations
  confidence - confidence level for the interval

  Return:
  tuple (mean, lower-bound, upper-bound)
  """

  data = np.array(data) # Sets data into numpy array
  mean = np.nanmean(data) # Creates a mean of the data, ignoring nans
  n = len(data) # Sets n to length of data
  stderr = np.nanstd(data, ddof=1)/np.sqrt(n) # Creates standard deviation error ignoring nans
  moe = stderr * stats.t.ppf((1 + confidence) / 2.0, n-1) # Looks up corresponding t stat
  return(mean, mean-moe, mean+moe)

In [11]:
# Explore using kernel density estimate 
sns.kdeplot(df_no_nans)
# Add vline to display lower-bound
plt.axvline(df_conf_int[1], color='red')
# Add vline to display uppeer-bound
plt.axvline(df_conf_int[2], color='red')
# Add vline to display mean
plt.axvline(df_conf_int[0], color='k')

NameError: ignored

### Let's do some chisquare!

In [0]:
# Chisquare is used to compare categorical data
# The best way to compare two sets of categorical data
# is by using a pd.crosstab in the form:
# pd.crosstab(df[column1], df[column2], margins=True)

In [14]:
# Using cut to create categorical data
df_cut_points = #[insert values here that make sense in given data]
# Create label names
df_label_names = [insert label names herre the make sense given data]
# Create the new categorical data column
df['new_categorical_data'] = pd.cut(df['column_in_question'], df_cut_points, labels=df_label_names)
# Sort by the new column
df = df.sort_values(by='new_categorical_data', ascending=True)

SyntaxError: ignored

In [17]:
# Summing up rows and columns and finding total
sum_rows = df_crosstab.iloc[0:whatever-index-number-is-last-row-before-all is, whatever-index-number-is-all-column].values
sum_columns = df_crosstab.iloc[whatever-index-all-row-is, 0:whatever-index-number-is-last-column-before-all].values

total = df_crosstab.loc['All', 'All']

SyntaxError: ignored

In [18]:
# Loop for expected values
expected_value = []
for i in range(len(sum_rows)):
  row_expected = []
  for column in sum_columns:
    val_expected = column * sum_rows[i] / total
    row_expected.append(val_expected)
  expected_value.append(row_expected)

expected_value = np.array(expected_value)
print(expected_value.shape)
print(expected_value)

NameError: ignored

In [19]:
# Observed values
observed_value = df_crosstab.values

NameError: ignored

In [0]:
# Function used to determine chisquare using numpy
def chisquare_nump(observed_value, expected_value):
  chisquared = ((observed_value - expecte_value)**2 / (expected_value)).sum()
  return f'Chi-Squared: {chisquared}'

In [0]:
# Function used to determine degrees of freedom
def degree_of_freedom(sum_rows, sum_columns):
  dof = (len(sum_rows) - 1) * (len(sum_columns) - 1)
  return f'Degrees of Freedom: {dof}'

In [22]:
# Finding chisquare using single line in scipy
chisquared, p_value, dof, expected_value = stats.chi2_contingency(observed_value)

print(f"Chi-Squared: {chisquared}")
print(f"P-value: {p_value}")
print(f"Degrees of Freedom: {dof}")
print(f"Expected: \n", np.array(expected_value))

NameError: ignored