<a href="https://colab.research.google.com/github/edwinapalmer/DS-Unit-1-Sprint-2-Statistics/blob/master/Statistics_Probability_Assignment_Edwina_Palmer_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE

import pandas as pd
import numpy as np
from scipy import stats

In [60]:
# Load file from UCI:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-04-14 10:11:16--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.2’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-04-14 10:11:16 (633 KB/s) - ‘house-votes-84.data.2’ saved [18171/18171]

In [61]:
# Get column headers

column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('house-votes-84.data', names=column_headers)

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [62]:
df.isnull().sum()

party                   0
handicapped-infants     0
water-project           0
budget                  0
physician-fee-freeze    0
el-salvador-aid         0
religious-groups        0
anti-satellite-ban      0
aid-to-contras          0
mx-missile              0
immigration             0
synfuels                0
education               0
right-to-sue            0
crime                   0
duty-free               0
south-africa            0
dtype: int64

In [63]:
# Replace strings that represent specific categories with integers.
df = df.replace({'y': 1, 'n': 0, '?': np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [64]:
# Get null values
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [65]:
# To get datasets for Republican and Democrats data.
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [66]:
# To get two samples

dems = df[df['party']=='democrat']
reps = df[df['party']=='republican']

dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [67]:
# To get the mean of the data sets. 

print('reps mean:', rep['el-salvador-aid'].mean())
print('dems mean:', dem['el-salvador-aid'].mean())

reps mean: 0.9515151515151515
dems mean: 0.21568627450980393

In [68]:
dems.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [69]:
reps.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [70]:
print('rep:', reps.shape)
print('dem:', dems.shape)

rep: (168, 17)
dem: (267, 17)

In [71]:
mean_support = pd.DataFrame({'dems': dem.mean(), 'reps': rep.mean()})

mean_support

                          dems      reps
handicapped-infants   0.604651  0.187879
water-project         0.502092  0.506757
budget                0.888462  0.134146
physician-fee-freeze  0.054054  0.987879
el-salvador-aid       0.215686  0.951515
religious-groups      0.476744  0.897590
anti-satellite-ban    0.772201  0.240741
aid-to-contras        0.828897  0.152866
mx-missile            0.758065  0.115152
immigration           0.471483  0.557576
synfuels              0.505882  0.132075
education             0.144578  0.870968
right-to-sue          0.289683  0.860759
crime                 0.350195  0.981366
duty-free             0.637450  0.089744
south-africa          0.935135  0.657534

To run T-Tests

In [72]:
# To use hypothesis testing to find an issue that democrats support more than republicans with p < 0.01

t_test = stats.ttest_ind(dems['el-salvador-aid'], reps['el-salvador-aid'], nan_policy='omit')
t_stat = t_test[0]
p_val = t_test[1]
print("Test Statistic:", t_stat)
print("P-Value:", p_val)

if p_val <0.01:
  print("we reject the null hypothesis")

else:
    print("we accept null hypothesis")

result_1 = t_test

Test Statistic: -21.13669261173219
P-Value: 5.600520111729011e-68
we reject the null hypothesis

In [73]:
# To use hypothesis testing to find an issue that republicans support more than democrats with p < 0.01

t_test = stats.ttest_ind(dems['mx-missile'], reps['mx-missile'], nan_policy='omit')
t_stat = t_test[0]
p_val = t_test[1]
print("Test Statistic:", t_stat)
print("P-Value:", p_val)

if p_val <0.01:
  print("we reject the null hypothesis")

else:
    print("we accept null hypothesis")

result_2 = t_test

Test Statistic: 16.437503268542994
P-Value: 5.03079265310811e-47
we reject the null hypothesis

In [74]:
# To use hypothesis testing to find an issue where the difference between republicans and democrats has p > 0.1 

t_test = stats.ttest_ind(dems['right-to-sue'], reps['right-to-sue'], nan_policy='omit')
t_stat = t_test[0]
p_val = t_test[1]

print("Test Statistic:", t_stat)
print("P-Value:", p_val)

if p_val <0.01:
  print("we reject the null hypothesis")

else:
    print("we accept null hypothesis")

result_3 = t_test

Test Statistic: -13.51064251060933
P-Value: 1.2278581709672758e-34
we reject the null hypothesis

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!