<a href="https://colab.research.google.com/github/nealonleo9/DS-Unit-1-Sprint-2-Statistics/blob/master/week2day1!!!!!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
from google.colab import files
uploaded = files.upload()

Saving imports-85.data to imports-85.data

In [0]:
import pandas as pd

In [0]:
column_headers = [ 'symbolizing','normalized-losses','make',
'fuel-type',
'aspiration',
'num-of-doors',
'body-style',
'drive-wheels',
'engine-location',
'wheel-base',
'length',
'width',
'height',
'curb-weight',
'engine-type',
'num-of-cylinders',
'engine-size',
'fuel-system',
'bore',
'stroke',
'compression-ratio',
'horsepower',
'peak-rpm',
'city-mpg',
'highway-mpg',
'price',]

In [0]:
df = pd.read_csv('imports-85.data', names=column_headers)

In [0]:
df.head()

   symbolizing normalized-losses         make  ... city-mpg highway-mpg  price
0            3                 ?  alfa-romero  ...       21          27  13495
1            3                 ?  alfa-romero  ...       21          27  16500
2            1                 ?  alfa-romero  ...       19          26  16500
3            2               164         audi  ...       24          30  13950
4            2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [0]:
df.isnull().sum()

symbolizing          0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [0]:
import numpy as np

In [0]:
df = df.replace({"y": 1, "n": 0, "?": np.NaN})

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [0]:
df1 = df.sample(10, random_state=30)

In [0]:
df1.head()

     symbolizing normalized-losses           make  ... city-mpg highway-mpg  price
121            1               154       plymouth  ...       31          38   6692
176           -1                65         toyota  ...       27          32  10898
24             1               148          dodge  ...       31          38   6229
88            -1               137     mitsubishi  ...       23          30   9279
72             3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [0]:
df2 = df.sample(100, random_state=30)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [0]:
df2.sample(30)

     symbolizing normalized-losses           make  ... city-mpg highway-mpg  price
122            1               154       plymouth  ...       31          38   7609
109            0                 ?         peugot  ...       19          24  12440
92             1               122         nissan  ...       31          37   6849
67            -1                93  mercedes-benz  ...       22          25  25552
115            0               161         peugot  ...       19          24  16630
94             1               128         nissan  ...       31          37   7299
41             0                85          honda  ...       24          28  12945
2              1                 ?    alfa-romero  ...       19          26  16500
72             3               142  mercedes-benz  ...       16          18  35056
111            0               161         peugot  ...       19          24  15580
114            0                 ?         peugot  ...       25          25  17075
63             0                 ?          mazda  ...       36          42  10795
101            0               128         nissan  ...       17          22  13499
32             1               101          honda  ...       38          42   5399
12             0               188            bmw  ...       21          28  20970
82             3                 ?     mitsubishi  ...       19          24  12629
198           -2               103          volvo  ...       17          22  18420
48             0                 ?         jaguar  ...       15          19  35550
204           -1                95          volvo  ...       19          25  22625
84             3                 ?     mitsubishi  ...       19          24  14489
185            2                94     volkswagen  ...       27          34   8195
167            2               134         toyota  ...       24          30   8449
0              3                 ?    alfa-romero  ...       21          27  13495
47             0               145         jaguar  ...       15          19  32250
135            2               104           saab  ...       21          28  15510
50             1               104          mazda  ...       30          31   5195
73             0                 ?  mercedes-benz  ...       14          16  40960
168            2               134         toyota  ...       24          30   9639
112            0               161         peugot  ...       28          33  16900
178            3               197         toyota  ...       20          24  16558

[30 rows x 26 columns]

In [0]:
df2.describe()

       symbolizing  wheel-base  ...   city-mpg  highway-mpg
count   100.000000   100.00000  ...  100.00000    100.00000
mean      0.760000    99.51100  ...   25.20000     30.64000
std       1.280152     6.41247  ...    6.24904      6.68863
min      -2.000000    88.60000  ...   14.00000     16.00000
25%       0.000000    95.10000  ...   20.00000     25.00000
50%       1.000000    97.20000  ...   24.50000     30.00000
75%       2.000000   102.90000  ...   30.00000     34.50000
max       3.000000   120.90000  ...   45.00000     50.00000

[8 rows x 10 columns]

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [0]:
import pandas as pd
import numpy as np


df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

In [0]:
df = df.rename(columns={
'republican':'party',
'n':'handicapped-infants',
'y':'water-project-cost-sharing',
'n.1':'adoption-of-the-budget-resolution',
'y.1':'physician-fee-freeze',
'y.2':'el-salvador-aid',
'y.3':'religious-groups-in-schools',
'n.2':'anti-satellite-test-ban',
'n.3':'aid-to-nicaraguan-contras',
'n.4':'mx-missile',
'y.4':'immigration',
'?':'synfuels-corporation-cutback',
'y.5':'education-spending',
'y.6':'superfund-right-to-sue',
'y.7':'crime',
'n.5':'duty-free-exports',
'y.8':'export-administration-act-south-africa'})

In [0]:
df = df.replace({"y": 1, "n": 0, "?": np.NaN})

In [0]:
df.dropna

<bound method DataFrame.dropna of           party  ...  export-administration-act-south-africa
0    republican  ...                                     NaN
1      democrat  ...                                     0.0
2      democrat  ...                                     1.0
3      democrat  ...                                     1.0
4      democrat  ...                                     1.0
..          ...  ...                                     ...
429  republican  ...                                     1.0
430    democrat  ...                                     1.0
431  republican  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     0.0

[434 rows x 17 columns]>

In [0]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

rep.head()

         party  ...  export-administration-act-south-africa
0   republican  ...                                     NaN
6   republican  ...                                     1.0
7   republican  ...                                     1.0
9   republican  ...                                     0.0
10  republican  ...                                     NaN

[5 rows x 17 columns]

In [0]:
from scipy import stats

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [0]:
stats.ttest_ind(dem['mx-missile'], rep['mx-missile'], nan_policy='omit')

Ttest_indResult(statistic=16.371375965888596, pvalue=1.0255175625864558e-46)

In [0]:
stats.ttest_ind(dem['physician-fee-freeze'], rep['physician-fee-freeze'], nan_policy='omit')

Ttest_indResult(statistic=-49.213324889131904, pvalue=1.0401154557088818e-176)

In [0]:
stats.ttest_ind(dem['water-project-cost-sharing'], rep['water-project-cost-sharing'], nan_policy='omit')

Ttest_indResult(statistic=-0.02491808700047811, pvalue=0.9801332440121653)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE