<a href="https://colab.research.google.com/github/nealonleo9/DS-Unit-1-Sprint-2-Statistics/blob/master/week_2_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chisquare
from scipy.stats import t, ttest_1samp
import matplotlib.pyplot as plt


df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

In [0]:
df = df.rename(columns={
'republican':'party',
'n':'handicapped-infants',
'y':'water-project-cost-sharing',
'n.1':'adoption-of-the-budget-resolution',
'y.1':'physician-fee-freeze',
'y.2':'el-salvador-aid',
'y.3':'religious-groups-in-schools',
'n.2':'anti-satellite-test-ban',
'n.3':'aid-to-nicaraguan-contras',
'n.4':'mx-missile',
'y.4':'immigration',
'?':'synfuels-corporation-cutback',
'y.5':'education-spending',
'y.6':'superfund-right-to-sue',
'y.7':'crime',
'n.5':'duty-free-exports',
'y.8':'export-administration-act-south-africa'})

In [0]:
df = df.replace({"y": 1, "n": 0, "?": np.NaN})

In [0]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

rep.head()

         party  ...  export-administration-act-south-africa
0   republican  ...                                     NaN
6   republican  ...                                     1.0
7   republican  ...                                     1.0
9   republican  ...                                     0.0
10  republican  ...                                     NaN

[5 rows x 17 columns]

In [0]:
rep.describe(include=all)

TypeError: ignored

In [0]:
rep.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           164.000000  ...                              145.000000
mean              0.189024  ...                                0.655172
std               0.392727  ...                                0.476960
min               0.000000  ...                                0.000000
25%               0.000000  ...                                0.000000
50%               0.000000  ...                                1.000000
75%               0.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
dem.describe()

       handicapped-infants  ...  export-administration-act-south-africa
count           258.000000  ...                              185.000000
mean              0.604651  ...                                0.935135
std               0.489876  ...                                0.246956
min               0.000000  ...                                0.000000
25%               0.000000  ...                                1.000000
50%               1.000000  ...                                1.000000
75%               1.000000  ...                                1.000000
max               1.000000  ...                                1.000000

[8 rows x 16 columns]

In [0]:
rep1 = rep.mean()
dem1 = dem.mean()
rep1.head(25)

handicapped-infants                       0.189024
water-project-cost-sharing                0.503401
adoption-of-the-budget-resolution         0.134969
physician-fee-freeze                      0.987805
el-salvador-aid                           0.951220
religious-groups-in-schools               0.896970
anti-satellite-test-ban                   0.242236
aid-to-nicaraguan-contras                 0.153846
mx-missile                                0.115854
immigration                               0.554878
synfuels-corporation-cutback              0.132075
education-spending                        0.870130
superfund-right-to-sue                    0.859873
crime                                     0.981250
duty-free-exports                         0.090323
export-administration-act-south-africa    0.655172
dtype: float64

In [0]:
confidence_intervals = [] ###################

for col in issues.columns:
  col_cleaned = issues[col].dropna()
  confidence_intervals.append(confidence_interval(col_cleaned))

confidence_intervals

In [0]:
def confidence_interval(data, confidence=0.95):
  """
  Calculate a confidence interval around a sample mean for given data.
  Using t-distribution and two-tailed test, default 95% confidence. 
  
  Arguments:
    data - iterable (list or numpy array) of sample observations
    confidence - level of confidence for the interval
  
  Returns:
    tuple of (mean, lower bound, upper bound)
  """
  data = data.dropna()
  data = np.array(data)
  mean = np.mean(data)
  n = len(data)
  stderr = stats.sem(data)
  interval = stderr * stats.t.ppf((1 + confidence) / 2.0, n - 1)
  return (mean, mean - interval, mean + interval)

In [0]:
# i guess 95% confidennce interival is normal to use in a test, should i have charted my data to see it on a "line chart" or am i missing something becouse it does not matter
# what is wrong with what i am doing here it made alot of cents

In [0]:
i = mean, lower, upper = confidence_interval(rep['adoption-of-the-budget-resolution'])

In [0]:
print(mean, lower, upper)

0.13496932515337423 0.08195656911512282 0.18798208119162563

In [0]:
#scatter graph is a 'pen and paper way to find confidence interval right?' is there a test i should run to get random results using odds that is the average of data

In [0]:
i.plot

AttributeError: ignored

In [0]:
#graphing the confidence interival

In [0]:
column_headers = ['age','workclass','fnlwgt',
                  'education','education-num', 'marital-status',
                  'occupation','relationship',
                  'race','sex','cap-gains',
                  'cap-loss', 'hours-per-week','native-country']


df9 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=column_headers)

age: 
workclass:
fnlwgt: 
education: 
education-num: 
marital-status:
occupation: 
race: 
sex: 
capital-gain: 
capital-loss: 
hours-per-week:
native-country:

In [0]:
df9.head()

                  age  workclass  ...  hours-per-week  native-country
39          State-gov      77516  ...   United-States           <=50K
50   Self-emp-not-inc      83311  ...   United-States           <=50K
38            Private     215646  ...   United-States           <=50K
53            Private     234721  ...   United-States           <=50K
28            Private     338409  ...            Cuba           <=50K

[5 rows x 14 columns]

In [0]:
df9.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
cap-gains         0
cap-loss          0
hours-per-week    0
native-country    0
dtype: int64

In [0]:
df9.describe()

          workclass     education           sex     cap-gains      cap-loss
count  3.256100e+04  32561.000000  32561.000000  32561.000000  32561.000000
mean   1.897784e+05     10.080679   1077.648844     87.303830     40.437456
std    1.055500e+05      2.572720   7385.292085    402.960219     12.347429
min    1.228500e+04      1.000000      0.000000      0.000000      1.000000
25%    1.178270e+05      9.000000      0.000000      0.000000     40.000000
50%    1.783560e+05     10.000000      0.000000      0.000000     40.000000
75%    2.370510e+05     12.000000      0.000000      0.000000     45.000000
max    1.484705e+06     16.000000  99999.000000   4356.000000     99.000000

In [0]:
observation1 = pd.crosstab(df9['sex'],df9['cap-loss'], margins=False)
observation2 = pd.crosstab(df9['sex'],df9['cap-gain'], margins=False)
observation

cap-loss  1   2   3   4   5   6   7    8   ...  91  92  94  95  96  97  98  99
sex                                        ...
0         18  30  37  49  56  58  24  141  ...   3   1   1   2   4   2  10  76
114        0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
401        0   0   0   1   0   0   0    0  ...   0   0   0   0   0   0   0   0
594        0   0   0   2   0   0   0    0  ...   0   0   0   0   0   0   0   0
914        0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
...       ..  ..  ..  ..  ..  ..  ..  ...  ...  ..  ..  ..  ..  ..  ..  ..  ..
25236      0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
27828      0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
34095      0   0   1   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
41310      0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0
99999      0   0   0   0   0   0   0    0  ...   0   0   0   0   0   0   0   0

[119 rows x 94 columns]

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)