<a href="https://colab.research.google.com/github/danielburch/DS-Unit-1-Sprint-2-Statistics/blob/master/DS-Unit-1-Sprint-2-Statistics/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
### YOUR WORK HERE
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-06-08 20:40:10--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.07s

2020-06-08 20:40:11 (389 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [4]:
column_headers = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
                  'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
                  'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
                  'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

df = pd.read_csv('imports-85.data', names=column_headers)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [5]:
# ? is being used for null values. I will replace ? (str) with NaN(float) for future computations
df = df.replace({'?':np.NaN})

df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [44]:
### Grabbing the random state sample 

sample = df.sample(10,random_state=30)

sample.head(15)

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056
103          0               108         nissan  ...       19          25  13499
26           1               148          dodge  ...       31          38   7609
20           0                81      chevrolet  ...       38          43   6575
155          0                91         toyota  ...       27          32   8778
185          2                94     volkswagen  ...       27          34   8195

[10 rows x 26 columns]

In [45]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [46]:
# Mean of sample 
sample1 = sample['highway-mpg']

print (sample1.mean())

32.8

In [47]:
# Mean of entire dataset
entire = df['highway-mpg']

print (entire.mean())

30.75121951219512

In [0]:
'''
 The two means look different
'''

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [0]:
'''
Null Hypothesis:  Cars have a highway mpg of 35 miles per gallon

Alternative Hypothesis: Cars do not have a highway mpg of 35 miles per gallon

Confidence level: 95%

'''

In [48]:
### T test on the sample of 10

stats.ttest_1samp(sample1,35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [0]:
'''
Conclusion: Based on a t-statistic of -0.96 and a p-value of 0.36, I fail to reject the null hypothesis that cars
typically have a highway mpg of 35 miles per gallon

The t statistic is negative which means the sample mean is less than the null hypothesis value. 

'''

In [49]:
sample1.mean()

32.8

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [42]:
### T test on the sample of 100

sample2 = df.sample(100,random_state=30)
#sample2_mean = sample2['highway-mpg'].dropna()

# Practicing droping NaNs although no null in column
stats.ttest_1samp(sample2['highway-mpg'],35,nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [0]:
'''
Conclusion: Based on a t-statistic of -6.52 and a p-value of 3.003 e-09, I reject the null hypothesis that cars 
typically have a highway mpg of 35 miles per gallon

Also, it appears that the sample2 mean is less than the null hypothesis value. 


'''

In [20]:
sample2_mean.mean()

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Both differ in sample size. With the sample of 10, very few data points will lead to a wider null hypothesis value. In other words, 10 sample cars is a very poor selection given a much larger population of cars.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [50]:
### YOUR WORK HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-06-08 22:42:04--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-06-08 22:42:05 (270 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [51]:
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('house-votes-84.data', names=column_headers)

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [52]:
#Replace the str with ints and ? with NaN values

df = df.replace({'y': 1, 'n': 0, '?':np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
#splitting into two dataframes of republicans and democrats
blue = df[df['party'] == 'democrat']
red = df[df['party'] == 'republican']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [0]:
'''
Null Hypothesis: Both Democrats and Republicans support the Crime Bill at an equal rate

Alternative Hypothesis: They support this bill at different rates

Confidence Level: 99%

'''

In [56]:
### Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).

stats.ttest_ind(blue['crime'], red['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

In [0]:
'''
Conclusion:

Based on a t-statistic of -16.34, and a p-value of 0, we reject the null hypothesis 
that republicans and democrats support this bill at the same rate, and suggest the alternative, 
that republicans and democrats show different levels of support for this bill.

Dems support the bill 35.01%
Reps support the bill 98.13%

'''

In [59]:
print(red['crime'].mean())
print(blue['crime'].mean())

0.9813664596273292
0.35019455252918286

In [0]:
'''
Null Hypothesis: Both Democrats and Republicans support the synfuels Bill at an equal rate

Alternative Hypothesis: They support this bill at different rates

Confidence Level: 99%

'''

In [64]:
### Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).

stats.ttest_ind(red['synfuels'], blue['synfuels'], nan_policy='omit')

Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)

In [0]:
'''
Conclusion:

Based on a t-statistic of -8.29, and a p-value of 0, we reject the null hypothesis 
that republicans and democrats support this bill at the same rate, and suggest the alternative, 
that republicans and democrats show different levels of support for this bill.

Dems support the bill 50.58%
Reps support the bill 13.20%

'''

In [63]:
print(red['synfuels'].mean())
print(blue['synfuels'].mean())

0.1320754716981132
0.5058823529411764

In [0]:
'''
Null Hypothesis: Both Democrats and Republicans support the water-project Bill at an equal rate

Alternative Hypothesis: They support this bill at different rates

Confidence Level: 90%

'''

In [76]:
#Find an issue where the difference between republicans and democrats has p > 0.1 
#(Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

stats.ttest_ind(red['water-project'], blue['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
'''
Conclusion:

Based on a t-statistic of .089, and a p-value of .929, we fail to reject the null hypothesis 
that republicans and democrats support this bill at the same rate.

Dems support the bill 50.20%
Reps support the bill 50.67%

'''

In [75]:
print(red['water-project'].mean())
print(blue['water-project'].mean())

0.5067567567567568
0.502092050209205

In [74]:
print(red.mean())
print(blue.mean())

handicapped-infants     0.187879
water-project           0.506757
budget                  0.134146
physician-fee-freeze    0.987879
el-salvador-aid         0.951515
religious-groups        0.897590
anti-satellite-ban      0.240741
aid-to-contras          0.152866
mx-missile              0.115152
immigration             0.557576
synfuels                0.132075
education               0.870968
right-to-sue            0.860759
crime                   0.981366
duty-free               0.089744
south-africa            0.657534
dtype: float64
handicapped-infants     0.604651
water-project           0.502092
budget                  0.888462
physician-fee-freeze    0.054054
el-salvador-aid         0.215686
religious-groups        0.476744
anti-satellite-ban      0.772201
aid-to-contras          0.828897
mx-missile              0.758065
immigration             0.471483
synfuels                0.505882
education               0.144578
right-to-sue            0.289683
crime                   0.350195
duty-free               0.637450
south-africa            0.935135
dtype: float64

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [0]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE