<a href="https://colab.research.google.com/github/MaxTheMooshroom/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

___
###Clean data

In [0]:
import pandas as pd
import numpy as np

In [0]:
names = ['class-name', 'handicapped-infants', 'water-project-cost-sharing',
         'adoption-of-the-budget-resolution', 'physician-fee-freeze', 
         'el-salvador-aid', 'religious-groups-in-schools', 
         'anti-satellite-test-ban', 'aid-to-nicaraguan-contras', 'mx-missile', 
         'immigration', 'synfuels-corporation-cutback', 'education-spending', 
         'superfund-right-to-sue', 'crime', 'duty-free-exports', 
         'export-administration-act-south-africa']

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', 
                 header=None, names=names)
df.tail()

     class-name  ... export-administration-act-south-africa
430  republican  ...                                      y
431    democrat  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      y
434  republican  ...                                      n

[5 rows x 17 columns]

In [0]:
print(df.dtypes)
df.describe()

class-name                                object
handicapped-infants                       object
water-project-cost-sharing                object
adoption-of-the-budget-resolution         object
physician-fee-freeze                      object
el-salvador-aid                           object
religious-groups-in-schools               object
anti-satellite-test-ban                   object
aid-to-nicaraguan-contras                 object
mx-missile                                object
immigration                               object
synfuels-corporation-cutback              object
education-spending                        object
superfund-right-to-sue                    object
crime                                     object
duty-free-exports                         object
export-administration-act-south-africa    object
dtype: object

       class-name  ... export-administration-act-south-africa
count         435  ...                                    435
unique          2  ...                                      3
top      democrat  ...                                      y
freq          267  ...                                    269

[4 rows x 17 columns]

In [18]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})
df.dtypes

class-name                                 object
handicapped-infants                       float64
water-project-cost-sharing                float64
adoption-of-the-budget-resolution         float64
physician-fee-freeze                      float64
el-salvador-aid                           float64
religious-groups-in-schools               float64
anti-satellite-test-ban                   float64
aid-to-nicaraguan-contras                 float64
mx-missile                                float64
immigration                               float64
synfuels-corporation-cutback              float64
education-spending                        float64
superfund-right-to-sue                    float64
crime                                     float64
duty-free-exports                         float64
export-administration-act-south-africa    float64
dtype: object

In [0]:
df['class-name'].value_counts()

democrat      267
republican    168
Name: class-name, dtype: int64

___
###Convert to numerical form

In [19]:
df_counts = pd.DataFrame(columns=df.columns)
dems = []
reps = []

for c in df.columns:
  temp1 = df[df['class-name']=='democrat'][c].value_counts().sort_index(ascending=False)[0]
  temp2 = df[df['class-name']=='republican'][c].value_counts().sort_index(ascending=False)[0]
  dems.append(temp1)
  reps.append(temp2)

df_counts = df_counts.append(pd.Series(dems, index=df.columns, name='Dems'))
df_counts = df_counts.append(pd.Series(reps, index=df.columns, name='Reps'))
df_counts

     class-name  ... export-administration-act-south-africa
Dems        267  ...                                     12
Reps        168  ...                                     50

[2 rows x 17 columns]

___
###Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [0]:
import scipy.stats as scipy

In [0]:
def t(issue, assertion):
  print(scipy.ttest_1samp(df[df['class-name']=='democrat'].dropna()[issue], 
                          assertion, nan_policy='omit'))
  
  print(scipy.ttest_1samp(df[df['class-name']=='republican'].dropna()[issue], 
                          assertion, nan_policy='omit'))

  print(scipy.ttest_ind(df[df['class-name']=='democrat'].dropna()[issue], 
                        df[df['class-name']=='republican'].dropna()[issue], 
                        nan_policy='omit'))

In [26]:
t('physician-fee-freeze', 0.95)

Ttest_1sampResult(statistic=-46.59912161825821, pvalue=5.1877077920469765e-80)
Ttest_1sampResult(statistic=4.4, pvalue=2.5687173568330634e-05)
Ttest_indResult(statistic=-41.94745401614099, pvalue=9.726393032601933e-110)