<a href="https://colab.research.google.com/github/james-caldwell1981/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [0]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chisquare
from scipy.stats import normaltest

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-06-10 21:30:23--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip.1’

student.zip.1       100%[===================>]  20.00K  --.-KB/s    in 0.03s

2020-06-10 21:30:23 (651 KB/s) - ‘student.zip.1’ saved [20478/20478]

In [3]:
!unzip student.zip

Archive:  student.zip
replace student-mat.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace student-por.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace student-merge.R? [y]es, [n]o, [A]ll, [N]one, [r]ename: n
replace student.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: N

In [0]:
df = pd.read_csv('student-mat.csv', sep=';')

In [7]:
print(df.shape)
df.head()

(395, 33)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [8]:
df['absences'].value_counts().sort_index()

0     115
1       3
2      65
3       8
4      53
5       5
6      31
7       7
8      22
9       3
10     17
11      3
12     12
13      3
14     12
15      3
16      7
17      1
18      5
19      1
20      4
21      1
22      3
23      1
24      1
25      1
26      1
28      1
30      1
38      1
40      1
54      1
56      1
75      1
Name: absences, dtype: int64

In [9]:
df['romantic'].value_counts().sort_index()

no     263
yes    132
Name: romantic, dtype: int64

Null Hypothesis: Students are less likely to be absent when in a romantic relationship.

Alternative Hypothesis: Students are not less likely to be absent when in a romantic relationship.

In [10]:
contingency = pd.crosstab(df['romantic'], df['absences'], margins=True)
contingency

absences    0  1   2  3   4  5   6  7   8  ...  26  28  30  38  40  54  56  75  All
romantic                                   ...
no         70  3  53  7  41  3  23  2  15  ...   1   0   0   0   0   1   0   0  263
yes        45  0  12  1  12  2   8  5   7  ...   0   1   1   1   1   0   1   1  132
All       115  3  65  8  53  5  31  7  22  ...   1   1   1   1   1   1   1   1  395

[3 rows x 35 columns]

In [11]:
stats.chi2_contingency(contingency)

(52.29576184225294,
 0.9205223794426818,
 68,
 array([[7.65696203e+01, 1.99746835e+00, 4.32784810e+01, 5.32658228e+00,
         3.52886076e+01, 3.32911392e+00, 2.06405063e+01, 4.66075949e+00,
         1.46481013e+01, 1.99746835e+00, 1.13189873e+01, 1.99746835e+00,
         7.98987342e+00, 1.99746835e+00, 7.98987342e+00, 1.99746835e+00,
         4.66075949e+00, 6.65822785e-01, 3.32911392e+00, 6.65822785e-01,
         2.66329114e+00, 6.65822785e-01, 1.99746835e+00, 6.65822785e-01,
         6.65822785e-01, 6.65822785e-01, 6.65822785e-01, 6.65822785e-01,
         6.65822785e-01, 6.65822785e-01, 6.65822785e-01, 6.65822785e-01,
         6.65822785e-01, 6.65822785e-01, 2.63000000e+02],
        [3.84303797e+01, 1.00253165e+00, 2.17215190e+01, 2.67341772e+00,
         1.77113924e+01, 1.67088608e+00, 1.03594937e+01, 2.33924051e+00,
         7.35189873e+00, 1.00253165e+00, 5.68101266e+00, 1.00253165e+00,
         4.01012658e+00, 1.00253165e+00, 4.01012658e+00, 1.00253165e+00,
         2.33924051e+00, 3.34177215e-01, 1.67088608e+00, 3.34177215e-01,
         1.33670886e+00, 3.34177215e-01, 1.00253165e+00, 3.34177215e-01,
         3.34177215e-01, 3.34177215e-01, 3.34177215e-01, 3.34177215e-01,
         3.34177215e-01, 3.34177215e-01, 3.34177215e-01, 3.34177215e-01,
         3.34177215e-01, 3.34177215e-01, 1.32000000e+02],
        [1.15000000e+02, 3.00000000e+00, 6.50000000e+01, 8.00000000e+00,
         5.30000000e+01, 5.00000000e+00, 3.10000000e+01, 7.00000000e+00,
         2.20000000e+01, 3.00000000e+00, 1.70000000e+01, 3.00000000e+00,
         1.20000000e+01, 3.00000000e+00, 1.20000000e+01, 3.00000000e+00,
         7.00000000e+00, 1.00000000e+00, 5.00000000e+00, 1.00000000e+00,
         4.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.00000000e+00,
         1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
         1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
         1.00000000e+00, 1.00000000e+00, 3.95000000e+02]]))

Conclusion:

I accept the null hypothesis that students are less likely to be absent when in a romantic relationship.

Null Hypothesis: Children of parents who live together get better grades than children with separated parents.

Alternative Hypothesis: Children of parents who live together do no get better grades than children with separated parents.

In [12]:
df['Pstatus'].value_counts().sort_index()

A     41
T    354
Name: Pstatus, dtype: int64

In [0]:
df['Pstatus'].replace(to_replace='T', value=1, inplace=True)
df['Pstatus'].replace(to_replace='A', value=0, inplace=True)

In [14]:
df['G3'].value_counts().sort_index()

0     38
4      1
5      7
6     15
7      9
8     32
9     28
10    56
11    47
12    31
13    31
14    27
15    33
16    16
17     6
18    12
19     5
20     1
Name: G3, dtype: int64

In [15]:
contingency2 = pd.crosstab(df['Pstatus'], df['G3'], margins=True)
contingency2

G3        0  4  5   6  7   8   9  10  11  ...  13  14  15  16  17  18  19  20  All
Pstatus                                   ...
0         2  0  0   3  2   1   3   5   8  ...   4   1   3   1   1   2   2   0   41
1        36  1  7  12  7  31  25  51  39  ...  27  26  30  15   5  10   3   1  354
All      38  1  7  15  9  32  28  56  47  ...  31  27  33  16   6  12   5   1  395

[3 rows x 19 columns]

In [16]:
stats.chi2_contingency(contingency2)

(16.48546554509741,
 0.9978146012184588,
 36,
 array([[3.94430380e+00, 1.03797468e-01, 7.26582278e-01, 1.55696203e+00,
         9.34177215e-01, 3.32151899e+00, 2.90632911e+00, 5.81265823e+00,
         4.87848101e+00, 3.21772152e+00, 3.21772152e+00, 2.80253165e+00,
         3.42531646e+00, 1.66075949e+00, 6.22784810e-01, 1.24556962e+00,
         5.18987342e-01, 1.03797468e-01, 4.10000000e+01],
        [3.40556962e+01, 8.96202532e-01, 6.27341772e+00, 1.34430380e+01,
         8.06582278e+00, 2.86784810e+01, 2.50936709e+01, 5.01873418e+01,
         4.21215190e+01, 2.77822785e+01, 2.77822785e+01, 2.41974684e+01,
         2.95746835e+01, 1.43392405e+01, 5.37721519e+00, 1.07544304e+01,
         4.48101266e+00, 8.96202532e-01, 3.54000000e+02],
        [3.80000000e+01, 1.00000000e+00, 7.00000000e+00, 1.50000000e+01,
         9.00000000e+00, 3.20000000e+01, 2.80000000e+01, 5.60000000e+01,
         4.70000000e+01, 3.10000000e+01, 3.10000000e+01, 2.70000000e+01,
         3.30000000e+01, 1.60000000e+01, 6.00000000e+00, 1.20000000e+01,
         5.00000000e+00, 1.00000000e+00, 3.95000000e+02]]))

Conclusion:
Based on a chi^2 value of 16.49 and a p value of 1.00, I reject the Null Hypothesis that children of parents who live together get better grades than children of parents who do not live together.

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [17]:
df['Pstatus'].value_counts()

1    354
0     41
Name: Pstatus, dtype: int64

In [18]:
df['G3'].value_counts()

10    56
11    47
0     38
15    33
8     32
13    31
12    31
9     28
14    27
16    16
6     15
18    12
7      9
5      7
17     6
19     5
4      1
20     1
Name: G3, dtype: int64

In [19]:
observed = pd.crosstab(df['Pstatus'], df['G3'], margins=True)
observed

G3        0  4  5   6  7   8   9  10  11  ...  13  14  15  16  17  18  19  20  All
Pstatus                                   ...
0         2  0  0   3  2   1   3   5   8  ...   4   1   3   1   1   2   2   0   41
1        36  1  7  12  7  31  25  51  39  ...  27  26  30  15   5  10   3   1  354
All      38  1  7  15  9  32  28  56  47  ...  31  27  33  16   6  12   5   1  395

[3 rows x 19 columns]

In [20]:
observed['All'].index

Index([0, 1, 'All'], dtype='object', name='Pstatus')

In [21]:
observed.columns

Index([0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 'All'], dtype='object', name='G3')

In [33]:
'''This is a one line solution to calculating the expected value
for a single row/column pair by accesing crosstab margin totals.
It is the model I used for developing the following function
which calculates the expected values.
'''
expected_r1_c1 = (observed['All'][0]*observed[0]['All'])/observed['All']['All']

print(observed['All'][0],' x ', observed[0]['All'], ' = ', observed['All'][0]*observed[0]['All'])
print(observed['All'][0]*observed[0]['All'], ' / ', observed['All']['All'], ' = ', expected_r1_c1)

41  x  38  =  1558
1558  /  395  =  3.9443037974683546

In [0]:
'''
This function takes a crosstab of observation values and calculates
the expected values for a chi^2 statistic. It returns a dataframe
with the same header and index information as the source dataframe
with each expected value in the corresponding cell from which it's
calculation is derived. The original totals used for calculation,
including observation size, are also placed in their respective
positions in the event verification and/or recalculation is required.
'''

def chi2_expected(observed):

    sample_size = observed['All']['All']
    expected_values = pd.DataFrame(columns=observed.columns, index=observed.index)

    for i, col in enumerate(observed.columns):
        for j, row in enumerate(observed.index):
            if row != 'All' and col != 'All':
                row_ttl = observed['All'][row]
                col_ttl = observed[col]['All']
                expected_values[col][row] = row_ttl*col_ttl/sample_size
                expected_values[col]['All'] = observed[col]['All']

    expected_values['All'] = observed['All']

    return expected_values

In [0]:
expected_tab = chi2_expected(observed)

In [107]:
expected_tab

G3             0         4         5        6  ...       18        19        20  All
Pstatus                                        ...
0         3.9443  0.103797  0.726582  1.55696  ...  1.24557  0.518987  0.103797   41
1        34.0557  0.896203   6.27342   13.443  ...  10.7544   4.48101  0.896203  354
All           38         1         7       15  ...       12         5         1  395

[3 rows x 19 columns]

In [108]:
((observed - expected_tab)**2 / expected_tab).sum()

G3
0      1.069428
4      0.115819
5      0.810734
6      1.492352
7      1.356859
8      1.810513
9      0.003369
10     0.126775
11     2.228646
12     0.016438
13     0.212211
14     1.293627
15     0.058927
16     0.293342
17     0.254938
18     0.509876
19     4.715792
20     0.115819
All    0.000000
dtype: float64

In [110]:
#Here we have the final Chi^2 statistic

final_chi2 = ((observed - expected_tab)**2 / expected_tab).sum().sum()

final_chi2

16.48546554509741

In [115]:
print('Degrees of Freedom: ',expected_tab.shape[1]-1)
print('P Value: ', .35507)

Degrees of Freedom:  18
P Value:  0.35507

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [0]:
'''
This function takes a dataframe of observation values and two 
columns (in their original form) for comparison. It then creates 
a crosstab for use in calculating the expected values for
a chi^2 statistic. It then returns a dataframe with the same 
header and index information as the original crosstab with each 
expected value in the corresponding cell from which the corresponding
calculation is derived. The original totals used for calculation,
including observation size, are placed in their respective
positions in the event verification and/or recalculation is required.
Finally, it calculates the chi^2 value and returns it.
'''

def chi2(df, col1, col2):

    observed = pd.crosstab(df[col1], df[col2], margins=True)

    sample_size = observed['All']['All']
    expected_values = pd.DataFrame(columns=observed.columns, index=observed.index)

    for i, col in enumerate(observed.columns):
        for j, row in enumerate(observed.index):
            if row != 'All' and col != 'All':
                row_ttl = observed['All'][row]
                col_ttl = observed[col]['All']
                expected_values[col][row] = row_ttl*col_ttl/sample_size
                expected_values[col]['All'] = observed[col]['All']

    expected_values['All'] = observed['All']

    final_chi2 = ((observed - expected_tab)**2 / expected_tab).sum().sum()

    return final_chi2

In [122]:
print('Chi^2 Statistic: ', chi2(df, 'Pstatus', 'G3'))

Chi^2 Statistic:  16.48546554509741



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)