<a href="https://colab.research.google.com/github/james-caldwell1981/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS_122_Chi2_Tests_Assignment_Caldwell_James_TL_Hadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [16]:
from scipy.stats import ttest_1samp, ttest_ind, chi2_contingency, chi2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-07-25 01:22:07--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip’

student.zip         100%[===================>]  20.00K  --.-KB/s    in 0.1s

2020-07-25 01:22:08 (154 KB/s) - ‘student.zip’ saved [20478/20478]

In [5]:
!unzip student.zip

Archive:  student.zip
  inflating: student-mat.csv
  inflating: student-por.csv
  inflating: student-merge.R
  inflating: student.txt

In [6]:
!head student-merge.R

d1=read.table("student-mat.csv",sep=";",header=TRUE)
d2=read.table("student-por.csv",sep=";",header=TRUE)

d3=merge(d1,d2,by=c("school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","nursery","internet"))
print(nrow(d3)) # 382 students

In [8]:
!head student-mat.csv

school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
"GP";"F";18;"U";"GT3";"A";4;4;"at_home";"teacher";"course";"mother";2;2;0;"yes";"no";"no";"no";"yes";"yes";"no";"no";4;3;4;1;1;3;6;"5";"6";6
"GP";"F";17;"U";"GT3";"T";1;1;"at_home";"other";"course";"father";1;2;0;"no";"yes";"no";"no";"no";"yes";"yes";"no";5;3;3;1;1;3;4;"5";"5";6
"GP";"F";15;"U";"LE3";"T";1;1;"at_home";"other";"other";"mother";1;2;3;"yes";"no";"yes";"no";"yes";"yes";"yes";"no";4;3;2;2;3;3;10;"7";"8";10
"GP";"F";15;"U";"GT3";"T";4;2;"health";"services";"home";"mother";1;3;0;"no";"yes";"yes";"yes";"yes";"yes";"yes";"yes";3;2;2;1;1;5;2;"15";"14";15
"GP";"F";16;"U";"GT3";"T";3;3;"other";"other";"home";"father";1;2;0;"no";"yes";"yes";"no";"yes";"yes";"no";"no";4;3;2;1;2;5;4;"6";"10";10
"GP";"M";16;"U";"LE3";"T";4;3;"services";"other";"reputation";"mother";1;2;0;"no";"yes";"yes";"yes";"yes";"yes";"yes";"no";5;4;2;1;2;5;10;"15";"15";15
"GP";"M";16;"U";"LE3";"T";2;2;"other";"other";"home";"mother";1;2;0;"no";"no";"no";"no";"yes";"yes";"yes";"no";4;4;4;1;1;3;0;"12";"12";11
"GP";"F";17;"U";"GT3";"A";4;4;"other";"teacher";"home";"mother";2;2;0;"yes";"yes";"no";"no";"yes";"yes";"no";"no";4;1;4;1;1;1;6;"6";"5";6
"GP";"M";15;"U";"LE3";"A";3;2;"services";"other";"home";"mother";1;2;0;"no";"yes";"yes";"no";"yes";"yes";"yes";"no";4;2;2;1;1;1;0;"16";"18";19

In [14]:
df = pd.read_csv('student-mat.csv', sep=';')

In [15]:
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

###First pair showing independence.

In [69]:
fam_romance = pd.crosstab(df['famsize'], df['romantic'], margins=True)

In [71]:
fam_romance

romantic   no  yes  All
famsize
GT3       190   91  281
LE3        73   41  114
All       263  132  395

In [72]:
chi2_famrom = chi2_contingency(fam_romance)

In [73]:
print('With a chi2 stat of', chi2_famrom[0], 'and a p-value of', chi2_famrom[1], ', there is no indicated correlation between family size and romantic activity.')

With a chi2 stat of 0.4672863344520968 and a p-value of 0.9766065200287082 , there is no indicated correlation between family size and romantic activity.

###Second pair showing independence

In [74]:
sex_age = pd.crosstab(df['sex'], df['age'], margins=True)

In [75]:
sex_age

age  15   16  17  18  19  20  21  22  All
sex
F    38   54  58  43  14   1   0   0  208
M    44   50  40  39  10   2   1   1  187
All  82  104  98  82  24   3   1   1  395

In [76]:
chi2_sexage = chi2_contingency(sex_age)

In [78]:
print('With a chi2 stat of', chi2_sexage[0], 'and a p-value of', chi2_sexage[1], ', there is no indicated correlation between sex and age.')

With a chi2 stat of 5.99460281380294 and a p-value of 0.9881536918183923 , there is no indicated correlation between sex and age.

###First Pair showing dependence.

In [86]:
mf_edu = pd.crosstab(df['Medu'], df['Fedu'], margins=True)

In [87]:
mf_edu

Fedu  0   1    2    3   4  All
Medu
0     0   1    2    0   0    3
1     1  37   15    5   1   59
2     0  28   51   17   7  103
3     0  15   28   38  18   99
4     1   1   19   40  70  131
All   2  82  115  100  96  395

In [88]:
chi2_mfedu = chi2_contingency(mf_edu)

In [89]:
print('With a chi2 stat of', chi2_mfedu[0], 'and a p-value of', chi2_mfedu[1], ', there is strong correlation indicated between mother\'s and father\'s education.')

With a chi2 stat of 199.97731385712396 and a p-value of 3.098340506819211e-29 , there is strong correlation indicated between mother's and father's education.

###Second pair showing dependence.

In [100]:
add_trav = pd.crosstab(df['address'], df['traveltime'], margins=True)

In [101]:
add_trav

traveltime    1    2   3  4  All
address
R            35   34  14  5   88
U           222   73   9  3  307
All         257  107  23  8  395

In [102]:
chi2_addtrav = chi2_contingency(add_trav)

In [104]:
print('With a chi2 stat of', chi2_addtrav[0], 'and a p-value of', chi2_addtrav[1], ', there is strong correlation indicated between address and travel time.')

With a chi2 stat of 43.96115908406922 and a p-value of 5.786534373339064e-07 , there is strong correlation indicated between address and travel time.

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [106]:
add_trav

traveltime    1    2   3  4  All
address
R            35   34  14  5   88
U           222   73   9  3  307
All         257  107  23  8  395

In [111]:
add_trav.columns

Index([1, 2, 3, 4, 'All'], dtype='object', name='traveltime')

In [109]:
add_trav.index

Index(['R', 'U', 'All'], dtype='object', name='address')

In [112]:
chi2_contingency(add_trav)

(43.96115908406922,
 5.786534373339064e-07,
 8,
 array([[ 57.2556962 ,  23.83797468,   5.12405063,   1.78227848,
          88.        ],
        [199.7443038 ,  83.16202532,  17.87594937,   6.21772152,
         307.        ],
        [257.        , 107.        ,  23.        ,   8.        ,
         395.        ]]))

In [114]:
expected_r1_c1 = (add_trav[1]['All']*add_trav['All']['R'])/add_trav['All']['All']

In [120]:
exptd_vals = pd.DataFrame(columns=add_trav.columns, index=add_trav.index)
for i, col in enumerate(add_trav.columns):
    for j, row in enumerate(add_trav.index):
        exptd_vals[col][row] = (add_trav[col]['All']*add_trav['All'][row])/add_trav['All']['All']

In [122]:
exptd_vals

traveltime        1       2        3        4  All
address
R           57.2557  23.838  5.12405  1.78228   88
U           199.744  83.162  17.8759  6.21772  307
All             257     107       23        8  395

In [124]:
add_trav

traveltime    1    2   3  4  All
address
R            35   34  14  5   88
U           222   73   9  3  307
All         257  107  23  8  395

In [128]:
(add_trav[1]['R']-exptd_vals[1]['R'])**2/exptd_vals[1]['R']

8.650947352160227

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [ ]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)