<a href="https://colab.research.google.com/github/vjmiyagi/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS14_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [136]:
### YOUR CODE STARTS HERE

# Import

import pandas as pd

import numpy as np

from scipy import stats



# Grab the file from UCI
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-03-17 05:59:37--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.4’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-03-17 05:59:38 (134 KB/s) - ‘house-votes-84.data.4’ saved [18171/18171]

In [137]:
df=pd.read_csv('house-votes-84.data',names=['party','handicapped-infants',
                                            'water-project','budget',
                                            'physician-fee-freeze',
                                            'el-salvador-aid',
                                            'religious-groups',
                                            'anti-satellite-ban',
                                            'aid-to-contras','mx-missile',
                                            'immigration','synfuels',
                                            'education','right-to-sue','crime',
                                            'duty-free','south-africa'])
print(df.shape), df.head()

(435, 17)

(None,
         party handicapped-infants water-project  ... crime duty-free south-africa
 0  republican                   n             y  ...     y         n            y
 1  republican                   n             y  ...     y         n            ?
 2    democrat                   ?             y  ...     y         n            n
 3    democrat                   n             y  ...     n         n            y
 4    democrat                   y             y  ...     y         y            y

 [5 rows x 17 columns])

In [138]:
# Take a look at party column

df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [139]:
df = df.replace({'y':1, 'n':0,'?':np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican              0.00000  ...    0.00000       1.00000
1  republican              0.00000  ...    0.00000           nan
2    democrat                  nan  ...    0.00000       0.00000
3    democrat              0.00000  ...    0.00000       1.00000
4    democrat              1.00000  ...    1.00000       1.00000

[5 rows x 17 columns]

## Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [0]:
# Split the dataset into republicans and democrats

# rep = df[df['party']=='republican']
# dem = df[df['party']=='democrat']

rep = df[df['party']=='republican']
dem = df[df['party']=='democrat']

In [13]:
print(rep.head())
print(rep.shape)

print(dem.head())
dem.shape

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]
(168, 17)
      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

(267, 17)

# Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
# Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
## Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [141]:
pd.options.display.float_format = '{:,}'.format

bills =['handicapped-infants','water-project','budget',
        'physician-fee-freeze','el-salvador-aid','religious-groups',
        'anti-satellite-ban','aid-to-contras','mx-missile','immigration',
        'synfuels','education','right-to-sue','crime','duty-free',
        'south-africa']

for x in bills:
  print(x,'Rep: ', int(rep[x].sum()),'    ','Dem:  ', int(dem[x].sum()))

  print(stats.ttest_ind(rep[x], dem[x], nan_policy='omit'))
  print()

handicapped-infants Rep:  31      Dem:   156
Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

water-project Rep:  75      Dem:   120
Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

budget Rep:  22      Dem:   231
Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

physician-fee-freeze Rep:  163      Dem:   14
Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

el-salvador-aid Rep:  157      Dem:   55
Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)

religious-groups Rep:  149      Dem:   123
Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

anti-satellite-ban Rep:  39      Dem:   200
Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)

aid-to-contras Rep:  24      Dem:   218
Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)

mx-missile Rep:  19      Dem:   188
Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)

immigration Rep:  92      Dem:   124
Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

synfuels Rep:  21      Dem:   129
Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)

education Rep:  135      Dem:   36
Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)

right-to-sue Rep:  136      Dem:   73
Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)

crime Rep:  158      Dem:   90
Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

duty-free Rep:  14      Dem:   160
Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)

south-africa Rep:  96      Dem:   173
Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

In [142]:
column_names = ["bill", "rep", "dem"]
df_vote_counts = pd.DataFrame(columns = column_names)
print(df)

          party  handicapped-infants  ...  duty-free  south-africa
0    republican                  0.0  ...        0.0           1.0
1    republican                  0.0  ...        0.0           nan
2      democrat                  nan  ...        0.0           0.0
3      democrat                  0.0  ...        0.0           1.0
4      democrat                  1.0  ...        1.0           1.0
..          ...                  ...  ...        ...           ...
430  republican                  0.0  ...        0.0           1.0
431    democrat                  0.0  ...        0.0           1.0
432  republican                  0.0  ...        0.0           1.0
433  republican                  0.0  ...        0.0           1.0
434  republican                  0.0  ...        nan           0.0

[435 rows x 17 columns]

In [143]:
cols1 = ['bill', 'rep', 'dem', 'tstat', 'pvalue']

lst1 = []


bills =['handicapped-infants','water-project','budget',
        'physician-fee-freeze','el-salvador-aid','religious-groups',
        'anti-satellite-ban','aid-to-contras','mx-missile','immigration',
        'synfuels','education','right-to-sue','crime','duty-free',
        'south-africa']

for x in bills:
  r = int(rep[x].sum())
  d = int(dem[x].sum())
  s = stats.ttest_ind(rep[x], dem[x], nan_policy='omit')
 

  lst1.append([x,r,d, s[0], s[1]])


pd.set_option('display.float_format', lambda x: '%.5f' % x)
df_vc = pd.DataFrame(lst1, columns=cols1)

print()

df_vc.head()

                   bill  rep  dem     tstat  pvalue
0   handicapped-infants   31  156  -9.20526 0.00000
1         water-project   75  120   0.08897 0.92916
2                budget   22  231 -23.21278 0.00000
3  physician-fee-freeze  163   14  49.36708 0.00000
4       el-salvador-aid  157   55  21.13669 0.00000

In [153]:
satisfies_pval = df_vc[(df_vc['pvalue'] <= 0.01) & (df_vc['dem'] > df_vc['rep'])]

print("Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01")
satisfies_pval.head(16)

Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

                   bill  rep  dem     tstat  pvalue
0   handicapped-infants   31  156  -9.20526 0.00000
2                budget   22  231 -23.21278 0.00000
6    anti-satellite-ban   39  200 -12.52619 0.00000
7        aid-to-contras   24  218 -18.05209 0.00000
8            mx-missile   19  188 -16.43750 0.00000
10             synfuels   21  129  -8.29360 0.00000
14            duty-free   14  160 -12.85315 0.00000
15         south-africa   96  173  -6.84945 0.00000

In [152]:
satisfies_pval = df_vc[(df_vc['pvalue'] <= 0.01) & (df_vc['rep'] > df_vc['dem'])]

print("Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01")
satisfies_pval.head(16)

Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

                    bill  rep  dem    tstat  pvalue
3   physician-fee-freeze  163   14 49.36708 0.00000
4        el-salvador-aid  157   55 21.13669 0.00000
5       religious-groups  149  123  9.73758 0.00000
11             education  135   36 20.50069 0.00000
12          right-to-sue  136   73 13.51064 0.00000
13                 crime  158   90 16.34209 0.00000

In [155]:
satisfies_pval = df_vc[(df_vc['pvalue'] >= 0.1)]

print("Using hypothesis testing,")
print("find an issue where the difference between reps and dems that has p > 0.1")
satisfies_pval.head(16)

Using hypothesis testing,
find an issue where the difference between reps and dems that has p > 0.1

            bill  rep  dem   tstat  pvalue
1  water-project   75  120 0.08897 0.92916

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!