<a href="https://colab.research.google.com/github/james-caldwell1981/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS_122_Sampling_Confidence_Intervals_and_Hypothesis_Testing_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Build a confidence interval

A confidence interval refers to a neighborhood around some point estimate, the size of which is determined by the desired p-value. For instance, we might say that 52% of Americans prefer tacos to burritos, with a 95% confidence interval of +/- 5%.

52% (0.52) is the point estimate, and +/- 5% (the interval $[0.47, 0.57]$) is the confidence interval. "95% confidence" means a p-value $\leq 1 - 0.95 = 0.05$.

In this case, the confidence interval includes $0.5$ - which is the natural null hypothesis (that half of Americans prefer tacos and half burritos, thus there is no clear favorite). So in this case, we could use the confidence interval to report that we've failed to reject the null hypothesis.

But providing the full analysis with a confidence interval, including a graphical representation of it, can be a helpful and powerful way to tell your story. Done well, it is also more intuitive to a layperson than simply saying "fail to reject the null hypothesis" - it shows that in fact the data does *not* give a single clear result (the point estimate) but a whole range of possibilities.

How is a confidence interval built, and how should it be interpreted? It does *not* mean that 95% of the data lies in that interval - instead, the frequentist interpretation is "if we were to repeat this experiment 100 times, we would expect the average result to lie in this interval ~95 times."

For a 95% confidence interval and a normal(-ish) distribution, you can simply remember that +/-2 standard deviations contains 95% of the probability mass, and so the 95% confidence interval based on a given sample is centered at the mean (point estimate) and has a range of +/- 2 (or technically 1.96) standard deviations.

Different distributions/assumptions (90% confidence, 99% confidence) will require different math, but the overall process and interpretation (with a frequentist approach) will be the same.

Your assignment - using the data from the prior module ([congressional voting records](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records)):


### Confidence Intervals:
1. Generate and numerically represent a confidence interval
2. Graphically (with a plot) represent the confidence interval
3. Interpret the confidence interval - what does it tell you about the data and its distribution?

### Chi-squared tests:
4. Take a dataset that we have used in the past in class that has **categorical** variables. Pick two of those categorical variables and run a chi-squared tests on that data
  - By hand using Numpy
  - In a single line using Scipy

In [0]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import chisquare
from scipy.stats import normaltest

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-06-09 19:50:36--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip.1’

student.zip.1       100%[===================>]  20.00K  --.-KB/s    in 0.04s

2020-06-09 19:50:36 (553 KB/s) - ‘student.zip.1’ saved [20478/20478]

In [0]:
!unzip student.zip

In [0]:
df = pd.read_csv('student-mat.csv', sep=';')

In [0]:
print(df.shape)
df.head()

(395, 33)

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [0]:
df['absences'].value_counts().sort_index()

0     115
1       3
2      65
3       8
4      53
5       5
6      31
7       7
8      22
9       3
10     17
11      3
12     12
13      3
14     12
15      3
16      7
17      1
18      5
19      1
20      4
21      1
22      3
23      1
24      1
25      1
26      1
28      1
30      1
38      1
40      1
54      1
56      1
75      1
Name: absences, dtype: int64

In [0]:
df['romantic'].value_counts().sort_index()

no     263
yes    132
Name: romantic, dtype: int64

In [0]:
contingency = pd.crosstab(df['romantic'], df['absences'], margins=True)
contingency

absences    0  1   2  3   4  5   6  7   8  ...  26  28  30  38  40  54  56  75  All
romantic                                   ...
no         70  3  53  7  41  3  23  2  15  ...   1   0   0   0   0   1   0   0  263
yes        45  0  12  1  12  2   8  5   7  ...   0   1   1   1   1   0   1   1  132
All       115  3  65  8  53  5  31  7  22  ...   1   1   1   1   1   1   1   1  395

[3 rows x 35 columns]

Null Hypothesis: Students are less likely to be absent when in a romantic relationship.

Alternative Hypothesis: Students are not less likely to be absent when in a romantic relationship.

In [0]:
stats.chi2_contingency(contingency)

(52.29576184225295,
 0.01768085244851312,
 33,
 array([[76.56962025,  1.99746835, 43.27848101,  5.32658228, 35.28860759,
          3.32911392, 20.64050633,  4.66075949, 14.64810127,  1.99746835,
         11.31898734,  1.99746835,  7.98987342,  1.99746835,  7.98987342,
          1.99746835,  4.66075949,  0.66582278,  3.32911392,  0.66582278,
          2.66329114,  0.66582278,  1.99746835,  0.66582278,  0.66582278,
          0.66582278,  0.66582278,  0.66582278,  0.66582278,  0.66582278,
          0.66582278,  0.66582278,  0.66582278,  0.66582278],
        [38.43037975,  1.00253165, 21.72151899,  2.67341772, 17.71139241,
          1.67088608, 10.35949367,  2.33924051,  7.35189873,  1.00253165,
          5.68101266,  1.00253165,  4.01012658,  1.00253165,  4.01012658,
          1.00253165,  2.33924051,  0.33417722,  1.67088608,  0.33417722,
          1.33670886,  0.33417722,  1.00253165,  0.33417722,  0.33417722,
          0.33417722,  0.33417722,  0.33417722,  0.33417722,  0.33417722,
          0.33417722,  0.33417722,  0.33417722,  0.33417722]]))

Conclusion:

I accept the null hypothesis that students are less likely to be absent when in a romantic relationship.

In [0]:
df['school'].value_counts().sort_index()

GP    349
MS     46
Name: school, dtype: int64

In [0]:
df['traveltime'].value_counts().sort_index()

1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64

In [0]:
contingency = pd.crosstab(df['school'], df['traveltime'], margins=True)
contingency

traveltime    1    2   3  4  All
school
GP          243   84  15  7  349
MS           14   23   8  1   46
All         257  107  23  8  395

Null Hypothesis: Students in School GP have shorter travel times than students in School MS.

Alternative Hypothesis: Students in School GP do not have shorter travel times than students in School MS.

Confidenc Level: 95%

In [0]:
stats.chi2_contingency(contingency)

(31.656123714485112,
 6.183726050805027e-07,
 3,
 array([[227.07088608,  94.53924051,  20.32151899,   7.06835443],
        [ 29.92911392,  12.46075949,   2.67848101,   0.93164557]]))

Conclusion:

I accept the null hypothesis that students from School GP have shorter travel times than students from School MS

## Stretch goals:

1. Write a summary of your findings, mixing prose and math/code/results. *Note* - yes, this is by definition a political topic. It is challenging but important to keep your writing voice *neutral* and stick to the facts of the data. Data science often involves considering controversial issues, so it's important to be sensitive about them (especially if you want to publish).
2. Apply the techniques you learned today to your project data or other data of your choice, and write/discuss your findings here.
3. Refactor your code so it is elegant, readable, and can be easily run for all issues.

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)