<a href="https://colab.research.google.com/github/lsraei20/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [0]:
# YOUR WORK HERE
import pandas as pd
from scipy import stats
import numpy as np

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-06-10 15:48:51--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: ‘student.zip’

student.zip         100%[===================>]  20.00K  --.-KB/s    in 0.06s

2020-06-10 15:48:51 (311 KB/s) - ‘student.zip’ saved [20478/20478]

In [0]:
!unzip student.zip

Archive:  student.zip
  inflating: student-mat.csv
  inflating: student-por.csv
  inflating: student-merge.R
  inflating: student.txt

In [0]:
df = pd.read_csv('student-mat.csv', sep=';')
df.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

##Two pairs of variables that are dependent (are associated with one another).

In [0]:
contingency_dependent = pd.crosstab(df['famsup'], df['paid'])
contingency_dependent

paid     no  yes
famsup
no      111   42
yes     103  139

In [0]:
chi2, p_value, dof, expected = stats.chi2_contingency(contingency_dependent)
print('chi2 statistic', chi2)
print('p value', p_value)
print('degree of freedom', dof)
print('expected frequencies table', expected)

chi2 statistic 32.755868186196885
p value 1.0449038161313352e-08
degree of freedom 1
expected frequencies table [[ 82.89113924  70.10886076]
 [131.10886076 110.89113924]]

---Based on the p_value of 0.00000001044 I can conlude that family support and extra paid classes are correlated, which makes sense as it is often the family who is paying those extra classes

##Two pairs of variables that are independent (have no significant relationship).

In [0]:
contingency_independent = pd.crosstab(df['famsize'], df['age'])
contingency_independent

age      15  16  17  18  19  20  21  22
famsize
GT3      61  76  69  53  18   2   1   1
LE3      21  28  29  29   6   1   0   0

In [0]:
chi2s, p_values, dofs, expecteds = stats.chi2_contingency(contingency_independent)
print('chi2 statistic', chi2s)
print('p value', p_values)
print('degree of freedom', dofs)
print('expected frequencies table', expecteds)

chi2 statistic 3.342736233142963
p value 0.8515911826555439
degree of freedom 7
expected frequencies table [[58.33417722 73.98481013 69.7164557  58.33417722 17.07341772  2.13417722
   0.71139241  0.71139241]
 [23.66582278 30.01518987 28.2835443  23.66582278  6.92658228  0.86582278
   0.28860759  0.28860759]]

----- With a p_value of 0.85 there is not enough data to reject the hypothesis that family size and sex are independent of eachother.

It makes sense that these two are not correlated because family size stays about the same while age is constantly increasing, maybe we needed a larger sample size

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [0]:
def chi2_test(data_frame, first_column_name, second_column_name):
  observed= pd.crosstab(df[first_column_name], df[second_column_name])
  row_totals = df[second_column_name].value_counts().sort_index().values
  col_totals = df[first_column_name].value_counts().sort_index().values
  sample_size = len(df)
  expected = np.array([[0]*len(row_totals)]*len(col_totals))
  for i, col in enumerate(col_totals):
    for j, row in enumerate(row_totals): 
      expected_value = (row*col / sample_size)
      expected[i][j] = expected_value
  return ((observed.values - expected)**2 / expected).sum().sum()


chi2_test(df, 'famsup', 'paid')

35.08628493085764

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [0]:
# YOUR WORK HERE
#already is reusable with de chi2_test def



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)