<a href="https://colab.research.google.com/github/bsmrvl/DS-Unit-1-Sprint-2-Statistics/blob/master/unit1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [2]:
# Put data into dataframe, with named columns

import pandas as pd

head_names = ['symboling','normalized-losses','make','fuel-type',
              'aspiration','num-of-doors','body-style','drive-wheels',
              'engine-location','wheel-base','length','width','height',
              'curb-weight','engine-type','num-of-cylinders','engine-size',
              'fuel-system','bore','stroke','compression-ratio','horsepower',
              'peak-rpm','city-mpg','highway-mpg', 'price']


auto_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=head_names)
print(auto_df.shape)
auto_df.head()

(205, 26)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [3]:
# Replace all '?' with NaNs

import numpy as np

auto_df = auto_df.replace({'?': np.NaN})
auto_df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [4]:
### YOUR WORK HERE

auto_sample = auto_df.sample(n=10, random_state=30)
auto_sample.head()

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

In [5]:
# Let's get the mean highway-mpg of the 'whole population', which is actually just
# a dataset and already a random sample. And our own 'random sample' is just a subset
# of this random sample. It is nonsensical, but we press on.

auto_df['highway-mpg'].mean()

30.75121951219512

In [6]:
# Null Hypothesis: the mean highway-mpg of automobiles is equal to 30.75mpg (the currently accepted population mean).
# Alternative Hypothesis: the mean highway-mpg of automobiles is *not* equal to 30.75mpg.

from scipy import stats

stats.ttest_1samp(auto_sample['highway-mpg'], popmean=30.75)

Ttest_1sampResult(statistic=0.8917727404948264, pvalue=0.3957307423595724)

In [7]:
# Even with a confidence level of only 95%, we are far from passing this t-test. With a
# p-value of 0.396, we *fail to reject* the null hypothesis.

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [8]:
### YOUR WORK HERE

In [9]:
# Null Hyp: The mean highway-mpg of this salesman's cars (all cars) is 35mpg.
# Alt Hyp: The mean highway-mpg of this salesman's cars is *not* 35mpg.

stats.ttest_1samp(auto_sample['highway-mpg'], popmean=35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [10]:
# Again, we fail to reject the null hypothesis at any reasonable confidence level. Having
# failed to reject at both 30.75mpg and 35mpg (very different values), we can conclude
# that our sample is not very useful.

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [11]:
### YOUR WORK HERE

auto_sample_big = auto_df.sample(n=100, random_state=30)

In [12]:
stats.ttest_1samp(auto_sample_big['highway-mpg'], popmean=35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [13]:
# Wow! With a larger sample size we get a p-value of 0.00000000300. We can very quickly
# *reject* the null hypothesis that this salesman's cars have an average mpg of 35,
# even at, say, a confidence level of 99.5%.

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

In [14]:
# Technically speaking, the greater sample size is sure to lead to a bigger t-value,
# due to where n (sample size) lies in the formula for t. 

# Normally speaking, the larger sample is more representative of the population, 
# whose actual mean mpg is much lower than 35.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [50]:
### YOUR WORK HERE

column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze','el-salvador-aid',
                  'religious-groups','anti-satellite-ban','aid-to-contras',
                  'mx-missile','immigration','synfuels','education',
                  'right-to-sue','crime','duty-free','south-africa']

con_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=column_headers)
con_df

          party handicapped-infants water-project  ... crime duty-free south-africa
0    republican                   n             y  ...     y         n            y
1    republican                   n             y  ...     y         n            ?
2      democrat                   ?             y  ...     y         n            n
3      democrat                   n             y  ...     n         n            y
4      democrat                   y             y  ...     y         y            y
..          ...                 ...           ...  ...   ...       ...          ...
430  republican                   n             n  ...     y         n            y
431    democrat                   n             n  ...     n         n            y
432  republican                   n             ?  ...     y         n            y
433  republican                   n             n  ...     y         n            y
434  republican                   n             y  ...     y         ?            n

[435 rows x 17 columns]

In [51]:
con_df = con_df.replace({'y':1, 'n':0, '?':np.NaN})
con_df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [23]:
dem_df = con_df[con_df['party'] == 'democrat']
rep_df = con_df[con_df['party'] == 'republican']
dem_df.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [24]:
rep_df.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [26]:
### YOUR WORK HERE

## 1. Democrats

## Null: Republican and democratic congressfolk equally support the Anti Satellite Ban
## Alternate: Republican and democratic congressfolk do *not* equally support the Anti Satellite Ban
## Confidence level: 99%

stats.ttest_ind(rep_df['anti-satellite-ban'], dem_df['anti-satellite-ban'], nan_policy='omit')

Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)

In [ ]:
## With a p-value of 8.5e-31, we can very firmly reject the null hypothesis. Since
## the t-statistic is negative, we conclude that the democrats (right-hand side of
## the ttest function) have greater support for the Anti Satellite Ban

In [ ]:
## 2. Republicans

## Null: Fighting crime is an equal priority for republicans and democrats
## Alternate: Fighting crime is *not* an equal priority for republicans and democrats
## Confidence level: 99%

In [29]:
stats.ttest_ind(rep_df['crime'], dem_df['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [ ]:
## With a p-value of 9.95e-47, we can again firmly reject the null hypothesis. Since
## the t-statistic is positive this time, we conclude that the republicans prioritize
## fighting crime much more than democrats.

In [33]:
## 3. Insignificant

## Null: Republican and democratic congressfolk equally support the Water Project
## Alternate: Republican and democratic congressfolk do *not* equally support the Water Project
## Confidence level: 99%

stats.ttest_ind(rep_df['water-project'], dem_df['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [ ]:
## We got an incredibly high p-value of 0.929, and thus *fail to reject* the null
## hypothesis. There is no significant difference between republican and democratic 
## support for the Water Project.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [52]:
# Get rid of party column.

issues = column_headers[1:]
issues

['handicapped-infants',
 'water-project',
 'budget',
 'physician-fee-freeze',
 'el-salvador-aid',
 'religious-groups',
 'anti-satellite-ban',
 'aid-to-contras',
 'mx-missile',
 'immigration',
 'synfuels',
 'education',
 'right-to-sue',
 'crime',
 'duty-free',
 'south-africa']

In [57]:
for issue in issues:
  print(issue + ':\n\t' + str(stats.ttest_ind(rep_df[issue],dem_df[issue],nan_policy='omit')))

handicapped-infants:
	Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)
water-project:
	Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)
budget:
	Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)
physician-fee-freeze:
	Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)
el-salvador-aid:
	Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)
religious-groups:
	Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)
anti-satellite-ban:
	Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)
aid-to-contras:
	Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)
mx-missile:
	Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)
immigration:
	Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)
synfuels:
	Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)
education:
	Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)
right-to-sue:
	Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)
crime:
	Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)
duty-free:
	Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)
south-africa:
	Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)

In [84]:
# Here's a more fun, higher level version which goes straight to the conclusion
# based on t and p values, using a 99.9% confidence level

for issue in issues:
  print(issue)
  test = stats.ttest_ind(rep_df[issue],dem_df[issue],nan_policy='omit')
  if test.pvalue < 0.001:
    if test.statistic > 0:
      print('\tRepublican support')
    elif test.statistic < 0:
      print('\tDemocrat support')
  else:
    print('\tInsignificant difference between Repub and Dem support')

handicapped-infants
	Democrat support
water-project
	Insignificant difference between Repub and Dem support
budget
	Democrat support
physician-fee-freeze
	Republican support
el-salvador-aid
	Republican support
religious-groups
	Republican support
anti-satellite-ban
	Democrat support
aid-to-contras
	Democrat support
mx-missile
	Democrat support
immigration
	Insignificant difference between Repub and Dem support
synfuels
	Democrat support
education
	Republican support
right-to-sue
	Republican support
crime
	Republican support
duty-free
	Democrat support
south-africa
	Democrat support



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [74]:
### YOUR WORK HERE

# Let's try to replicate our 1-sample test from the automobiles, with the salesman's
# ridiculous claim. We'll use our big sample.

# Null Hyp: The mean highway-mpg of this salesman's cars (all cars) is 35mpg.
# Alt Hyp: The mean highway-mpg of this salesman's cars is *not* 35mpg.
# Confidence level: 99%

import statistics as st

auto_sample_big['highway-mpg'] = auto_sample_big['highway-mpg'].dropna()

print((auto_sample_big['highway-mpg'].mean() - 35) / (st.stdev(auto_sample_big['highway-mpg']) / (auto_sample_big['highway-mpg'].count()**(1/2))))
print(stats.ttest_1samp(auto_sample_big['highway-mpg'], popmean=35))

-6.5185242467032305
Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [ ]:
# One can see that our manually calculated t-statistic is identical to the one 
# produced by Scipy. Interestingly, when I used Numpy to calculate standard deviation
# (before using stdev() from the statistics library), it produced a slightly different
# result. Anyway, with identical t-statistics we know we will get an identical p-value,
# so we can *reject the null hypothesis* once again.

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [19]:
### YOUR WORK HERE

# I'll save this one...