<a href="https://colab.research.google.com/github/mtoce/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Assignment_LS_DS_121_Statistics_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

**Goal 1: Load and clean the data (or determine the best method to drop observations when running tests)**

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-03-16 20:37:51--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-03-16 20:37:51 (271 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [4]:
df = pd.read_csv('house-votes-84.data', names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [6]:
# Need numeric values, not strings :D
df = df.replace({'y': 1, 'n': 0, '?': np.NaN})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [9]:
# Extra insight into our data which could be very useful to reaching goals 2-4
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [8]:
# Create new DFs for different parties
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

**Goal 2: Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01**

In [35]:
# Insights into our data
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [36]:
# Insights into our data
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [13]:
# t-test for dem vs reps on 'budget'
stats.ttest_ind(rep['budget'], dem['budget'], nan_policy='omit')

# With a p-value of 2e-7, it is clear that they are bipartisan

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [14]:
# check rep budget mean
rep['budget'].mean()

0.13414634146341464

In [15]:
# check dem budget mean
dem['budget'].mean()

# These means show that budget is clearly much more supported by dems than reps

0.8884615384615384

**Goal 3: Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01**

In [28]:
# t-test for reps vs. dems on 'right-to-sue'
stats.ttest_ind(rep['right-to-sue'], dem['right-to-sue'], nan_policy='omit')

# with a p-value of 1.2e-34, it's clear this issue is very bipartisan

Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)

In [29]:
# check rep budget mean
rep['right-to-sue'].mean()

0.8607594936708861

In [30]:
# check dem budget mean
dem['right-to-sue'].mean()

# These means show that reps support the right-to-sue over dems

0.2896825396825397

**Goal 4: Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)**

In [52]:
stats.ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

0.08330248490425066

In [0]:
# Wow ! That's actually close to what we need! A p-value of > .1
# Let's check the means just for some clarity

In [33]:
rep['immigration'].mean()

0.5575757575757576

In [34]:
dem['immigration'].mean()

0.4714828897338403

In [0]:
# Must just be coincidence, but the difference between means is .08 and p = .08

In [37]:
# from .describe above, looks like water project is very closely supported

stats.ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
# Nice ! p = .929 > .1 We've accomplished our 4th goal

In [38]:
rep['water-project'].mean()

0.5067567567567568

In [39]:
dem['water-project'].mean()

0.502092050209205

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [0]:
# Stretch goal 1: Refactor your code into functions so it's easy to rerun with
# arbitrary variables

In [45]:
# Loop over all columns in rep and dem DFs

df.columns

Index(['party', 'handicapped-infants', 'water-project', 'budget',
       'physician-fee-freeze', 'el-salvador-aid', 'religious-groups',
       'anti-satellite-ban', 'aid-to-contras', 'mx-missile', 'immigration',
       'synfuels', 'education', 'right-to-sue', 'crime', 'duty-free',
       'south-africa'],
      dtype='object')

In [0]:
cols = list(df.columns)

In [0]:
def ttest(x, y):
  print(stats.ttest_ind(x, y, nan_policy='omit'))
  t_val, p_val = stats.ttest_ind(x, y, nan_policy='omit')
  mean_diff = x.mean - y.mean       # x is first!
  return t_val, p_val, mean_diff

In [0]:
for i in cols:
  toce_ttest(dem[i], rep[i])

In [53]:
issues = df.columns.tolist()
issues

['party',
 'handicapped-infants',
 'water-project',
 'budget',
 'physician-fee-freeze',
 'el-salvador-aid',
 'religious-groups',
 'anti-satellite-ban',
 'aid-to-contras',
 'mx-missile',
 'immigration',
 'synfuels',
 'education',
 'right-to-sue',
 'crime',
 'duty-free',
 'south-africa']

In [54]:
party_col = df.pop('party')
party_col

0      republican
1      republican
2        democrat
3        democrat
4        democrat
          ...
430    republican
431      democrat
432    republican
433    republican
434    republican
Name: party, Length: 435, dtype: object

In [0]:
stuff = []
for issue in issues:
  stuff.append(ttest())