<a href="https://colab.research.google.com/github/chrislopez630/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/chris_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [252]:
### YOUR WORK HERE
#loading data with headers, and fixing missing values to NaN
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

column_headers = ('symboling','normalized-losses','make','fuel-type','num-of-doors','body-style','drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price')
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=column_headers)
print(df.shape)
df.head()

(205, 25)

  symboling normalized-losses make  ... city-mpg highway-mpg  price
3         ?       alfa-romero  gas  ...       21          27  13495
3         ?       alfa-romero  gas  ...       21          27  16500
1         ?       alfa-romero  gas  ...       19          26  16500
2       164              audi  gas  ...       24          30  13950
2       164              audi  gas  ...       18          22  17450

[5 rows x 25 columns]

In [253]:
# noticed some question marks in data so replaced with np(numpy) NaN
df = df.replace({"?": np.NaN})
df.head()

  symboling normalized-losses make  ... city-mpg highway-mpg  price
3       NaN       alfa-romero  gas  ...       21          27  13495
3       NaN       alfa-romero  gas  ...       21          27  16500
1       NaN       alfa-romero  gas  ...       19          26  16500
2       164              audi  gas  ...       24          30  13950
2       164              audi  gas  ...       18          22  17450

[5 rows x 25 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [302]:
from scipy import stats
random_samp = df.sample(30, random_state=10)
random_samp.head(30)

   symboling normalized-losses    make  ... city-mpg highway-mpg  price
 2       NaN           renault     gas  ...       23          31   9895
 0       161            peugot     gas  ...       18          24  18150
 0       NaN             mazda  diesel  ...       36          42  10795
 3       150             mazda     gas  ...       17          23  11845
 0       NaN            jaguar     gas  ...       13          17  36000
 0       115             mazda     gas  ...       26          32   8495
 1        98         chevrolet     gas  ...       38          43   6295
 2       134            toyota     gas  ...       24          30  11549
 1       168            toyota     gas  ...       29          34   8058
-1        95             volvo  diesel  ...       26          27  22470
 2       NaN              audi     gas  ...       19          25  15250
-1        65            toyota     gas  ...       29          34   8948
 0        91            toyota  diesel  ...       38          47   7788
 0       NaN            peugot  diesel  ...       25          25  17075
 1       NaN           porsche     gas  ...       17          28    NaN
 0       128            nissan     gas  ...       17          22  13499
 1       129             mazda     gas  ...       26          32  10595
 0       161            peugot  diesel  ...       28          33  17950
 3       NaN       alfa-romero     gas  ...       21          27  16500
 1       NaN       alfa-romero     gas  ...       19          26  16500
 0       110             honda     gas  ...       30          34   7295
 2       192               bmw     gas  ...       23          29  16430
 2       134            toyota     gas  ...       24          30   8449
 3       197            toyota     gas  ...       20          24  16558
 1       158              audi     gas  ...       19          25  17710
 1       NaN           mercury     gas  ...       19          24  16503
 0       106            nissan     gas  ...       27          34   8949
 0        81         chevrolet     gas  ...       38          43   6575
 0        85             honda     gas  ...       27          33   8845
 0       108            nissan     gas  ...       17          22  14399

[30 rows x 25 columns]

In [303]:
random_samp = np.random.binomial(n=1, p=.5, size=10)

random_samp

array([1, 0, 1, 0, 1, 1, 1, 0, 0, 0])

In [304]:
df['highway-mpg'].mean()

30.75121951219512


The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [305]:
random_samp = np.random.binomial(n=35, p=.5, size=10)

random_samp.mean()

18.9

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [300]:
df.describe()
random_samp = df.sample(100, random_state=30)
random_samp.head(100)

   symboling normalized-losses    make  ... city-mpg highway-mpg  price
 1       154          plymouth     gas  ...       31          38   6692
-1        65            toyota     gas  ...       27          32  10898
 1       148             dodge     gas  ...       31          38   6229
-1       137        mitsubishi     gas  ...       23          30   9279
 3       142     mercedes-benz     gas  ...       16          18  35056
..       ...               ...     ...  ...      ...         ...    ...
 3       NaN        volkswagen     gas  ...       24          29  11595
 0       NaN        volkswagen  diesel  ...       33          38  13845
 2       134            toyota     gas  ...       24          30  11549
-1        95             volvo  diesel  ...       26          27  22470
 0       145            jaguar     gas  ...       15          19  32250

[100 rows x 25 columns]

In [301]:
random_samp = np.random.binomial(n=35, p=.5, size=30)

random_samp.mean()

17.133333333333333

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

These two t-test using the same dataset lead to different conclusions about the sales claim because the mean is higher so it uses more data from the data frame to conclude the salesman's claim

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [306]:
### YOUR WORK HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-08-10 22:56:32--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: house-votes-84.data

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-08-10 22:56:33 (286 KB/s) - house-votes-84.data saved [18171/18171]

In [307]:
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('house-votes-84.data', names=column_headers)

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [311]:
df = df.replace({'y': 1, 'n': 0, "?": np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [315]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

In [316]:
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [317]:
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [318]:
df.describe()
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [319]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [320]:
sample = df.sample(20, random_state=30)

sample.head()

          party  handicapped-infants  ...  duty-free  south-africa
276  republican                  0.0  ...        1.0           0.0
341    democrat                  0.0  ...        1.0           1.0
346  republican                  0.0  ...        0.0           1.0
328    democrat                  1.0  ...        0.0           1.0
142  republican                  0.0  ...        0.0           1.0

[5 rows x 17 columns]

In [321]:
stats.ttest_1samp(sample['education'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=-0.22360679774997916, pvalue=0.8255814504559293)

In [322]:
stats.ttest_1samp(sample['budget'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=0.8897565210026089, pvalue=0.3847242304314523)

In [323]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

In [325]:
stats.ttest_ind(dem['anti-satellite-ban'], rep['anti-satellite-ban'], nan_policy='omit')

Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443867e-31)

In [326]:
dem['anti-satellite-ban'].mean()

0.7722007722007722

In [327]:
rep['anti-satellite-ban'].mean()

0.24074074074074073

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [328]:
### YOUR WORK HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/ozone/onehr.data

--2020-08-10 23:16:26--  https://archive.ics.uci.edu/ml/machine-learning-databases/ozone/onehr.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 818994 (800K) [application/x-httpd-php]
Saving to: onehr.data

onehr.data          100%[===================>] 799.80K  2.49MB/s    in 0.3s

2020-08-10 23:16:27 (2.49 MB/s) - onehr.data saved [818994/818994]

In [331]:
df = pd.read_csv('onehr.data')
print(df.shape)
df.head()

(2535, 74)

   1/1/1998  0.8  1.8  2.4  2.1    2  ...  -12.1   17.9  10330  -55     0   0.
0  1/2/1998  2.8  3.2  3.3  2.7  3.3  ...  14.05     29  10275  -55     0  0.0
1  1/3/1998  2.9  2.8  2.6  2.1  2.2  ...   17.9   41.3  10235  -40     0  0.0
2  1/4/1998  4.7  3.8  3.7  3.8  2.9  ...  31.15   51.7  10195  -40  2.08  0.0
3  1/5/1998  2.6  2.1  1.6  1.4  0.9  ...      ?      ?      ?    ?  0.58  0.0
4  1/6/1998  3.1  3.5  3.3  2.5  1.6  ...  27.95  46.25  10120    ?  5.84  0.0

[5 rows x 74 columns]



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE