<a href="https://colab.research.google.com/github/ekselan/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Copy_of_LS_DS14_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE

## 1. Load and clean the data (or determine the best method to drop observations when running tests)

In [0]:
import numpy as np
import pandas as pd
from scipy import stats

In [33]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-03-16 21:50:38--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2020-03-16 21:50:38 (617 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [34]:
df = pd.read_csv('house-votes-84.data', names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [35]:
df = df.replace({'y':1, 'n':0, '?':np.NaN})

df.head()

# Change y/n values to integers, replace the ?s with NaN values

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

# Split dataset into two subsets by party

In [37]:
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [38]:
print(dem.shape)
dem.head()

(267, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

## 2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [0]:
# p-value >= .05 -> Fail to reject the null hypothesis

# p-value < .05 -> Reject the null hypothesis

In [40]:
stats.ttest_ind(rep['budget'], dem['budget'], nan_policy='omit')

# Due to pvalue being waaaaaay less than .01, I would reject the null hypothesis
# and suggest the alternative: there is a difference between the means on budget

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [41]:
# Now I'll investigate the means to view the difference, and see if 
# this was an issue that democrats supported more than republicans

dem['budget'].mean()

0.8884615384615384

In [42]:
rep['budget'].mean()

# .88 > .13
# Confirmed democrats vastly supported the budget issue more than republicans

0.13414634146341464

## 3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [43]:
df.head(1)

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0

[1 rows x 17 columns]

In [44]:
stats.ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

# Got another pvalue well below .01, now to see if republicans were more
# in favor of this one ...

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [45]:
rep['crime'].mean()

0.9813664596273292

In [46]:
dem['crime'].mean()

# .98 > .35
# Confirmed republicans supported the crime issue far more than democrats

0.35019455252918286

## 4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [47]:
stats.ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

# p is significantly > 0.1 on the water-project issue, and pulling the mean
# of each party's votes on that issue confirms that there little difference

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [48]:
rep['water-project'].mean()

0.5067567567567568

In [49]:
dem['water-project'].mean()

0.502092050209205

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [55]:
'''def ttest (sample1, sample2, nullvalue):
  mean1, mean2 = sample1.mean(), sample2.(mean)
  se1, se2 = sem(sample1), sem(sample2)
  sed = sqrt(se1**2 + se2**2)
  t = (mean1-mean2)/sed
  return t'''

# Was still working on this - getting errors so playing with the syntax to
# resolve

'def ttest (sample1, sample2, nullvalue):\n  mean1, mean2 = sample1.mean(), sample2.(mean)\n  se1, se2 = sem(sample1), sem(sample2)\n  sed = sqrt(se1**2 + se2**2)\n  t = (mean1-mean2)/sed\n  return t'

In [56]:
'''ttest(dem['water-project'], rep['water-project'], .3)'''

"ttest(dem['water-project'], rep['water-project'], .3)"