<a href="https://colab.research.google.com/github/KyleTy1er/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Day_6_Assignment_of_LS_DS_121_Statistics_Probability.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#Load and clean the data

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-02-17 23:49:14--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.2’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-02-17 23:49:14 (270 KB/s) - ‘house-votes-84.data.2’ saved [18171/18171]

In [3]:
df = pd.read_csv('house-votes-84.data', names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])

df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [4]:
df = df.replace({"y": 1, "n": 0, "?": np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
dem = df[df['party']=='democrat']

rep = df[df['party']=='republican']

In [7]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [8]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [11]:
#Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

stats.ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [14]:
#Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

stats.ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit')

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)

In [15]:
#Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

stats.ttest_ind(rep['aid-to-contras'], dem['aid-to-contras'], nan_policy='omit')

Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)

In [0]:
#Refactor your code into functions so it's easy to rerun with arbitrary variables

def t_tester(df1, df2, columns=""):

  if columns=="":
    for col in df1.columns.to_numpy()[1:]:
      tt=stats.ttest_ind(df1[col],df2[col],nan_policy='omit')
      print({col},{tt})
  else:
    for col in columns:
      tt=stats.ttest_ind(df1[col],df2[col],nan_policy='omit')
      print({col},{tt})
  return

In [42]:
t_tester(rep, dem)

{'handicapped-infants'} {Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)}
{'water-project'} {Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)}
{'budget'} {Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)}
{'physician-fee-freeze'} {Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)}
{'el-salvador-aid'} {Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)}
{'religious-groups'} {Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)}
{'anti-satellite-ban'} {Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)}
{'aid-to-contras'} {Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)}
{'mx-missile'} {Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)}
{'immigration'} {Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)}
{'synfuels'} {Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)}
{'education'} {Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)}
{'right-to-sue'} {Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)}
{'crime'} {Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)}
{'duty-free'} {Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)}
{'south-africa'} {Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)}

In [39]:
t_tester(rep,dem,columns=['budget'])

{'budget'} {Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)}