<a href="https://colab.research.google.com/github/techthumb1/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Dspt5_121_Statistics_Probability_Assignment_Jason_Robinson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

--2020-01-31 05:45:28--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.3’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-01-31 05:45:29 (271 KB/s) - ‘house-votes-84.data.3’ saved [18171/18171]

In [0]:
import pandas as pd

heads = ['party', 'handicapped infants', 'water project cost sharing', 
                  'adoption of the budget resolution', 'physician fee freeze', 
                  'el salvador aid', 'religious groups in schools', 
                  'canti satellite test ban', 'aid to nicaraguan contras',
                  'mx missile', 'immigration', 'synfuels corporation cutback',
                  'education spending', 'superfund right to sue', 'crime', 
                  'duty free exports', 'export administration act south africa']


votes= pd.read_csv('house-votes-84.data', names=heads, header=None, na_values='?')
votes.head(5)

        party  ... export administration act south africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
votes = votes.replace({'n':0, 'y':1})
votes.head()

        party  ...  export administration act south africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
votes.isnull().sum()

party                                       0
handicapped infants                        12
water project cost sharing                 48
adoption of the budget resolution          11
physician fee freeze                       11
el salvador aid                            15
religious groups in schools                11
canti satellite test ban                   14
aid to nicaraguan contras                  15
mx missile                                 22
immigration                                 7
synfuels corporation cutback               21
education spending                         31
superfund right to sue                     25
crime                                      17
duty free exports                          28
export administration act south africa    104
dtype: int64

In [0]:
votes['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
rep = votes[votes['party']=='republican']
rep.head()

         party  ...  export administration act south africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
dem = votes[votes['party']=='democrat']
dem.head()

      party  ...  export administration act south africa
2  democrat  ...                                     0.0
3  democrat  ...                                     1.0
4  democrat  ...                                     1.0
5  democrat  ...                                     1.0
6  democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
import numpy as np

col = dem['immigration']
np.isnan(col)
dem_immigration = col[~np.isnan(col)]
print(dem_immigration)
dem_immigration.sum()/len(dem_immigration)

2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
      ...
425    1.0
426    1.0
428    1.0
429    1.0
431    1.0
Name: immigration, Length: 263, dtype: float64

0.4714828897338403

In [0]:
dem['immigration'].sum()/len(dem)

0.46441947565543074

In [0]:
rep['immigration'].mean()

0.5575757575757576

In [0]:
from scipy.stats import ttest_ind

dem['immigration'].mean()

0.4714828897338403

In [0]:
print(dem['physician fee freeze'].mean())
rep['physician fee freeze'].mean()

0.05405405405405406

0.9878787878787879

In [0]:
col = rep['physician fee freeze']
rep_physician_fee = col[~np.isnan(col)]
col = dem['physician fee freeze']
dem_physician_fee = col[~np.isnan(col)]

In [0]:
ttest_ind(rep['physician fee freeze'], dem['physician fee freeze'], nan_policy='omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [0]:
print(dem['el salvador aid'].mean())
rep['el salvador aid'].mean()

0.21568627450980393

0.9515151515151515

In [0]:
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [0]:
print(dem['aid to nicaraguan contras'].mean())
rep['aid to nicaraguan contras'].mean()

0.8288973384030418

0.15286624203821655

In [0]:
ttest_ind(rep['aid to nicaraguan contras'], dem['aid to nicaraguan contras'], nan_policy='omit')

Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)

In [0]:
print(dem['water project cost sharing'].mean())
rep['water project cost sharing'].mean()

0.502092050209205

0.5067567567567568

In [0]:
print(dem['education spending'].mean())
rep['education spending'].mean()

0.14457831325301204

0.8709677419354839

In [0]:
ttest_ind(rep['education spending'], dem['education spending'], nan_policy='omit')

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)