<a href="https://colab.research.google.com/github/elifulton/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Eli_Fulton_Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
# standard importing of pandas
import pandas as pd
import numpy as np
from scipy import stats

# grabbing URL and assigning dataframe to CSV read of the URL
autos_set = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
df = pd.read_csv(autos_set)

# head shows wrong reading of the header
df.head()

   3    ?  alfa-romero  gas  std   two  ...  9.00  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...   8.5  110  5500  19  25  15250

[5 rows x 26 columns]

In [2]:
# set up new_headers and change df accordingly

new_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
df = pd.read_csv(autos_set, names=new_headers)

df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [3]:
# replace every ? with NaNs

df = df.replace({"?": np.NaN})

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [4]:
# set up the "random" sample

sample = df.sample(10, random_state=30)
sample

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056
103          0               108         nissan  ...       19          25  13499
26           1               148          dodge  ...       31          38   7609
20           0                81      chevrolet  ...       38          43   6575
155          0                91         toyota  ...       27          32   8778
185          2                94     volkswagen  ...       27          34   8195

[10 rows x 26 columns]

In [5]:
# the mean entry in this table will show the mean for highway-mpg

df.describe()

        symboling  wheel-base  ...    city-mpg  highway-mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

In [6]:
# NULL HYPO: The mean highway-mpg for the "random" sample of 10 is the same as the mean for the entire dataframe
# ALT HYPO: The mean highway-mpg for the "random" sample of 10 is different than the mean for the entire dataframe
# As shown by the 0.396 p-value and the 0.891 t-stat (a difference of 0.495, or about 50% certainty), we reject the null hypo and suggest the alt hypo

stats.ttest_1samp(sample['highway-mpg'], df['highway-mpg'].mean(), nan_policy='omit')

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [7]:
# NULL HYPO: The mean highway-mpg for the "random" sample of 10 is the same as the salesman's approximate mean
# ALT HYPO: The mean highway-mpg for the "random" sample of 10 is different than the salesman's approximate mean
# As shown by the 0.364 p-value and the -0.957 t-stat, we reject the null hypo and suggest the alt hypo

stats.ttest_1samp(sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [8]:
# NULL HYPO: The mean highway-mpg for the "random" sample of 100 is the same as the salesman's approximate mean
# ALT HYPO: The mean highway-mpg for the "random" sample of 100 is different than the salesman's approximate mean
# As shown by the 3 * (10^-9) p-value and the -6.519 t-stat, we reject the null hypo and suggest the alt hypo

new_sample = df.sample(100, random_state=30)
stats.ttest_1samp(new_sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The larger the sample, the more accurate the conclusion is, so the smaller sample might have been skewed somewhat with cars that tended to go closer to 35 mpg.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [9]:
# set up the politics dataframe and replace the headers

pol_set = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
new_headers_2 = ['party', 'handicapped-infants', 'water-project', 'budget', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups', 'anti-satellite-ban', 'aid-to-contras', 'mx-missile', 'immigration', 'synfuels', 'education', 'right-to-sue', 'crime', 'duty-free', 'south-africa']
df_2 = pd.read_csv(pol_set, names=new_headers_2)

# check for null values (it shows none although the site says there should be, sooo...)

df_2.isnull().sum()

party                   0
handicapped-infants     0
water-project           0
budget                  0
physician-fee-freeze    0
el-salvador-aid         0
religious-groups        0
anti-satellite-ban      0
aid-to-contras          0
mx-missile              0
immigration             0
synfuels                0
education               0
right-to-sue            0
crime                   0
duty-free               0
south-africa            0
dtype: int64

In [10]:
#  ....we'll have to replace all instances of ? with np.NaN, y with 1, and n with 0

df_2 = df_2.replace({'y': 1, 'n': 0, "?": np.NaN})

# now it looks correct

df_2.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [11]:
# set up "subset" dataframes

df_2_republican = df_2[df_2['party'] == 'republican']
df_2_democrat = df_2[df_2['party'] == 'democrat']

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [12]:
# NULL HYPO: Democrats and Republicans vote about the same on this immigration issue
# ALT HYPO: Democrats and Republicans don't vote the same on this immigration issue (republicans more in favor)
# As shown by the 0.08 p-value and the -1.7359 t-stat, we reject the null hypo and suggest the alt hypo (more specifically, that democrats generally don't vote in favor of this as much as republicans, because the t-stat is negative)

stats.ttest_ind(df_2_democrat['immigration'], df_2_republican['immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [13]:
# NULL HYPO: Democrats and Republicans vote about the same on this synfuels issue
# ALT HYPO: Democrats and Republicans don't vote the same on this synfuels issue (democrats more in favor)
# As shown by the 1.5759 * 10^(-15) p-value and the 8.29 t-stat, we reject the null hypo and suggest the alt hypo (more specifically, that democrats generally vote in favor of this more than republicans, because the t-stat is positive)

stats.ttest_ind(df_2_democrat['synfuels'], df_2_republican['synfuels'], nan_policy='omit')

Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)

In [14]:
# NULL HYPO: Democrats and Republicans don't vote the same on this water project issue
# ALT HYPO: Democrats and Republicans vote about the same on this water project issue
# As shown by the 0.9 p-value and the -0.088965 t-stat, we reject the null hypo and suggest the alt hypo

stats.ttest_ind(df_2_democrat['water-project'], df_2_republican['water-project'], nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [26]:
# compare the actual means of the subset dataframes

print(str(df_2_democrat['immigration'].mean()) + " vs. " + str(df_2_republican['immigration'].mean()))
print(str(df_2_democrat['synfuels'].mean()) + " vs. " + str(df_2_republican['synfuels'].mean()))
print(str(df_2_democrat['water-project'].mean()) + " vs. " + str(df_2_republican['water-project'].mean()))

0.4714828897338403 vs. 0.5575757575757576
0.5058823529411764 vs. 0.1320754716981132
0.502092050209205 vs. 0.5067567567567568

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [16]:
# function to print out two-sample t-tests for every corresponding issue

def do_two_sample_test(topic):
  print(topic + ": " + str(stats.ttest_ind(df_2_democrat[topic], df_2_republican[topic], nan_policy='omit')))

# for loop to iterate through all headers (except party)

for i in range(1, len(df_2.columns)):
  do_two_sample_test(new_headers_2[i])

handicapped-infants: Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)
water-project: Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)
budget: Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)
physician-fee-freeze: Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)
el-salvador-aid: Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
religious-groups: Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)
anti-satellite-ban: Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443867e-31)
aid-to-contras: Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)
mx-missile: Ttest_indResult(statistic=16.437503268542994, pvalue=5.03079265310811e-47)
immigration: Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)
synfuels: Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)
education: Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)
right-to-sue: Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672758e-34)
crime: Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)
duty-free: Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174347365e-32)
south-africa: Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672226e-11)



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [17]:
# function to return the t statistic using the formula in class

def alt_one_t_test(sample_col, hyp_mean):

  # drop null values and calculate mean
  sample_col = sample_col.dropna()
  sample_mean = sample_col.mean()

  t_stat = (sample_mean - hyp_mean) / ((sample_col.std()) / (len(sample_col.index) ** (1/2)))
  return t_stat

# print both the t statistic calculated by the function and the original stats.ttest.1samp to compare
print(alt_one_t_test(sample['highway-mpg'], 35))
stats.ttest_1samp(sample['highway-mpg'], 35, nan_policy='omit')

-0.9570244044334747

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

![P-value is 0.34088](https://i.imgur.com/Qjc34bA.png)

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [18]:
# here we use a different formula to calculate the t stat for a 2-sample test

def alt_two_t_test(sample_col_1, sample_col_2):

  # drop null values
  sample_col_1 = sample_col_1.dropna()
  sample_col_2 = sample_col_2.dropna()

  # calculate means
  sample_col_1_mean = sample_col_1.mean()
  sample_col_2_mean = sample_col_2.mean()

  # formula for t stat for a 2-sample test (https://www.cliffsnotes.com/study-guides/statistics/univariate-inferential-tests/two-sample-t-test-for-comparing-two-means)
  t_stat = (sample_col_1_mean - sample_col_2_mean) / ((((sample_col_1.std() ** 2) / len(sample_col_1.index)) + ((sample_col_2.std() ** 2) / len(sample_col_2.index))) ** (1/2))
  return t_stat

# compare t stats
print(alt_two_t_test(df_2_democrat['immigration'], df_2_republican['immigration']))
stats.ttest_ind(df_2_democrat['immigration'], df_2_republican['immigration'], nan_policy='omit')

-1.737470365966673

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

![P-value is 0.08](https://i.imgur.com/3vCkwNl.png)