<a href="https://colab.research.google.com/github/jacob-torres/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Jacob_Torres_LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-09-18 01:11:34--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.06s

2020-09-18 01:11:34 (411 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [ ]:
!head imports-85.data

3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,168.80,64.10,48.80,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,168.80,64.10,48.80,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,171.20,65.50,52.40,2823,ohcv,six,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
2,164,audi,gas,std,four,sedan,fwd,front,99.80,176.60,66.20,54.30,2337,ohc,four,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
2,164,audi,gas,std,four,sedan,4wd,front,99.40,176.60,66.40,54.30,2824,ohc,five,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
2,?,audi,gas,std,two,sedan,fwd,front,99.80,177.30,66.30,53.10,2507,ohc,five,136,mpfi,3.19,3.40,8.50,110,5500,19,25,15250
1,158,audi,gas,std,four,sedan,fwd,front,105.80,192.70,71.40,55.70,2844,ohc,five,136,mpfi,3.19,3.40,8.50,110,5500,19,25,17710
1,?,audi,gas,std,four,wagon,fwd,front,105.80,192.70,71.40,55.70,2954,ohc,five,136,mpfi,3.19,3.40,8.50,110,5500,19,25,18920
1,158,audi,gas,turbo,four,sedan,fwd,front,105.80,192.70,71.40,55.90,3086,ohc,five,131,mpfi,3.13,3.40,8.30,140,5500,17,20,23875
0,?,audi,gas,turbo,two,hatchback,4wd,front,99.50,178.20,67.90,52.00,3053,ohc,five,131,mpfi,3.13,3.40,7.00,160,5500,16,22,?

In [ ]:
# import libraries
import pandas as pd
import numpy as np

In [ ]:
# Load the data into a dataframe with named columns
# (from imports-85.names)

data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
cols = [
        'symboling', 'normalize-losses', 'make', 'fuel-type', 'aspiration',
        'number-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base',
        'length', 'width', 'height', 'curb-weight', 'engine-type',
        'number-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
        'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price'
]
autos = pd.read_csv(data_url, names=cols)
print(autos.shape)
autos.head()

(205, 26)

   symboling normalize-losses         make  ... city-mpg highway-mpg  price
0          3                ?  alfa-romero  ...       21          27  13495
1          3                ?  alfa-romero  ...       21          27  16500
2          1                ?  alfa-romero  ...       19          26  16500
3          2              164         audi  ...       24          30  13950
4          2              164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
autos.describe()

        symboling  wheel-base  ...    city-mpg  highway-mpg
count  205.000000  205.000000  ...  205.000000   205.000000
mean     0.834146   98.756585  ...   25.219512    30.751220
std      1.245307    6.021776  ...    6.542142     6.886443
min     -2.000000   86.600000  ...   13.000000    16.000000
25%      0.000000   94.500000  ...   19.000000    25.000000
50%      1.000000   97.000000  ...   24.000000    30.000000
75%      2.000000  102.400000  ...   30.000000    34.000000
max      3.000000  120.900000  ...   49.000000    54.000000

[8 rows x 10 columns]

In [ ]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            205 non-null    int64
 1   normalize-losses     205 non-null    object
 2   make                 205 non-null    object
 3   fuel-type            205 non-null    object
 4   aspiration           205 non-null    object
 5   number-of-doors      205 non-null    object
 6   body-style           205 non-null    object
 7   drive-wheels         205 non-null    object
 8   engine-location      205 non-null    object
 9   wheel-base           205 non-null    float64
 10  length               205 non-null    float64
 11  width                205 non-null    float64
 12  height               205 non-null    float64
 13  curb-weight          205 non-null    int64
 14  engine-type          205 non-null    object
 15  number-of-cylinders  205 non-null    object
 16  engine-size          205 non-null    int64
 17  fuel-system          205 non-null    object
 18  bore                 205 non-null    object
 19  stroke               205 non-null    object
 20  compression-ratio    205 non-null    float64
 21  horsepower           205 non-null    object
 22  peak-rpm             205 non-null    object
 23  city-mpg             205 non-null    int64
 24  highway-mpg          205 non-null    int64
 25  price                205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [ ]:
# Inspect the price column for out-of-place values
autos['price'].value_counts(dropna=False)[:5]

?        4
7609     2
8845     2
18150    2
8921     2
Name: price, dtype: int64

In [ ]:
autos['price'] = autos['price'].replace('?', np.NaN)
autos['price'].value_counts(dropna=False)[:5]

NaN      4
8921     2
13499    2
6229     2
7609     2
Name: price, dtype: int64

In [ ]:
# Replace missing values in other columns
for col in autos.columns:
  autos[col] = autos[col].replace('?', np.NaN)

In [ ]:
# Show the head of the data again
autos.head(10)

   symboling normalize-losses         make  ... city-mpg highway-mpg  price
0          3              NaN  alfa-romero  ...       21          27  13495
1          3              NaN  alfa-romero  ...       21          27  16500
2          1              NaN  alfa-romero  ...       19          26  16500
3          2              164         audi  ...       24          30  13950
4          2              164         audi  ...       18          22  17450
5          2              NaN         audi  ...       19          25  15250
6          1              158         audi  ...       19          25  17710
7          1              NaN         audi  ...       19          25  18920
8          1              158         audi  ...       17          20  23875
9          0              NaN         audi  ...       16          22    NaN

[10 rows x 26 columns]

In [ ]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            205 non-null    int64
 1   normalize-losses     164 non-null    object
 2   make                 205 non-null    object
 3   fuel-type            205 non-null    object
 4   aspiration           205 non-null    object
 5   number-of-doors      203 non-null    object
 6   body-style           205 non-null    object
 7   drive-wheels         205 non-null    object
 8   engine-location      205 non-null    object
 9   wheel-base           205 non-null    float64
 10  length               205 non-null    float64
 11  width                205 non-null    float64
 12  height               205 non-null    float64
 13  curb-weight          205 non-null    int64
 14  engine-type          205 non-null    object
 15  number-of-cylinders  205 non-null    object
 16  engine-size          205 non-null    int64
 17  fuel-system          205 non-null    object
 18  bore                 201 non-null    object
 19  stroke               201 non-null    object
 20  compression-ratio    205 non-null    float64
 21  horsepower           203 non-null    object
 22  peak-rpm             203 non-null    object
 23  city-mpg             205 non-null    int64
 24  highway-mpg          205 non-null    int64
 25  price                201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estimated sample mean to the population mean. Can you say that they are different?

#### Hypotheses:

- Null: The sample mean of highway MPG is not significantly different than that of the population.
- Alternative: The sample mean of highway MPG is significantly different than that of the population.

#### Significancelevel:

- The significance level of this test (alpha) = 0.05
- If pvalue < alpha, the results are statistically significant and the null is rejected.
- If pvalue >= alpha, the results are not statistically significant and the null is NOT rejected.
- The statistical significance determines whether or not the sample mean is reflective of the population mean.

In [ ]:
# import the stats library
from scipy import stats

In [ ]:
auto_sample = autos.sample(n=10, random_state=30)
samp_mean = auto_sample['highway-mpg'].mean()
samp_std = auto_sample['highway-mpg'].std()
pop_mean = autos['highway-mpg'].mean()

print(f"""Highway MPG stats:
  Sample mean = {round(samp_mean, 2)} mpg
  Sample standard deviation = {round(samp_std, 2)} miles
  Population mean = {round(pop_mean, 2)} mpg
""")

Highway MPG stats:
  Sample mean = 32.8 mpg
  Sample standard deviation = 7.27 miles
  Population mean = 30.75 mpg

In [ ]:
# Calculate the t statistic and pvalue
stats.ttest_1samp(auto_sample['highway-mpg'], popmean=pop_mean)

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

- Tstatistic = 0.89, meaning the sample mean is about 0.89 greater than the population mean.
- pvalue = 0.4, meaning we should not reject the null.

In other words: the results are not statistically significant, and the sample mean of highway MPG is not significantly different than the population mean.

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
# alpha = 0.05
# Null: the sample mean of highway mpg is not significantly different than 35 mpg
stats.ttest_1samp(auto_sample['highway-mpg'], 35.0)
# With this result, the null would not be rejected

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
auto_sample100 = autos.sample(n=100, random_state=30)
stats.ttest_1samp(auto_sample100['highway-mpg'], 35.0)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The pvalue for the 10-car sample exceded the significance level by quite a bit, and so the conclusion was to reject the null (e.g. the sample mean was not significantly different than the salesman's claim of 35 mpg.)

The 100-car sample resulted in a pvalue of essentially 0, meaning that the sample mean was significantly different than the salesman's claimed average of 35 mpg.

These two conclusions are different because the sample size increased ten times, and the increased data skewed the sample mean further and further from the claimed mean of 35.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
# Load the data into a dataframe
import pandas as pd
import numpy as np

house_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
house_cols = [
              'class-name', 'handicapped-infants', 'water-project-cost-sharing', 'adoption-of-the-budget-resolution',
              'physician-fee-freeze', 'el-salvador-aid', 'religious-groups-in-schools', 'anti-satellite-test-ban',
              'aid-to-nicaraguan-contras', 'mx-missile', 'immigration', 'synfuels-corporation-cutback',
              'education-spending', 'superfund-right-to-sue', 'crime', 'duty-free-exports', 'export-administration-act-south-africa'
]
house_votes = pd.read_csv(house_data_url,
                          names=house_cols)
print(house_votes.shape)
house_votes.head()

(435, 17)

   class-name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [ ]:
# Map the values to numerical values and NaN
for col in house_votes.columns[1:]:
  house_votes[col] = house_votes[col].map(
      {'y': 1, 'n': 0, '?': np.NaN}
  )

house_votes.head()

   class-name  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [ ]:
house_votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   class-name                              435 non-null    object
 1   handicapped-infants                     423 non-null    float64
 2   water-project-cost-sharing              387 non-null    float64
 3   adoption-of-the-budget-resolution       424 non-null    float64
 4   physician-fee-freeze                    424 non-null    float64
 5   el-salvador-aid                         420 non-null    float64
 6   religious-groups-in-schools             424 non-null    float64
 7   anti-satellite-test-ban                 421 non-null    float64
 8   aid-to-nicaraguan-contras               420 non-null    float64
 9   mx-missile                              413 non-null    float64
 10  immigration                             428 non-null    float64
 11  synfuels-corporation-cutback            414 non-null    float64
 12  education-spending                      404 non-null    float64
 13  superfund-right-to-sue                  410 non-null    float64
 14  crime                                   418 non-null    float64
 15  duty-free-exports                       407 non-null    float64
 16  export-administration-act-south-africa  331 non-null    float64
dtypes: float64(16), object(1)
memory usage: 57.9+ KB

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
rep_subset = house_votes[house_votes['class-name'] == 'republican']
dem_subset = house_votes[house_votes['class-name'] == 'democrat']
print("Total republican votes:", rep_subset.shape)
print("Total democrat votes:", dem_subset.shape)

Total republican votes: (168, 17)
Total democrat votes: (267, 17)

In [ ]:
rep_samp = rep_subset.sample(frac=0.4, random_state=30)
dem_samp = dem_subset.sample(frac=0.4, random_state=30)
print("Republican sample:", rep_samp.shape)
print("Democrat sample:", dem_samp.shape)

Republican sample: (67, 17)
Democrat sample: (107, 17)

In [ ]:
print("Republican sample vote averages:")
rep_samp.mean()

Republican sample vote averages:

handicapped-infants                       0.257576
water-project-cost-sharing                0.516129
adoption-of-the-budget-resolution         0.151515
physician-fee-freeze                      0.984848
el-salvador-aid                           0.969697
religious-groups-in-schools               0.909091
anti-satellite-test-ban                   0.261538
aid-to-nicaraguan-contras                 0.156250
mx-missile                                0.075758
immigration                               0.545455
synfuels-corporation-cutback              0.156250
education-spending                        0.852459
superfund-right-to-sue                    0.822581
crime                                     0.984375
duty-free-exports                         0.116667
export-administration-act-south-africa    0.754386
dtype: float64

In [ ]:
print("Democrat sample vote averages:")
dem_samp.mean()

Democrat sample vote averages:

handicapped-infants                       0.567308
water-project-cost-sharing                0.510000
adoption-of-the-budget-resolution         0.857143
physician-fee-freeze                      0.084906
el-salvador-aid                           0.277228
religious-groups-in-schools               0.471154
anti-satellite-test-ban                   0.750000
aid-to-nicaraguan-contras                 0.764151
mx-missile                                0.710000
immigration                               0.481132
synfuels-corporation-cutback              0.480392
education-spending                        0.174757
superfund-right-to-sue                    0.306931
crime                                     0.380952
duty-free-exports                         0.565657
export-administration-act-south-africa    0.923077
dtype: float64

### Votes on handicapped infants

#### Null hypothesis:
On the issue of handicapped infants, the average Republican's vote is not significantly different than the average Democrat's vote.

#### Alternative hypothesis:

On the issue of handicapped infants, the average Republican's vote is significantly lower than the average Democrat's vote.

In [ ]:
from scipy import stats
# Drop NaNs before testing
rep_samp.dropna(inplace=True)
dem_samp.dropna(inplace=True)

# Test the difference on handicapped-infants
stats.ttest_ind(rep_samp['handicapped-infants'], dem_samp['handicapped-infants'])

Ttest_indResult(statistic=-3.2505848014196217, pvalue=0.0015888526754607325)

The pvalue < 0.01, which suggests we should reject the null. The average Republican  vote on handicapped infants is significantly lower than that of Democrats on the same issue.

### Votes on religious groups in school

#### Null hypothesis:
The average Republican's vote on religious groups in school is not significantly different than that of Democrats.

#### Alternative hypothesis:
The average Republican's vote on religious groups in schools is significantly higher than that of democrats.

In [ ]:
# Test the issue of religious-groups-in-schools
stats.ttest_ind(rep_samp['religious-groups-in-schools'], dem_samp['religious-groups-in-schools'])

Ttest_indResult(statistic=5.027421302000777, pvalue=2.3053853584255523e-06)

The pvalue < 0.01, which suggests that we should reject the null hypothesis. Republican's voted significantly higher than Democrats on the issue of religious groups in schools.

### Votes on water project cost sharing

#### Null hypothesis:
The average republican's vote on the issue of water project cost sharing is not significantly different than that of Democrats.

#### Alternative hypothesis
The Republican'average s vote on the issue of water project cost sharing is significantly different than that of Democrats.

In [ ]:
# Test on the issue of water-project-cost-sharing
stats.ttest_ind(rep_samp['water-project-cost-sharing'], dem_samp['water-project-cost-sharing'])

Ttest_indResult(statistic=0.28970805498876157, pvalue=0.7726643853766925)

The pvalue > 0.01, which suggests that we should not reject the null hypothesis. The votes of Republicans and Democrats on the issue of water project cost sharing are not significantly different.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE