<a href="https://colab.research.google.com/github/techthumb1/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Jason_Robinson_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
#Begin by importing the functions and establishing the dataframe
import pandas as pd

In [0]:
headers = ['Class Name', 'Handicapped Infants', 'Water Project Cost Sharing', 'Adoption of the Budget Resolution', 
           'Physician Fee Freeze', 'El Salvador Aid', 'Religious Groups in Schools', 'Canti Satellite Test Ban',
           'Aid to Nicaraguan Contras','Mx Missile', ' Immigration', 'Synfuels Corporation Cutback', 'Education Spending'
           'Superfund Right to Sue', 'Crime', 'Duty Free Exports', 'Export Administration Act South Africa']

names = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.names', names=headers)
names.head()

                                          Class Name  ... Export Administration Act South Africa
0  1. Title: 1984 United States Congressional Vot...  ...                                    NaN
1                             2. Source Information:  ...                                    NaN
2       (a) Source:  Congressional Quarterly Almanac  ...                                    NaN
3                                   2nd session 1984  ...                                    NaN
4                                         Washington  ...                                    NaN

[5 rows x 16 columns]

In [0]:
names.columns

Index(['Class Name', 'Handicapped Infants', 'Water Project Cost Sharing',
       'Adoption of the Budget Resolution', 'Physician Fee Freeze',
       'El Salvador Aid', 'Religious Groups in Schools',
       'Canti Satellite Test Ban', 'Aid to Nicaraguan Contras', 'Mx Missile',
       ' Immigration', 'Synfuels Corporation Cutback',
       'Education SpendingSuperfund Right to Sue', 'Crime',
       'Duty Free Exports', 'Export Administration Act South Africa'],
      dtype='object')

In [0]:
headers1 = ['Class Name', 'Handicapped Infants', 'Water Project Cost Sharing', 'Adoption of the Budget Resolution', 
           'Physician Fee Freeze', 'El Salvador Aid', 'Religious Groups in Schools', 'Canti Satellite Test Ban',
           'Aid to Nicaraguan Contras','Mx Missile', ' Immigration', 'Synfuels Corporation Cutback', 'Education Spending'
           'Superfund Right to Sue', 'Crime', 'Duty Free Exports', 'Export Administration Act South Africa']


data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=headers1)
data.sample(5)

           Class Name  ... Export Administration Act South Africa
republican          y  ...                                      y
democrat            y  ...                                      ?
republican          n  ...                                      y
republican          n  ...                                      y
democrat            n  ...                                      y

[5 rows x 16 columns]

In [0]:
data.isnull().sum()

Class Name                                  0
Handicapped Infants                         0
Water Project Cost Sharing                  0
Adoption of the Budget Resolution           0
Physician Fee Freeze                        0
El Salvador Aid                             0
Religious Groups in Schools                 0
Canti Satellite Test Ban                    0
Aid to Nicaraguan Contras                   0
Mx Missile                                  0
 Immigration                                0
Synfuels Corporation Cutback                0
Education SpendingSuperfund Right to Sue    0
Crime                                       0
Duty Free Exports                           0
Export Administration Act South Africa      0
dtype: int64

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435 entries, republican to republican
Data columns (total 16 columns):
Class Name                                  435 non-null object
Handicapped Infants                         435 non-null object
Water Project Cost Sharing                  435 non-null object
Adoption of the Budget Resolution           435 non-null object
Physician Fee Freeze                        435 non-null object
El Salvador Aid                             435 non-null object
Religious Groups in Schools                 435 non-null object
Canti Satellite Test Ban                    435 non-null object
Aid to Nicaraguan Contras                   435 non-null object
Mx Missile                                  435 non-null object
 Immigration                                435 non-null object
Synfuels Corporation Cutback                435 non-null object
Education SpendingSuperfund Right to Sue    435 non-null object
Crime                                       435 non-null object
Duty Free Exports                           435 non-null object
Export Administration Act South Africa      435 non-null object
dtypes: object(16)
memory usage: 57.8+ KB

In [0]:
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-11-15 22:56:39--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.04s

2019-11-15 22:56:39 (502 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
headers1 = ['Class Name', 'Handicapped Infants', 'Water Project Cost Sharing', 
                          'Adoption of the Budget Resolution', 'Physician Fee Freeze', 
                          'El Salvador Aid', 'Religious Groups in Schools', 
                          'Canti Satellite Test Ban', 'Aid to Nicaraguan Contras',
                          'Mx Missile', 'Immigration', 'Synfuels Corporation Cutback',
                          'Education Spending', 'Superfund Right to Sue', 'Crime', 
                          'Duty Free Exports', 'Export Administration Act South Africa']


data = pd.read_csv('house-votes-84.data', names=headers1, header=None, na_values='?')
data.sample(5)

     Class Name  ... Export Administration Act South Africa
433  republican  ...                                      y
62     democrat  ...                                    NaN
395    democrat  ...                                      y
227    democrat  ...                                      y
111  republican  ...                                      y

[5 rows x 17 columns]

In [0]:
data = data.replace({'y': 1, 'n': 0})
data.head()

   Class Name  ...  Export Administration Act South Africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
data['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [0]:
rep = data[data['Class Name']=='republican']
rep.head()

    Class Name  ...  Export Administration Act South Africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

In [0]:
dem = data[data['Class Name']=='democrat']
dem.sample(5)

    Class Name  ...  Export Administration Act South Africa
366   democrat  ...                                     NaN
45    democrat  ...                                     NaN
321   democrat  ...                                     1.0
110   democrat  ...                                     1.0
309   democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
dem['Education Spending'].sum()/len(dem)

0.1348314606741573

In [0]:
rep['Education Spending'].sum()/len(rep)

0.8035714285714286

In [0]:
import numpy as np

col = rep['Education Spending']
np.isnan(col)
ed_spending = col[~np.isnan(col)]
print(ed_spending)
#ed_spending.sum()/len(ed_spending)

0      1.0
1      1.0
7      1.0
8      1.0
10     1.0
      ...
420    1.0
427    0.0
430    0.0
433    0.0
434    1.0
Name: Water Project Cost Sharing, Length: 148, dtype: float64

In [0]:
print(rep['Education Spending'].mean())
print(dem['Education Spending'].mean())

print(rep['Religious Groups in Schools'].mean())
dem['Religious Groups in Schools'].mean()

0.8709677419354839
0.14457831325301204
0.8975903614457831

0.47674418604651164

In [0]:
#Display the mean support of the Republicans for education spending
rep['Education Spending'].mean()

0.8709677419354839

In [0]:
rep['Religious Groups in Schools'].mean()

0.8975903614457831

In [0]:
#Here I compare the two sample with a T-test, education spending is statistically significant
ttest_ind(rep['Education Spending'], dem['Education Spending'],nan_policy='omit')

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)

In [0]:
#Religious groups in schools is statistically significant
ttest_ind(rep['Religious Groups in Schools'], dem['Religious Groups in Schools'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)