<a href="https://colab.research.google.com/github/JraHike76/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Jay_Adamo_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [1]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data')

     republican  n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8
0    republican  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?
1      democrat  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n
2      democrat  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y
3      democrat  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y
4      democrat  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y
..          ... .. ..  ..  ..  ..  ..  ..  ..  ..  .. ..  ..  ..  ..  ..  ..
429  republican  n  n   y   y   y   y   n   n   y   y  n   y   y   y   n   y
430    democrat  n  n   y   n   n   n   y   y   y   y  n   n   n   n   n   y
431  republican  n  ?   n   y   y   y   n   n   n   n  y   y   y   y   n   y
432  republican  n  n   n   y   y   y   ?   ?   ?   ?  n   y   y   y   n   y
433  republican  n  y   n   y   y   y   n   n   n   y  n   y   y   y   ?   n

[434 rows x 17 columns]

In [2]:
 #1 loading and cleaning the data
 #add column headers
 column_headers = ['Party','Handicapped Infants', 
                   'Water Project - Cost Sharing', 
                   'Adoption of the Budget Resolution', 
                  'Physician Fee Freeze','El Salvador Aid',
                   'Religious Groups in Schools',
                  'Anti-Satellite Ban','Aid to Nicaraguan Contras', 
                   'MX Missile', 'Immigration','Synfuels Corporate Cutback',
                   'Education Spending','Superfund - Right to Sue','Crime',
                   'Duty-Free Exports','Export Administration Act - South Africa']

df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=column_headers)

df.head()

        Party  ... Export Administration Act - South Africa
0  republican  ...                                        y
1  republican  ...                                        ?
2    democrat  ...                                        n
3    democrat  ...                                        y
4    democrat  ...                                        y

[5 rows x 17 columns]

In [3]:
#I see unique feature '?'
#Check for NaNs too

df.isnull().sum()

Party                                       0
Handicapped Infants                         0
Water Project - Cost Sharing                0
Adoption of the Budget Resolution           0
Physician Fee Freeze                        0
El Salvador Aid                             0
Religious Groups in Schools                 0
Anti-Satellite Ban                          0
Aid to Nicaraguan Contras                   0
MX Missile                                  0
Immigration                                 0
Synfuels Corporate Cutback                  0
Education Spending                          0
Superfund - Right to Sue                    0
Crime                                       0
Duty-Free Exports                           0
Export Administration Act - South Africa    0
dtype: int64

In [4]:
# 0 NaNs, how many ?s
df.describe()

           Party  ... Export Administration Act - South Africa
count        435  ...                                      435
unique         2  ...                                        3
top     democrat  ...                                        y
freq         267  ...                                      269

[4 rows x 17 columns]

In [5]:
#replace ? with NaN and make y=1 and n=0

df = df.replace({'y':1, 'n':0,'?':np.NaN})
df.head()

        Party  ...  Export Administration Act - South Africa
0  republican  ...                                       1.0
1  republican  ...                                       NaN
2    democrat  ...                                       0.0
3    democrat  ...                                       1.0
4    democrat  ...                                       1.0

[5 rows x 17 columns]

In [0]:
from scipy import stats

In [0]:
#2 Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

dem = df[df['Party']=='democrat']
rep = df[df['Party']=='republican']

In [8]:
#Null Hypothesis: Dems supported El Salvador Aid more than Reps 
#Alternative Hypothesis: Dems did not support this bill more than Reps
#Confidence Level 99%

stats.ttest_ind(dem['El Salvador Aid'], rep['El Salvador Aid'], nan_policy='omit')

Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)

In [9]:
#Very low p-value
#I reject the null hypothesis
#conclusion: I cannot say that dems supported this bill more

dem['El Salvador Aid'].mean()

0.21568627450980393

In [10]:
#at a rate of 95%
rep['El Salvador Aid'].mean()

0.9515151515151515

In [0]:
#3 Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
# I can safely say that Republicans supported the El Salvador Bill more than Democarats which answers 3rd question

# still need to find #2

In [12]:
#2 Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

#Null Hypothesis: Dems supported the Immigration bill more than Reps 
#Alternative Hypothesis: Dems did not support this bill more than Reps
#Confidence Level 99%

stats.ttest_ind(dem['Immigration'], rep['Immigration'], nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [13]:
#P-value is greater than 0.01
#Fail to reject the Null Hypothesis
#Conclusion: I cannot say whether or not the Democrats supported the Immigration bill more than the Republicans

#check the means

dem['Immigration'].mean()

0.4714828897338403

In [14]:
rep['Immigration'].mean()

#pretty darn close

0.5575757575757576

In [0]:
#4 Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

In [16]:
#Because I am curious 

#Null Hypothesis:Republicans and Democrats are closer in supporting the Crime bill
#Alternative Hypothesis: Republicans and Democrats both support the Crime Bill
#Confidence Level: 99%
 

stats.ttest_ind(dem['Crime'], rep['Crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

In [17]:
#Very low P-value, well under our threshold of '> 0.1'
#Reject the Null Hypothesis
#Conclusion: Evidence does not support that these parties agree on this bill

dem['Crime'].mean()

0.35019455252918286

In [18]:
rep['Crime'].mean()

0.9813664596273292

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [19]:
# I need to find some values like party size and sample mean of what I am going to test

df['Party'].value_counts()

democrat      267
republican    168
Name: Party, dtype: int64

In [20]:
#sample mean and standard deviation of Religious Groups in Schools

df['Religious Groups in Schools'].describe()

count    424.000000
mean       0.641509
std        0.480124
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Religious Groups in Schools, dtype: float64

In [21]:
#Null Hypothesis: Republicans support the Religous Groups in school bill by 75%
#Alternative Hypothesis: Republicans support this bill at a different percentage
#Confidence Level - 95%

t = (0.64 - 0.75) / (0.48/168**0.5)

t

-2.970339486770269

In [22]:
#Using the p-value calculator I entered 167 for degrees of freedom and the above t value in the input box to get the p-value

#p-value = 0.00342

#based on this p-value I reject the null hypothesis
#conclusion: Republicans do not support the Religous Groups bill by 75%

#check:

rep['Religious Groups in Schools'].mean()

0.8975903614457831

In [23]:
#2 sample t test

#Null Hypothesis: Dems supported the Education Spending bill more than Reps 
#Alternative Hypothesis: Dems did not support this bill more than Reps
#Confidence Level 95%


#first find the means for each sample

print(dem['Education Spending'].mean())
print(rep['Education Spending'].mean())

0.14457831325301204
0.8709677419354839

In [24]:
import numpy as np

print(np.std(dem['Education Spending']))
np.std(rep['Education Spending'])

0.35167516914039654

0.3352356401746215

In [43]:
dem_x_bar = 0.14457831325301204
rep_x_bar = 0.8709677419354839

dem_std = 0.35167516914039654
rep_std = 0.3352356401746215

total_dem = 267
total_rep = 168

t2 = (dem_x_bar - rep_x_bar) / (dem_std**2 / total_dem + rep_std**2 / total_rep)**0.5
t2

-21.588255708258373

In [45]:
#to use the applet I need to know the degrees of freedom for a two sample t test
#degrees of freedom: n1 + n2 - 2 ====> 267 + 168 - 2 = 433

degf = total_dem + total_rep - 2

degf

433

In [42]:
#Using the p-value calculator I entered 433 for degrees of freedom and -21.588255708258373 for the t value 

#My p-value was a 0 (using the University of Iowa applet)
#To be certain I chose another calculator at https://www.socscistatistics.com/pvalues/tdistribution.aspx
#and was given: p-value is < .00001

#Checking my work with scipy
stats.ttest_ind(dem['Education Spending'], rep['Education Spending'], nan_policy='omit')

Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)

In [0]:
#my p value was very close to what scipy came up with!!
#the slight difference may be due to applets rounding decimals

#Fail to reject the null hypothesis
#conclusion: I cannot say with any certainty that the dems support the Education Bill more than the republicans