<a href="https://colab.research.google.com/github/lochuynhk/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Loc_Huynh_LS_DS11_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [1]:
### YOUR CODE STARTS HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-12-09 20:04:54--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2019-12-09 20:04:54 (278 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
import matplotlib.pyplot as plt
from matplotlib import style

In [0]:
from scipy.stats import t

In [8]:
df = pd.read_csv('house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [9]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
dem = df[df['party'] == 'democrat']
rep = df[df['party'] == 'republican']

In [11]:
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [12]:
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
from scipy.stats import ttest_1samp

In [15]:
ttest_ind(rep['education'], dem['education'], nan_policy='omit')

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)

In [16]:
rep['education'].mean()

0.8709677419354839

In [17]:
dem['education'].mean()

0.14457831325301204

In [26]:
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [27]:
rep['crime'].mean()

0.9813664596273292

In [28]:
dem['crime'].mean()

0.35019455252918286

In [23]:
mu = 0
st = 0.1
abs(mu - np.mean(rep)) <0.01

handicapped-infants     False
water-project           False
budget                  False
physician-fee-freeze    False
el-salvador-aid         False
religious-groups        False
anti-satellite-ban      False
aid-to-contras          False
mx-missile              False
immigration             False
synfuels                False
education               False
right-to-sue            False
crime                   False
duty-free               False
south-africa            False
dtype: bool

In [24]:
abs(st - np.std(rep, ddof=1)) < 0.01

handicapped-infants     False
water-project           False
budget                  False
physician-fee-freeze     True
el-salvador-aid         False
religious-groups        False
anti-satellite-ban      False
aid-to-contras          False
mx-missile              False
immigration             False
synfuels                False
education               False
right-to-sue            False
crime                   False
duty-free               False
south-africa            False
dtype: bool

In [25]:
abs(st - np.std(dem, ddof=1)) < 0.01

handicapped-infants     False
water-project           False
budget                  False
physician-fee-freeze    False
el-salvador-aid         False
religious-groups        False
anti-satellite-ban      False
aid-to-contras          False
mx-missile              False
immigration             False
synfuels                False
education               False
right-to-sue            False
crime                   False
duty-free               False
south-africa            False
dtype: bool