<a href="https://colab.research.google.com/github/lfr4704/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LR_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

#import libraries 

import pandas as pd
from scipy.stats import ttest_ind



#tests
#3 types of t-tests¶
#There are three main types of t-test:
#-- An Independent Samples t-test compares the means for two groups.
#-- A Paired sample t-test compares means from the same group at different times.
#-- A One sample t-test tests the mean of a single group against a known mean.

In [7]:

# get the data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-01-30 02:22:35--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.2’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-01-30 02:22:36 (131 KB/s) - ‘house-votes-84.data.2’ saved [18171/18171]

In [10]:
#read csv


# make into a dataframe
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=column_headers,
                 na_values='?')

df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [11]:
#recode votes as numeric
df = df.replace({'y': 1, 'n':0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [12]:
#separte two groups
rep = df[df['party']=='republican']
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [13]:
dem = df[df['party']=='democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [14]:
df.shape

(435, 17)

#2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [55]:
from scipy.stats import ttest_ind

#generate for loop to see find what issues democrats supported more than republicans
#this code does not give me the a clean list of mean values. There is a None value associated with the mean

rep_votes = []

bill_names = df.columns[1:]
bill_names = bill_names.to_list()
print(bill_names)

for bill in bill_names:
  print(bill + " = " + str(rep[bill].mean()))
  #print(rep_votes.append(rep[bill].mean()))

['handicapped-infants', 'water-project', 'budget', 'physician-fee-freeze', 'el-salvador-aid', 'religious-groups', 'anti-satellite-ban', 'aid-to-contras', 'mx-missile', 'immigration', 'synfuels', 'education', 'right-to-sue', 'crime', 'duty-free', 'south-africa']
handicapped-infants = 0.18787878787878787
water-project = 0.5067567567567568
budget = 0.13414634146341464
physician-fee-freeze = 0.9878787878787879
el-salvador-aid = 0.9515151515151515
religious-groups = 0.8975903614457831
anti-satellite-ban = 0.24074074074074073
aid-to-contras = 0.15286624203821655
mx-missile = 0.11515151515151516
immigration = 0.5575757575757576
synfuels = 0.1320754716981132
education = 0.8709677419354839
right-to-sue = 0.8607594936708861
crime = 0.9813664596273292
duty-free = 0.08974358974358974
south-africa = 0.6575342465753424

In [56]:
dem_votes = []

bill_names = df.columns[1:]
bill_names = bill_names.to_list()

for bill in bill_names:
  print(bill + " = " + str(dem[bill].mean()))
  #print(rep_votes.append(dem[bill].mean()))

handicapped-infants = 0.6046511627906976
water-project = 0.502092050209205
budget = 0.8884615384615384
physician-fee-freeze = 0.05405405405405406
el-salvador-aid = 0.21568627450980393
religious-groups = 0.47674418604651164
anti-satellite-ban = 0.7722007722007722
aid-to-contras = 0.8288973384030418
mx-missile = 0.7580645161290323
immigration = 0.4714828897338403
synfuels = 0.5058823529411764
education = 0.14457831325301204
right-to-sue = 0.2896825396825397
crime = 0.35019455252918286
duty-free = 0.6374501992031872
south-africa = 0.9351351351351351

In [57]:
# check p values of some fo the bills where mean of dem > mean of rep
#2 test
rep['handicapped-infants'].mean()

0.18787878787878787

In [58]:
dem['handicapped-infants'].mean()

0.6046511627906976

In [63]:
# compare with ttest
result = ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')
result

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

In [67]:
#only pvalue
print('{:.19f}'.format(result.pvalue))

0.0000000000000000016

#extra credit 1

In [0]:
#define function 
def custom_ttest(alpha, beta, col):
    statistic, pvalue = ttest_ind(alpha[col], beta[col], nan_policy='omit')
    return statistic, pvalue