<a href="https://colab.research.google.com/github/nastyalolpro/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
#imports
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [5]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
auto_test = pd.read_csv(url, header=None, names=column_names, na_values = '?')

In [4]:
# columns
column_names = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 
                'body-style', 'drive-wheels', 'engine-location', 'wheel-base','length', 'width', 
                'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 
                'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [6]:
# look at data
print(auto_test.shape)
auto_test.head()

(205, 26)

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [7]:
# select 10 random cars
auto_sample = auto_test.sample(10, random_state=30)
auto_sample

     symboling  normalized-losses  ... highway-mpg    price
121          1              154.0  ...          38   6692.0
176         -1               65.0  ...          32  10898.0
24           1              148.0  ...          38   6229.0
88          -1              137.0  ...          30   9279.0
72           3              142.0  ...          18  35056.0
103          0              108.0  ...          25  13499.0
26           1              148.0  ...          38   7609.0
20           0               81.0  ...          43   6575.0
155          0               91.0  ...          32   8778.0
185          2               94.0  ...          34   8195.0

[10 rows x 26 columns]

In [8]:
# look at mean
print(auto_sample['highway-mpg'].mean())
print(auto_test['highway-mpg'].mean())

32.8
30.75121951219512

In [9]:
# Is your sample reflective of the population value in regards to highway-mpg? 
ttest_ind(auto_test['highway-mpg'], auto_sample['highway-mpg'])
# p_value is way too big to say that the sample could be reflective of the population

Ttest_indResult(statistic=-0.9164563590006287, pvalue=0.3604640293545831)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [16]:
# find standart deviation of the data set
auto_test['highway-mpg'].std()

6.88644313094182

In [18]:
# create artificial sample set with the given mean
mu1 = 35 # sample mean
sigma1 = 6.89 # standard deviation
sample1 = np.random.normal(mu1, sigma1, 205)
sample1[:10]

array([35.14168137, 43.34885379, 48.41632315, 42.52930369, 40.08799265,
       26.41450962, 20.66770138, 40.07601116, 40.52149692, 36.08168983])

In [19]:
# is the mean of the artificial sample set and of 10 randomly chosen cars the same?
ttest_ind(auto_sample['highway-mpg'], sample1[:10])
# no they are different

Ttest_indResult(statistic=-1.3011363337218527, pvalue=0.20962147422617228)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [14]:
# now choose 100 random cars 
auto_sample_100 = auto_test.sample(100, random_state=30)
auto_sample_100.head()

     symboling  normalized-losses  ... highway-mpg    price
121          1              154.0  ...          38   6692.0
176         -1               65.0  ...          32  10898.0
24           1              148.0  ...          38   6229.0
88          -1              137.0  ...          30   9279.0
72           3              142.0  ...          18  35056.0

[5 rows x 26 columns]

In [15]:
# test them with the artificial set. is their mean the same?
ttest_ind(auto_sample_100['highway-mpg'], sample1[:100])
# yes! with 99.96 percent accuracy

Ttest_indResult(statistic=-3.5490325820326496, pvalue=0.0004828959337622586)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

The first sample is too small to be representative for the whole data set.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [44]:
### YOUR WORK HERE

url1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
votes = pd.read_csv(url1, header=None, names= col_name, na_values='?')
votes.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [45]:
# column names
col_name = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
len(col_name)

17

In [46]:
# replace ys with 1 and ns with 0
votes.replace({'n':0, 'y':1}, inplace=True)
votes.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [48]:
# split data into republicans
rep = votes[votes['party'] == 'republican']
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [49]:
# and democrats
dem = votes[votes['party'] == 'democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level) 

null hypotesis: republicans and democtrats support equally

alternetive hypotesis: republicans and democtrats support differently

In [68]:
# look at mean to understand which party had more support 
print(rep['aid-to-contras'].mean())
dem['aid-to-contras'].mean()

0.15286624203821655

0.8288973384030418

In [67]:
print('{:.60f}'.format(ttest_ind(rep['aid-to-contras'], dem['aid-to-contras'], nan_policy='omit').pvalue))

0.000000000000000000000000000000000000000000000000000002824718

Due to observing a resulting p-value of 0.000000000000000000000000000000000000000000000000000002824718, we reject the null hypothesis, and suggest the alternative hypothesis.

After looking at means, we can claim that democrats support more than republicans.

Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level)

null hypotesis: republicans and democtrats support equally 

alternetive hypotesis: republicans support more than democtrats

In [93]:
# look at mean to understand which party had more support 
rep['religious-groups'].mean()

0.8975903614457831

In [95]:
dem['religious-groups'].mean()

0.47674418604651164

In [98]:
print('{:.20f}'.format(ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit').pvalue))

0.00000000000000000002

Due to observing a resulting p-value of 0.00000000000000000002, we reject the null hypothesis, and suggest the alternative hypothesis.

After looking at means, we can claim that republicans support more than democrats

Find an issue where the difference between republicans and democrats has p > 0.1

In [101]:
rep['immigration'].mean()

0.5575757575757576

In [102]:
dem['immigration'].mean()

0.4714828897338403

In [103]:
ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit')

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)

I haven't found an issue where the difference between republicans and democrats has p > 0.1

The closes one is where p = 0.08

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE