<a href="https://colab.research.google.com/github/bootnoodles/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
### YOUR WORK HERE
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-08-10 18:17:48--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.1s

2020-08-10 18:17:49 (194 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

In [ ]:
column_headers = ['symboling', 'normalized_loss', 'make', 'fuel_type', \
                  'aspiration', 'num_of_doors', 'body_style', 'drive_wheels', \
                  'engine_location', 'wheel_base', 'length', 'width', 'height', \
                  'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size',\
                  'fuel_system', 'bore', 'stroke', 'compression_ratio', 'horsepower',\
                  'peak_rpm', 'city_mpg', 'highway_mpg', 'price']

In [ ]:
df = pd.read_csv('imports-85.data')
df.columns = column_headers
df.head()

   symboling normalized_loss         make  ... city_mpg highway_mpg  price
0          3               ?  alfa-romero  ...       21          27  16500
1          1               ?  alfa-romero  ...       19          26  16500
2          2             164         audi  ...       24          30  13950
3          2             164         audi  ...       18          22  17450
4          2               ?         audi  ...       19          25  15250

[5 rows x 26 columns]

In [ ]:
df.replace ({'?': np.NaN})

     symboling normalized_loss         make  ... city_mpg highway_mpg  price
0            3             NaN  alfa-romero  ...       21          27  16500
1            1             NaN  alfa-romero  ...       19          26  16500
2            2             164         audi  ...       24          30  13950
3            2             164         audi  ...       18          22  17450
4            2             NaN         audi  ...       19          25  15250
..         ...             ...          ...  ...      ...         ...    ...
199         -1              95        volvo  ...       23          28  16845
200         -1              95        volvo  ...       19          25  19045
201         -1              95        volvo  ...       18          23  21485
202         -1              95        volvo  ...       26          27  22470
203         -1              95        volvo  ...       19          25  22625

[204 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [ ]:
### YOUR WORK HERE
ourtest = df.sample(random_state= 30, n=10)

In [ ]:
wholeset = df['highway_mpg']
testset = ourtest['highway_mpg']

In [ ]:
mean1 = df['highway_mpg'].mean()
print(f'The mean is {mean1} for the highway MPG through the entire data set')

The mean is 30.769607843137255 for the highway MPG through the entire data set

In [ ]:
mean2 = ourtest['highway_mpg'].mean()
print(f'The mean is {mean2} for the highway MPG for our sample')

The mean is 30.3 for the highway MPG for our sample

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

### The null hypothosis is that the cars wont have a significant difference in MPG (BORING)

### Alternative hypothisis: The saleman is a lying con-man and there is a large difference in the numbers.

In [ ]:
from scipy import stats
stats.ttest_ind(wholeset, testset)

Ttest_indResult(statistic=0.21292600771152284, pvalue=0.8315892822895612)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
newtest = df.sample(random_state= 30, n=100)

In [ ]:
newtestset = newtest['highway_mpg']

In [ ]:
from scipy import stats
stats.ttest_ind(wholeset, testset)

Ttest_indResult(statistic=0.21292600771152284, pvalue=0.8315892822895612)

#### The same conclusion is reached 27% signifigance

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

They could be giving different

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-08-10 21:02:07--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-08-10 21:02:08 (137 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [ ]:
housedata = pd.read_csv('house-votes-84.data')

In [ ]:
column_headers2 = ['class_name', 'handicapped_infants', 'water_project_cost_sharing', \
                   'adoption_of_the_budget_resolution', 'physician_fee_freeze', \
                   'el_salvador_aid', 'religious_groups_in_schools', ' anti-satellite-test-ban', \
                   'aid-to-nicaraguan-contras', 'mx-missile', 'immigration', 'synfuels-corporation-cutback', \
                   'education_spending', 'superfund_right_to_sue', 'crime',\
                   'duty_free_exports', 'export_administration_act_south_africa']

In [ ]:
housedata.columns = column_headers2

In [ ]:
housedata = housedata.replace ({'?': np.NaN, 'n' : 0, 'y' : 1})
housedata.head()

   class_name  ...  export_administration_act_south_africa
0  republican  ...                                     NaN
1    democrat  ...                                     0.0
2    democrat  ...                                     1.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

### The first thing we should do is seperate the two parties into different datasets to make them easier to work with

In [ ]:
housedata.head()
olddemodata = housedata['class_name'] == 'democrat'
#democratdata = housedata.filter(like='crat', axis=0) Why didnt this work by the way?
demodata = housedata[olddemodata]
demodata.head(10)

   class_name  ...  export_administration_act_south_africa
1    democrat  ...                                     0.0
2    democrat  ...                                     1.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0
5    democrat  ...                                     1.0
8    democrat  ...                                     NaN
11   democrat  ...                                     NaN
12   democrat  ...                                     NaN
15   democrat  ...                                     1.0
16   democrat  ...                                     1.0

[10 rows x 17 columns]

# Viewing the top 20 rows of both you can see there are some obvious differences in the columns

In [ ]:
housedata.head()
oldrepubdata = housedata['class_name'] == 'republican'
repubdata = housedata[oldrepubdata]
repubdata.head(10)

    class_name  ...  export_administration_act_south_africa
0   republican  ...                                     NaN
6   republican  ...                                     1.0
7   republican  ...                                     1.0
9   republican  ...                                     0.0
10  republican  ...                                     NaN
13  republican  ...                                     NaN
14  republican  ...                                     NaN
17  republican  ...                                     0.0
27  republican  ...                                     1.0
29  republican  ...                                     0.0

[10 rows x 17 columns]

#Find an issue that democrats support more republicans than  with p < 0.01 (significant at the 99% level).

In [ ]:
#Find an issue that democrats support more republicans than  with p < 0.01 (significant at the 99% level).
radoption = repubdata['adoption_of_the_budget_resolution']

dadoption = demodata['adoption_of_the_budget_resolution']
dadoption.head()

1    1.0
2    1.0
3    1.0
4    1.0
5    0.0
Name: adoption_of_the_budget_resolution, dtype: float64

# We run our T-test and see that our values are VERY different.

#  This proves our alternative hypothosis

In [ ]:
# H0: Dems == Reps
# H1: Dems != Reps
stats.ttest_ind(radoption, dadoption, nan_policy='omit')

Ttest_indResult(statistic=-23.12119107755175, pvalue=6.013425749068062e-77)

#Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).

In [ ]:
#Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).

rphysician = repubdata['physician_fee_freeze']

dphysician = demodata['physician_fee_freeze']
rphysician.head()

0     1.0
6     1.0
7     1.0
9     1.0
10    1.0
Name: physician_fee_freeze, dtype: float64

# This also proves our alternative hypothisis

In [ ]:
# H0: Dems == Reps
# H1: Dems != Reps
stats.ttest_ind(rphysician, dphysician, nan_policy='omit')

Ttest_indResult(statistic=49.213324889131904, pvalue=1.0401154557088818e-176)

# Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

In [ ]:
# H0: Dems == Reps
# H1: Dems != Reps

In [ ]:
rwater = repubdata['water_project_cost_sharing']
dwater = demodata['water_project_cost_sharing']
rwater.head()

0     1.0
6     1.0
7     1.0
9     1.0
10    1.0
Name: water_project_cost_sharing, dtype: float64

# This proves our null hypothosis

In [ ]:
stats.ttest_ind(rwater, dwater, nan_policy='omit')

Ttest_indResult(statistic=0.02491808700047811, pvalue=0.9801332440121653)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE