<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [1]:
### YOUR CODE STARTS HERE
!wget 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

--2019-10-07 19:57:44--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2019-10-07 19:57:44 (638 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
import pandas as pd
import numpy as np
import matplotlib as plt
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel, ttest_1samp

In [0]:
names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

names_0=['handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [73]:
df = pd.read_csv('house-votes-84.data', header=None, names=names)
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
df = df.replace({'?':np.NaN, 'n':0, 'y':1})

In [0]:
df.describe()

In [75]:
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
rep = df[df.party == 'republican']
rep = rep.drop(columns='party')
dem = df[df.party == 'democrat']
dem = dem.drop(columns='party')

In [93]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [95]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
t,r,d = [],[],[]

for x in rep.columns:
  t.append(ttest_ind(rep[x], dem[x], nan_policy= 'omit'))
  r.append(ttest_1samp(rep[x], 0.5, nan_policy='omit'))
  d.append(ttest_1samp(dem[x], 0.5, nan_policy='omit'))

In [0]:
r_0 = []
r_1 = []
for x in r:
  r_0.append(x[0])
  r_1.append(x[1])
d_0 = []
d_1 = []
for x in d:
  d_0.append(x[0])
  d_1.append(x[1])
t_0 = []
t_1 = []
for x in t:
  t_0.append(x[0])
  t_1.append(x[1])

In [206]:
df_0 = pd.DataFrame(data=[r_0,d_0,r_1,d_1,rep.mean(), dem.mean(), t_0, t_1], columns= names_0, index=['Rep_Stat','Dem_Stat','Rep_P', 'Dem_P', 'Rep_Mean', 'Dem_Mean', 'R_vs_D_Stat', 'R_vs_D_P'])
df_0

             handicapped-infants  water-project  ...     duty-free  south-africa
Rep_Stat           -1.023283e+01       0.163858  ... -1.787054e+01  3.997525e+00
Dem_Stat            3.431373e+00       0.064550  ...  4.520728e+00  2.396576e+01
Rep_P               2.572179e-19       0.870068  ...  1.750902e-39  1.015490e-04
Dem_P               6.996123e-04       0.948587  ...  9.519196e-06  1.751376e-58
Rep_Mean            1.878788e-01       0.506757  ...  8.974359e-02  6.575342e-01
Dem_Mean            6.046512e-01       0.502092  ...  6.374502e-01  9.351351e-01
R_vs_D_Stat        -9.205264e+00       0.088965  ... -1.285315e+01 -6.849455e+00
R_vs_D_P            1.613440e-18       0.929156  ...  5.997697e-32  3.652674e-11

[8 rows x 16 columns]

In [0]:
more_r = []
more_d = []

for x in df_0.iteritems():
  if(x[1]['Rep_Stat'] < 0 and x[1]['Rep_P'] < 0.01 and x[1]['Dem_Stat'] > 0 and x[1]['Dem_P'] < 0.01):
    more_r.append(x[0])
  elif(x[1]['Rep_Stat'] > 0 and x[1]['Rep_P'] < 0.01 and x[1]['Dem_Stat'] < 0 and x[1]['Dem_P'] < 0.01):
    more_d.append(x[0])

###1) Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
Issue(s) found:

In [203]:
more_d

['physician-fee-freeze',
 'el-salvador-aid',
 'education',
 'right-to-sue',
 'crime']

###2) Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
Issue(s) found: right-to-sue

In [204]:
more_r

['handicapped-infants',
 'budget',
 'anti-satellite-ban',
 'aid-to-contras',
 'mx-missile',
 'duty-free']

###3) Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
Issue found: water-project