<a href="https://colab.research.google.com/github/mvkumar14/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-07 19:15:17--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.04s

2019-10-07 19:15:17 (471 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [8]:
import pandas as pd
df = pd.read_csv('/content/house-votes-84.data',header=None,
                 names=['handicapped-infants','water-project',
                        'budget-resolution','physician-fee-freeze',
                        'el-salvador-aid','relegious-groups',
                        'anti-sat-test-ban','aid',
                        'mx-missile','immigration',
                        'synfuels-corp','education-spending',
                        'superfund','crime','exports','export-sa'])
df.head()

           handicapped-infants water-project  ... exports export-sa
republican                   n             y  ...       n         y
republican                   n             y  ...       n         ?
democrat                     ?             y  ...       n         n
democrat                     n             y  ...       n         y
democrat                     y             y  ...       y         y

[5 rows x 16 columns]

In [0]:
#Lets fill nan, and turn the y n values to numbers so that we can deal with 
import numpy as np
df = df.replace({'?':np.nan,'n':0,'y':1})
df.head()

In [15]:
dems = df[(df.index == 'democrat')]
dems.head()

          handicapped-infants  water-project  ...  exports  export-sa
democrat                  NaN            1.0  ...      0.0        0.0
democrat                  0.0            1.0  ...      0.0        1.0
democrat                  1.0            1.0  ...      1.0        1.0
democrat                  0.0            1.0  ...      1.0        1.0
democrat                  0.0            1.0  ...      1.0        1.0

[5 rows x 16 columns]

In [17]:
reps = df[(df.index=='republican')]
reps.head()

            handicapped-infants  water-project  ...  exports  export-sa
republican                  0.0            1.0  ...      0.0        1.0
republican                  0.0            1.0  ...      0.0        NaN
republican                  0.0            1.0  ...      NaN        1.0
republican                  0.0            1.0  ...      0.0        1.0
republican                  0.0            1.0  ...      0.0        0.0

[5 rows x 16 columns]

In [22]:
reps.describe()

       handicapped-infants  water-project  ...     exports   export-sa
count           165.000000     148.000000  ...  156.000000  146.000000
mean              0.187879       0.506757  ...    0.089744    0.657534
std               0.391804       0.501652  ...    0.286735    0.476168
min               0.000000       0.000000  ...    0.000000    0.000000
25%               0.000000       0.000000  ...    0.000000    0.000000
50%               0.000000       1.000000  ...    0.000000    1.000000
75%               0.000000       1.000000  ...    0.000000    1.000000
max               1.000000       1.000000  ...    1.000000    1.000000

[8 rows x 16 columns]

In [30]:
from scipy.stats import ttest_1samp,ttest_ind
for column in reps:
  print(column)
  print('republicans:',reps[column].mean())
  print('democrats:',dems[column].mean(),'\n')

handicapped-infants
republicans: 0.18787878787878787
democrats: 0.6046511627906976

water-project
republicans: 0.5067567567567568
democrats: 0.502092050209205

budget-resolution
republicans: 0.13414634146341464
democrats: 0.8884615384615384

physician-fee-freeze
republicans: 0.9878787878787879
democrats: 0.05405405405405406

el-salvador-aid
republicans: 0.9515151515151515
democrats: 0.21568627450980393

relegious-groups
republicans: 0.8975903614457831
democrats: 0.47674418604651164

anti-sat-test-ban
republicans: 0.24074074074074073
democrats: 0.7722007722007722

aid
republicans: 0.15286624203821655
democrats: 0.8288973384030418

mx-missile
republicans: 0.11515151515151516
democrats: 0.7580645161290323

immigration
republicans: 0.5575757575757576
democrats: 0.4714828897338403

synfuels-corp
republicans: 0.1320754716981132
democrats: 0.5058823529411764

education-spending
republicans: 0.8709677419354839
democrats: 0.14457831325301204

superfund
republicans: 0.8607594936708861
democrats: 0.2896825396825397

crime
republicans: 0.9813664596273292
democrats: 0.35019455252918286

exports
republicans: 0.08974358974358974
democrats: 0.6374501992031872

export-sa
republicans: 0.6575342465753424
democrats: 0.9351351351351351

In [56]:
reps.name = "republican"
dems.name = 'democrats'

def my_ttest(df1,df2,column,thresh):
    a,b = ttest_ind(df1[column],df2[column],nan_policy='omit')
    if b<thresh:
      if a>0:
        #r=r+1
        print(column,' More ',df1.name.upper())
        print('stat=',a,' pvalue=',b,'\n')
      else:
        #d=d+1
        print(column,' More ',df2.name.upper())
        print('stat=',a,' pvalue=',b,'\n')
    else:
      print(column,' NEUTRAL')
      print('stat=',a,' pvalue=',b,'\n')

#single test   
#my_ttest(reps,dems,'aid',0.01)

#For loop through the columns of the dataframe
for column in df:
  my_ttest(reps,dems,column,0.01)

aid  More  DEMOCRATS
stat= -18.052093200819733  pvalue= 2.82471841372357e-54

handicapped-infants  More  DEMOCRATS
stat= -9.205264294809222  pvalue= 1.613440327937243e-18

water-project  NEUTRAL
stat= 0.08896538137868286  pvalue= 0.9291556823993485

budget-resolution  More  DEMOCRATS
stat= -23.21277691701378  pvalue= 2.0703402795404463e-77

physician-fee-freeze  More  REPUBLICAN
stat= 49.36708157301406  pvalue= 1.994262314074344e-177

el-salvador-aid  More  REPUBLICAN
stat= 21.13669261173219  pvalue= 5.600520111729011e-68

relegious-groups  More  REPUBLICAN
stat= 9.737575825219457  pvalue= 2.3936722520597287e-20

anti-sat-test-ban  More  DEMOCRATS
stat= -12.526187929077842  pvalue= 8.521033017443867e-31

aid  More  DEMOCRATS
stat= -18.052093200819733  pvalue= 2.82471841372357e-54

mx-missile  More  DEMOCRATS
stat= -16.437503268542994  pvalue= 5.03079265310811e-47

immigration  NEUTRAL
stat= 1.7359117329695164  pvalue= 0.08330248490425066

synfuels-corp  More  DEMOCRATS
stat= -8.293603989407588  pvalue= 1.5759322301054064e-15

education-spending  More  REPUBLICAN
stat= 20.500685724563073  pvalue= 1.8834203990450192e-64

superfund  More  REPUBLICAN
stat= 13.51064251060933  pvalue= 1.2278581709672758e-34

crime  More  REPUBLICAN
stat= 16.342085656197696  pvalue= 9.952342705606092e-47

exports  More  DEMOCRATS
stat= -12.853146132542978  pvalue= 5.997697174347365e-32

export-sa  More  DEMOCRATS
stat= -6.849454815841208  pvalue= 3.652674361672226e-11

In [38]:
#Now for the values that do have some sort of significance I want to show the visual. 
#note that the variation is based off of the original sample (the values can be seeus

-18.052093200819733