<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd 
import numpy as np 
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [14]:
# getting our file
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-12-09 21:58:01--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2019-12-09 21:58:02 (127 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [15]:
# reading in our data and storing in df
df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names = ['party', 'handicapped-infants', 'water-project',
                          'budget', 'physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups', 'anti-satellite-ban',
                          'aid-to-contras', 'mx-missile', 'immigration',
                          'synfuels', 'education', 'right-to-sue', 'crime', 
                          'duty-free', 'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [16]:
# replacing ? with NaN, y with 1 and n with 0 
df = df.replace({"?": np.NaN, "y": 1, "n": 0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [17]:
# making the rep and dem dataframes from df 
dem = df[df['party'] == 'democrat']
rep = df[df['party'] == 'republican']
print(dem.shape)
print(rep.shape)

(267, 17)
(168, 17)

In [18]:
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [19]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [8]:
# Using hypothesis testing, find an issue that democrats support more than 
# republicans with p < 0.01
ttest_ind(dem['budget'], rep['budget'], nan_policy='omit')
# p for this test is less than .01 so we can reject the null hypothesis 
# that republicans and democrats suppportted this budget equally

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [10]:
# Using hypothesis testing, find an issue that republicans support more than 
# democrats with p < 0.01
ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], 
          nan_policy='omit')
# pvalue is less than .01 so we can confidently reject the null hypothesis
# that democratic members supported phsician-fee-freeze as much as the
# republican members

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [21]:
# Using hypothesis testing, find an issue where the difference between 
# republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
test = ttest_ind(dem['water-project'], rep['water-project'], nan_policy='omit')
# we fail to reject the null hypothesis that the support from the democratic
# and republican parties for water-project is the same
test[1]

0.9291556823993485

In [0]:
# refactoring with a function to make testing easier
def hypothesis_test(bill, p_threshold):
  test = ttest_ind(dem[bill], rep[bill], nan_policy='omit')
  if test[1] < p_threshold:
    long = "The null hypothesis that republicans and democrats support " + bill + " equally can be rejected because the p_value is " + str(round(test[1], 3)) + " which is less than " + str(round(p_threshold, 3)) + "."
    return {"long": long, "short": "rejected"}
  else:
    long = "The null hypothesis that republicans and democrats support " + bill + " equally can not be rejected because the p_value is " + str(round(test[1], 3)) + " greater than " + str(round(p_threshold, 3)) + "."
    return {"long": long, "short": "not rejected"}

In [35]:
for col in rep.columns:
  if col == "party":
    pass
  else:
    result = hypothesis_test(col, .01)
    print(col + " " + result['short'])
    print(result['long'])
    print()

handicapped-infants rejected
The null hypothesis that republicans and democrats support handicapped-infants equally can be rejected because the p_value is 0.0 which is less than 0.01.

water-project not rejected
The null hypothesis that republicans and democrats support water-project equally can not be rejected because the p_value is 0.929 greater than 0.01.

budget rejected
The null hypothesis that republicans and democrats support budget equally can be rejected because the p_value is 0.0 which is less than 0.01.

physician-fee-freeze rejected
The null hypothesis that republicans and democrats support physician-fee-freeze equally can be rejected because the p_value is 0.0 which is less than 0.01.

el-salvador-aid rejected
The null hypothesis that republicans and democrats support el-salvador-aid equally can be rejected because the p_value is 0.0 which is less than 0.01.

religious-groups rejected
The null hypothesis that republicans and democrats support religious-groups equally can be rejected because the p_value is 0.0 which is less than 0.01.

anti-satellite-ban rejected
The null hypothesis that republicans and democrats support anti-satellite-ban equally can be rejected because the p_value is 0.0 which is less than 0.01.

aid-to-contras rejected
The null hypothesis that republicans and democrats support aid-to-contras equally can be rejected because the p_value is 0.0 which is less than 0.01.

mx-missile rejected
The null hypothesis that republicans and democrats support mx-missile equally can be rejected because the p_value is 0.0 which is less than 0.01.

immigration not rejected
The null hypothesis that republicans and democrats support immigration equally can not be rejected because the p_value is 0.083 greater than 0.01.

synfuels rejected
The null hypothesis that republicans and democrats support synfuels equally can be rejected because the p_value is 0.0 which is less than 0.01.

education rejected
The null hypothesis that republicans and democrats support education equally can be rejected because the p_value is 0.0 which is less than 0.01.

right-to-sue rejected
The null hypothesis that republicans and democrats support right-to-sue equally can be rejected because the p_value is 0.0 which is less than 0.01.

crime rejected
The null hypothesis that republicans and democrats support crime equally can be rejected because the p_value is 0.0 which is less than 0.01.

duty-free rejected
The null hypothesis that republicans and democrats support duty-free equally can be rejected because the p_value is 0.0 which is less than 0.01.

south-africa rejected
The null hypothesis that republicans and democrats support south-africa equally can be rejected because the p_value is 0.0 which is less than 0.01.