<a href="https://colab.research.google.com/github/YinmiAlas/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE
#importing
import pandas as pd
import numpy as np
import seaborn as sns

In [102]:
#this code is for import files from your local machine
from google.colab import files
uploaded = files.upload()

In [103]:
#adding column headers because the data doesn't have no one
#header=None, this call tell to pandas not count with the default headers
#names=column, using this code is how i add column headers manually
#na_values='?' this code is for clean the data i had a '?' so with this code
#i telling to the DataFrame to add NaN values to the question mark '?'
column = ['team','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']
political_parties = pd.read_csv('house-votes-84.data', header=None, names=column, na_values='?')
political_parties.head()

         team handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [104]:
political_parties.tail()

           team handicapped-infants water-project  ... crime duty-free south-africa
430  republican                   n             n  ...     y         n            y
431    democrat                   n             n  ...     n         n            y
432  republican                   n           NaN  ...     y         n            y
433  republican                   n             n  ...     y         n            y
434  republican                   n             y  ...     y       NaN            n

[5 rows x 17 columns]

In [105]:
political_parties.shape

(435, 17)

In [106]:
# I'm replacing the data 'y' & 'n' to 1 & 2 using .replace
political_parties = political_parties.replace({'y':1, 'n':0})
political_parties.head()

         team  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [107]:
political_parties['team'].value_counts()

democrat      267
republican    168
Name: team, dtype: int64

In [108]:
#how get vote data of each team
#i need to call it in another list to make it easy
republican = political_parties[political_parties['team']=='republican']
republican.head()

          team  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [109]:
democrat = political_parties[political_parties['team']=='democrat']
democrat.head()

       team  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
from scipy.stats import ttest_ind

In [0]:
from scipy.stats import ttest_1samp

In [112]:
democrat['budget'].mean()

0.8884615384615384

In [113]:
republican['budget'].mean()

0.13414634146341464

In [114]:
#Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
ttest_ind(democrat['budget'], republican['budget'], nan_policy='omit')

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [250]:
#If a (pvalue) has a e-77 like above is because the value is even smaller than 
#what its show like pvalue=2.0703402795404463e-77 so using this code '{:f}'.format()
#i did pull out the real value that i want to see
stat, pvalue = ttest_ind(democrat['budget'], republican['budget'], nan_policy='omit')
print('{:f}'.format(pvalue))
print(pvalue < 0.01)

0.000000
True

In [121]:
democrat['el-salvador-aid'].mean()

0.21568627450980393

In [122]:
republican['el-salvador-aid'].mean()

0.9515151515151515

In [118]:
#when you try to pull data having missing values the best way
#to put it away for a while is using the code nan_policy='omit'
ttest_ind(republican['el-salvador-aid'], democrat['el-salvador-aid'], nan_policy='omit')

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)

In [251]:
#Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
stat, pvalue = ttest_ind(republican['el-salvador-aid'], democrat['el-salvador-aid'], nan_policy='omit')
print('{:f}'.format(pvalue))
print(pvalue < 0.01)

0.000000
True

In [131]:
#Using hypothesis testing, find an issue where the difference between 
#republicans and democrats has p > 0.1 (i.e. there may not be much of a difference
republican['water-project'].mean()

0.5067567567567568

In [132]:
democrat['water-project'].mean()

0.502092050209205

In [136]:
ttest_ind(republican['water-project'], democrat['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [254]:
stat, pvalue = ttest_ind(republican['water-project'], democrat['water-project'], nan_policy='omit')
print('{:f}'.format(pvalue))
print(pvalue > 0.1)

0.929156
True

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!