<a href="https://colab.research.google.com/github/ilEnzio/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
### YOUR WORK HERE
## load auto_df

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-07-13 19:55:14--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.06s

2020-07-13 19:55:14 (398 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [ ]:
# the uci dataset has no feature headers so I need to create them.
#
feature_headers = ["symboling", "normalized-losses", "make", "fuel-type", 
                   "aspiration", "num-of-doors", "body-style", "drive-wheels", 
                   "engine-location", "wheel-base", "length", "width", "height",
                   "curb-weight", "engine-type", "num-of-cylinders", "engine-size", 
                   "fuel-system", "bore", "stroke", "compression-ratio", 
                   "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [ ]:
# load it in with columns
auto_df = pd.read_csv("imports-85.data", names= feature_headers)
auto_df.head(2)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500

[2 rows x 26 columns]

In [ ]:
# Check for nulls
auto_df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
# that check is wrong because I saw some "?" so I'm going to replace the
# the ? with NaN,

auto_df = auto_df.replace({"?" : np.NaN})

auto_df.head(2)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500

[2 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [ ]:
### YOUR WORK HERE
# use .sample to get a random sample, assign to df
# use a seed of 30 to get consistent sample
samp_autos_10 = auto_df.sample(n=10, random_state = 30)

samp_autos_10.head(2)

     symboling normalized-losses      make  ... city-mpg highway-mpg  price
121          1               154  plymouth  ...       31          38   6692
176         -1                65    toyota  ...       27          32  10898

[2 rows x 26 columns]

In [ ]:
# get the mean for sample for the feature highway-mph
samp_autos_10.loc[:, "highway-mpg"].mean()

32.8

In [ ]:
# get the mean for the mean for the highway-mph feature for entire dataset
auto_df.loc[:, "highway-mpg"].mean()

30.75121951219512

In [ ]:
# that shows different values for the mean highway-mpg 
#

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
### YOUR WORK HERE
# NullHypo - The highway-mpg of cars sold is 35
# Alternative Hypo - the highway-mpg of cars sold is NOT 35
# Confidence Level = 95%

# do one sample ttest on the mpg feature 
stats.ttest_1samp(samp_autos_10["highway-mpg"], 35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [ ]:
# Conclusion: Based on a tstat of -.96 and a pvalue of .36 We FAIL to reject the null hypothesis

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [29]:
### YOUR WORK HERE
# create a new sample of 100 cars
samp_autos_100 = auto_df.sample(n=100, random_state = 30)

samp_autos_100.shape

(100, 26)

In [31]:
# do a one sample ttest with the new sample; same pop parameter
# should have written a function to do this; TODO REfactor
stats.ttest_1samp(samp_autos_100["highway-mpg"], 35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [32]:
#Conclusion: Based on a tstat of -6.51 and a pvalue of approx 0 I reject the null hypothesis that
# the salesman's cars get 35 mpg
# out of curiosity check the mean of the new sample
samp_autos_100.loc[:, "highway-mpg"].mean()

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

since the second Ttest is done against a larger sample - that sample is more representative of the population. the increased sized makes the result less susceptible to variance?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [46]:
### YOUR WORK HERE
### load in the data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-13 22:39:58--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-07-13 22:39:58 (278 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [57]:
# uci no headers; make list to read in with headers 
hv_headers = ["Class_Name", "handicapped-infants","water-project-cost-sharing", 
              "adoption-of-the-budget-resolution","physician-fee-freeze", 
              "el-salvador-aid", "religious-groups-in-schools", "anti-satellite-test-ban",
              "aid-to-nicaraguan-contras","mx-missile", "immigration", " synfuels-corporation-cutback",
              "education-spending", "superfund-right-to-sue", "crime", "duty-free-exports",
              "export-administration-act-south-africa"]

In [58]:
house_votes_df = pd.read_csv("house-votes-84.data", names=hv_headers, na_values="?")

house_votes_df.tail()

     Class_Name  ... export-administration-act-south-africa
430  republican  ...                                      y
431    democrat  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      y
434  republican  ...                                      n

[5 rows x 17 columns]

In [59]:
# replace y with 1, and no with 0; strangely I think I could do this by melting
# but I'll leave that for another day.  For not .replace
cat_house_vote_df = house_votes_df.replace({"y": 1, "n":0})
cat_house_vote_df.tail()

     Class_Name  ...  export-administration-act-south-africa
430  republican  ...                                     1.0
431    democrat  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     1.0
434  republican  ...                                     0.0

[5 rows x 17 columns]

In [61]:
# looks good so far.  Now split the Dems and Reps into their own df's
cond_dem = cat_house_vote_df["Class_Name"] == "democrat"
cond_rep = cat_house_vote_df["Class_Name"] == "republican"

In [62]:
# create with filters 

dem_vote_df = cat_house_vote_df[cond_dem]
rep_vote_df = cat_house_vote_df[cond_rep]

(267, 17)

In [66]:
# test the dfs


dem_vote_df.head()

    Class_Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

  Class_Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [67]:
# looks good 
rep_vote_df.head()

    Class_Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE

# find issues that dems support more with 99% level of confidence
# nu

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE