<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel, ttest_1samp

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

df = pd.read_csv(url, header=None, names=column_headers,na_values='?')
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [4]:
df = df.replace({'y': 1, 'n':0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [6]:
df['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [7]:
rep= df[df['party']=='republican']
print(len(rep))
dem = df[df['party']=='democrat']
print(len(dem))

168
267

In [34]:
ttest_ind(dem['aid-to-contras'], rep['aid-to-contras'], nan_policy='omit')

Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)

In [41]:
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit')

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [58]:
ttest_ind(rep['crime'], dem['crime'], nan_policy='omit').pvalue <=.01

True

In [44]:
ttest_ind(rep['water-project'],dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [51]:
ttest_ind(rep['water-project'],dem['water-project'], nan_policy='omit').pvalue>=99.99

False

In [0]:
# Returns a true/false value if there is a significat difference in the
# null hypothesis within 99.99% between the two datasets passed  
# Side1 and Side2 must be sorted data frames from the same data
# Df_column must be a string value found in the headers of passed data
def more_support_01 (df_column,side1_data, side2_data):
  data = ttest_ind(side1_data[df_column],side2_data[df_column], nan_policy='omit')
  return(data.pvalue<=.01)

In [0]:
# Returns a true/false value if there is a slight difference in the
# null hypothesis within .01% between the two datasets passed  
# Side1 and Side2 must be sorted data frames from the same data
# Df_column must be a string value found in the headers of passed data
def same_support_99_99 (df_column, side1_data, side2_data):
  data = ttest_ind(side1_data[df_column],side2_data[df_column], nan_policy='omit')
  return(data.pvalue>=99.99)

In [66]:
same_support_99_99('water-project',rep,dem)

False

In [67]:
more_support_01('crime',dem,rep)

True

In [0]:
df_no_party = df.drop(labels='party',axis=1)

In [80]:
for x in df_no_party:
  print()

AttributeError: ignored