<a href="https://colab.research.google.com/github/tjscott238/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [92]:
### YOUR CODE STARTS HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-03-17 06:25:52--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-03-17 06:25:52 (285 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [93]:
import pandas as pd
import numpy as np



df = pd.read_csv('house-votes-84.data', names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])

print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [97]:
# Label encoding, and replace ? with Np.NaN in one fell-swoop.
from scipy import stats
import numpy as np


df = df.replace({'y': 1, 'n': 0, '?': np.NaN})

df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [99]:
# Split the dataset into republicans and democrats

rep = df[df['party']=='republican']
dem = df[df['party']=='democrat']
rep

          party  handicapped-infants  ...  duty-free  south-africa
0    republican                  0.0  ...        0.0           1.0
1    republican                  0.0  ...        0.0           NaN
7    republican                  0.0  ...        NaN           1.0
8    republican                  0.0  ...        0.0           1.0
10   republican                  0.0  ...        0.0           0.0
..          ...                  ...  ...        ...           ...
427  republican                  0.0  ...        0.0           1.0
430  republican                  0.0  ...        0.0           1.0
432  republican                  0.0  ...        0.0           1.0
433  republican                  0.0  ...        0.0           1.0
434  republican                  0.0  ...        NaN           0.0

[168 rows x 17 columns]

In [100]:
dem

        party  handicapped-infants  ...  duty-free  south-africa
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0
5    democrat                  0.0  ...        1.0           1.0
6    democrat                  0.0  ...        1.0           1.0
..        ...                  ...  ...        ...           ...
425  democrat                  0.0  ...        1.0           NaN
426  democrat                  1.0  ...        1.0           1.0
428  democrat                  NaN  ...        1.0           1.0
429  democrat                  1.0  ...        1.0           1.0
431  democrat                  0.0  ...        0.0           1.0

[267 rows x 17 columns]

In [0]:
def more_support(x,y,p):
  x1=x.copy().drop(['party'], axis=1)
  y1=y.copy().drop(['party'], axis=1)
  if p < 0.1:
    for column in x1:
      test1 = stats.ttest_1samp(x1[column], p, nan_policy='omit')
      test2 = stats.ttest_1samp(y1[column], p, nan_policy='omit')
      result1 = stats.ttest_ind(test1, test2)
      if result1.pvalue > p:
        print("I fail to reject the null hypothesis that my sample mean on topic ", column ," ", result1.pvalue)
  elif p == 0.1:
    for column in x1:
      result = stats.ttest_ind(x1[column], y1[column], nan_policy='omit')
      if result.pvalue > p:
        print("The difference between republicans and democrats has > 10% on topic ", column, " ", result1.pvalue )
    
      


#dem2 = dem.copy().drop(['party'], axis=1)
#rep2= rep.copy().drop(['party'], axis=1)



#for column in dem2:
#  result = stats.ttest_ind(dem2[column], rep2[column], nan_policy='omit').    
#  print(result) 
#for i in x:
#  result = stats.ttest_ind(x, y, nan_policy='omit')
#  if

#more_support(dem,rep,0.1)

#result = stats.ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit')

#result.pvalue

In [102]:
#Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
more_support(dem, rep,0.01)

I fail to reject the null hypothesis that my sample mean on topic  handicapped-infants   0.5710684475633153
I fail to reject the null hypothesis that my sample mean on topic  water-project   0.8863112004103106
I fail to reject the null hypothesis that my sample mean on topic  budget   0.466653643604924
I fail to reject the null hypothesis that my sample mean on topic  physician-fee-freeze   0.43346964692986567
I fail to reject the null hypothesis that my sample mean on topic  el-salvador-aid   0.48507101630424576
I fail to reject the null hypothesis that my sample mean on topic  religious-groups   0.6324600545112389
I fail to reject the null hypothesis that my sample mean on topic  anti-satellite-ban   0.5338397272510127
I fail to reject the null hypothesis that my sample mean on topic  aid-to-contras   0.48452987678096027
I fail to reject the null hypothesis that my sample mean on topic  mx-missile   0.49089180377426245
I fail to reject the null hypothesis that my sample mean on topic  immigration   0.9709636909085511
I fail to reject the null hypothesis that my sample mean on topic  synfuels   0.5637367848939129
I fail to reject the null hypothesis that my sample mean on topic  education   0.5091312111438417
I fail to reject the null hypothesis that my sample mean on topic  right-to-sue   0.5819548199631479
I fail to reject the null hypothesis that my sample mean on topic  crime   0.4770746554338947
I fail to reject the null hypothesis that my sample mean on topic  duty-free   0.49834059662121133
I fail to reject the null hypothesis that my sample mean on topic  south-africa   0.5851347438068965

In [103]:
#Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
more_support(rep, dem,0.01)

I fail to reject the null hypothesis that my sample mean on topic  handicapped-infants   0.5710684475633153
I fail to reject the null hypothesis that my sample mean on topic  water-project   0.8863112004103106
I fail to reject the null hypothesis that my sample mean on topic  budget   0.466653643604924
I fail to reject the null hypothesis that my sample mean on topic  physician-fee-freeze   0.43346964692986567
I fail to reject the null hypothesis that my sample mean on topic  el-salvador-aid   0.48507101630424576
I fail to reject the null hypothesis that my sample mean on topic  religious-groups   0.6324600545112389
I fail to reject the null hypothesis that my sample mean on topic  anti-satellite-ban   0.5338397272510127
I fail to reject the null hypothesis that my sample mean on topic  aid-to-contras   0.48452987678096027
I fail to reject the null hypothesis that my sample mean on topic  mx-missile   0.49089180377426245
I fail to reject the null hypothesis that my sample mean on topic  immigration   0.9709636909085511
I fail to reject the null hypothesis that my sample mean on topic  synfuels   0.5637367848939129
I fail to reject the null hypothesis that my sample mean on topic  education   0.5091312111438417
I fail to reject the null hypothesis that my sample mean on topic  right-to-sue   0.5819548199631479
I fail to reject the null hypothesis that my sample mean on topic  crime   0.4770746554338947
I fail to reject the null hypothesis that my sample mean on topic  duty-free   0.49834059662121133
I fail to reject the null hypothesis that my sample mean on topic  south-africa   0.5851347438068965

In [104]:
#Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)
more_support(rep, dem, 0.1)

The difference between republicans and democrats has > 10% on topic  water-project

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [0]:

## Import the packages
import numpy as np
from scipy import stats


## Define 2 random distributions
#Sample Size
N = 10
#Gaussian distributed data with mean = 2 and var = 1
a = np.random.randn(N) + 2
#Gaussian distributed data with with mean = 0 and var = 1
b = np.random.randn(N)


## Calculate the Standard Deviation
#Calculate the variance to get the standard deviation

#For unbiased max likelihood estimate we have to divide the var by N-1, and therefore the parameter ddof = 1
var_a = a.var(ddof=1)
var_b = b.var(ddof=1)

#std deviation
s = np.sqrt((var_a + var_b)/2)
s



## Calculate the t-statistics
t = (a.mean() - b.mean())/(s*np.sqrt(2/N))



## Compare with the critical t-value
#Degrees of freedom
df = 2*N - 2

#p-value after comparison with the t 
p = 1 - stats.t.cdf(t,df=df)


print("t = " + str(t))
print("p = " + str(2*p))
### You can see that after comparing the t statistic with the critical t value 
#(computed internally) we get a good p value of 0.0005 and thus we reject the 
#null hypothesis and thus it proves that the mean of the two distributions are 
#different and statistically significant.


## Cross Checking with the internal scipy function
t2, p2 = stats.ttest_ind(a,b)
print("t = " + str(t2))
print("p = " + str(p2))