<a href="https://colab.research.google.com/github/dggasque/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
# Import Libraries
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel
import pandas as pd

In [9]:
#Download Data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-07 19:05:28--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2019-10-07 19:05:29 (285 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [13]:
# Load Data
df = pd.read_csv('house-votes-84.data', 
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [14]:
# Turn '?' into NaN values and convert Y and N responses to numerical values 1 and 0
import numpy as np

df =df.replace({'?':np.NaN, 'n':0, 'y':1})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
# split dataframe by party

reps = df[df['party']=='republican']

dems = df[df['party']=='democrat']

In [16]:
reps.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [17]:
dems.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

### Use hypothesis testing, find an issue that democrats support more than republicans with p < 0.01

In [19]:
# Issue: aid-to-contras 
# Null Hypothesis is support is the same

ttest_ind(dems['aid-to-contras'], reps['aid-to-contras'], nan_policy='omit')

Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)

pvalue is less than 0.01

###Use hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

In [21]:
# Issue: education 
# Null Hypothesis is support is the same

ttest_ind(reps['education'], dems['education'], nan_policy='omit')

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)

pvalue is less than 0.01

In [28]:
ttest_ind(dems['education'],reps['education'], nan_policy='omit')

Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)

###Use hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1

In [22]:
# Issue: water project
# Null Hypothesis is support is the same

ttest_ind(reps['water-project'], dems['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [23]:
results = ttest_ind(reps['water-project'], dems['water-project'], nan_policy='omit')

type(results)

scipy.stats.mstats_basic.Ttest_indResult

In [27]:
results[1]

0.9291556823993485

In [0]:
def who_supports_more(rep_votes, dem_votes, issue):
  results = ttest_ind(rep_votes, dem_votes, nan_policy='omit')
  
  if results[1] < 0.01:
    if results[0] >=0:
      print("The Republicans support " + issue + " more than Democrats")
    else:
      print("The Democrats support " + issue + " more than Republicans")
  
  if results[1] > 0.1:
    print("Support for " + issue + " is similar among Republicans and Democrats")

In [0]:
issues = ['handicapped-infants','water-project','budget',
           'physician-fee-freeze', 'el-salvador-aid',
           'religious-groups','anti-satellite-ban',
           'aid-to-contras','mx-missile','immigration',
           'synfuels', 'education', 'right-to-sue','crime',
           'duty-free','south-africa']

In [44]:
for issue in issues:
  who_supports_more(reps[issue], dems[issue], issue)

The Democrats support handicapped-infants more than Republicans
Support for water-project is similar among Republicans and Democrats
The Democrats support budget more than Republicans
The Republicans support physician-fee-freeze more than Democrats
The Republicans support el-salvador-aid more than Democrats
The Republicans support religious-groups more than Democrats
The Democrats support anti-satellite-ban more than Republicans
The Democrats support aid-to-contras more than Republicans
The Democrats support mx-missile more than Republicans
The Democrats support synfuels more than Republicans
The Republicans support education more than Democrats
The Republicans support right-to-sue more than Democrats
The Republicans support crime more than Democrats
The Democrats support duty-free more than Republicans
The Democrats support south-africa more than Republicans