<a href="https://colab.research.google.com/github/kylebrechin/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
### YOUR WORK HERE 
import pandas as pd
from scipy.stats import ttest_ind, ttest_1samp
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
column_names = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration',
                 'num_of_doors', 'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 
                 'length', 'width', 'height', 'curb_weight', 'engine_type',
                 'num_of_cylinders', 'engine_size', 'fuel_system', 'bore', 'stroke',
                 'compression_ratio', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 'price']
auto = pd.read_csv(url, names = column_names, na_values='?')
auto.head()

   symboling  normalized_losses         make  ... city_mpg highway_mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [8]:
auto.shape

(205, 26)

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [2]:
### YOUR WORK HERE
sample_mpg = auto.sample(10, random_state = 30)
print(ttest_ind(sample_mpg['highway_mpg'], auto['highway_mpg']).pvalue)

# 1 samp requires mean() of population
ttest_1samp(sample_mpg['highway_mpg'], auto['highway_mpg'].mean())

0.3604640293545831

Ttest_1sampResult(statistic=0.8912422391619923, pvalue=0.39600040771093326)

In [11]:
print(sample_mpg['highway_mpg'].mean())
auto['highway_mpg'].mean()
# Based on a Pvalue of 0.36 (64% confidence)
# no meaningful difference
# I do not believe the sample is reflective of the population
# I fail to reject the null hypothesis

32.8

30.75121951219512

In [4]:
# filter by the 35 hwy mpg the salesman claims and get a sample of it
mpg_35 = auto[auto['highway_mpg'] >= 35].sample(10,random_state=30)
mpg_35

     symboling  normalized_losses        make  ... city_mpg highway_mpg   price
156          0               91.0      toyota  ...       30          37  6938.0
77           2              161.0  mitsubishi  ...       31          38  6189.0
118          1              119.0    plymouth  ...       37          41  5572.0
158          0               91.0      toyota  ...       34          36  7898.0
32           1              101.0       honda  ...       38          42  5399.0
96           1              122.0      nissan  ...       31          37  7499.0
120          1              154.0    plymouth  ...       31          38  6229.0
92           1              122.0      nissan  ...       31          37  6849.0
121          1              154.0    plymouth  ...       31          38  6692.0
76           2              161.0  mitsubishi  ...       37          41  5389.0

[10 rows x 26 columns]

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [5]:
# compare the sample against the population mean
ttest_1samp(mpg_35['highway_mpg'],auto['highway_mpg'].mean(), nan_policy='omit')

Ttest_1sampResult(statistic=11.847432638029293, pvalue=8.585942893335333e-07)

In [6]:
# print out the Pvalue in a nice format
print('{:.10f}'.format(ttest_1samp(mpg_35['highway_mpg'],auto['highway_mpg'].mean(), nan_policy='omit').pvalue))

# The value is very close to 0. 
# We have found a meaningful difference.
# I reject the null hypothesis

0.0000008586

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [10]:
### YOUR WORK HERE
sample_mpg_big = auto.sample(100, random_state = 30)

ttest_1samp(sample_mpg_big['highway_mpg'], auto['highway_mpg'].mean()).pvalue

# the Pvalue has more than doubled.
# no meaningful difference
# 14% confidence
# I stand by my claim that the sample is not reflective of the population
# I fail to reject the null hypothesis

0.8682745977159305

In [12]:
sample_mpg_big['highway_mpg'].mean()

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

They are leading to different conclusions because the amount of data they are sampling shows a broader perspective of the population.

While both t-tests show there is no meaningful difference, you can see how the information changes with different samples.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [14]:
### YOUR WORK HERE
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
column_headers = ['party', 'handicapped_infants', 'water_project', 'budget',
                  'physician_fee_freeze', 'el_salvador_aid', 'religious_groups',
                  'anti_satellite_ban', 'aid_to_contras', 'mx_missile', 'immigration',
                  'synfuels', 'education', 'right_to_sue', 'crime', 'duty_free',
                  'south_africa']
votes = pd.read_csv(url, header = None, names = column_headers, na_values='?')
votes

          party handicapped_infants water_project  ... crime duty_free south_africa
0    republican                   n             y  ...     y         n            y
1    republican                   n             y  ...     y         n          NaN
2      democrat                 NaN             y  ...     y         n            n
3      democrat                   n             y  ...     n         n            y
4      democrat                   y             y  ...     y         y            y
..          ...                 ...           ...  ...   ...       ...          ...
430  republican                   n             n  ...     y         n            y
431    democrat                   n             n  ...     n         n            y
432  republican                   n           NaN  ...     y         n            y
433  republican                   n             n  ...     y         n            y
434  republican                   n             y  ...     y       NaN            n

[435 rows x 17 columns]

In [15]:
# we want numeric data, we can't do t-tests on strings
votes = votes.replace({'y':1, 'n':0})
votes.head()

        party  handicapped_infants  ...  duty_free  south_africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [16]:
# how many voted from each party?
votes['party'].value_counts()

democrat      267
republican    168
Name: party, dtype: int64

In [17]:
# get the Republican and Democrate sides
rep = votes[votes['party'] == 'republican']
dem = votes[votes['party'] == 'democrat']

print("Rep: ", rep.shape)
print("Dem: ", dem.shape)

Rep:  (168, 17)
Dem:  (267, 17)

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [23]:
### YOUR WORK HERE

for a, b in votes.itertuples(index=False):
  print(a,b)

ValueError: ignored



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

# This would be awesome, but I know nothing of statistics and this is waaaaay over my head
# I'd like to come back to this at some point

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

# See #2