<a href="https://colab.research.google.com/github/ethanmjansen/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS10_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-11-04 20:18:05--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2019-11-04 20:18:05 (286 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [6]:
# Reading in the CSV and replacing null values with ?
# Also inspecting the head 


column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

df = pd.read_csv('house-votes-84.data',
                 header = None,
                 names=column_headers,
                 na_values = '?')

df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [10]:
#Converting Yes and No to Binary Values 

df.replace({'y': 1, 'n': 0}, inplace=True)
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
#Filtering the dataframe to the republican and democratic party representatives

rep = df[df['party'] == 'republican']
dem = df[df['party'] == 'democrat']

In [13]:
#Inspection 

rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [14]:
#Inspection 

dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [21]:
# handicapped-infants
print(ttest_ind(rep['handicapped-infants'],
          dem['handicapped-infants'],
          nan_policy='omit'))

print('Republican', rep['handicapped-infants'].mean())
print('Democrat', dem['handicapped-infants'].mean())

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)
Republican 0.18787878787878787
Democrat 0.6046511627906976

In [22]:
# water-project
print(ttest_ind(rep['water-project'],
          dem['water-project'],
          nan_policy='omit'))

print('Republican', rep['water-project'].mean())
print('Democrat', dem['water-project'].mean())

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)
Republican 0.5067567567567568
Democrat 0.502092050209205

In [23]:
# budget
print(ttest_ind(rep['budget'],
          dem['budget'],
          nan_policy='omit'))

print('Republican', rep['budget'].mean())
print('Democrat', dem['budget'].mean())

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)
Republican 0.13414634146341464
Democrat 0.8884615384615384

In [24]:
# physician-fee-freeze
print(ttest_ind(rep['physician-fee-freeze'],
          dem['physician-fee-freeze'],
          nan_policy='omit'))

print('Republican', rep['physician-fee-freeze'].mean())
print('Democrat', dem['physician-fee-freeze'].mean())

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)
Republican 0.9878787878787879
Democrat 0.05405405405405406

In [25]:
# el-salvador-aid
print(ttest_ind(rep['el-salvador-aid'],
          dem['el-salvador-aid'],
          nan_policy='omit'))

print('Republican', rep['el-salvador-aid'].mean())
print('Democrat', dem['el-salvador-aid'].mean())

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)
Republican 0.9515151515151515
Democrat 0.21568627450980393

In [27]:
# religious-groups
print(ttest_ind(rep['religious-groups'],
          dem['religious-groups'],
          nan_policy='omit'))

print('Republican', rep['religious-groups'].mean())
print('Democrat', dem['religious-groups'].mean())

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)
Republican 0.8975903614457831
Democrat 0.47674418604651164

From what I could find, an issue that democrats support more than republicans with a p < 0.01 is the budget bill. 

An issue that republicans support more than democrats with a p < 0.01 is the physician-fee-freeze bill.

Finally, an issue where the difference between republicans and democrats has p > 0.1 is the water-project bill.

**Stretch Goal 1)**

In [0]:
#Function 

def my_func(bill_variable):
  
  print(ttest_ind(rep[bill_variable],
          dem[bill_variable],
          nan_policy='omit'))

  print('Republican', rep[bill_variable].mean())
  print('Democrat', dem[bill_variable].mean())

In [50]:
my_func('budget')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)
Republican 0.13414634146341464
Democrat 0.8884615384615384

In [46]:
my_func('physician-fee-freeze')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)
Republican 0.9878787878787879
Democrat 0.05405405405405406

In [48]:
my_func('religious-groups')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)
Republican 0.8975903614457831
Democrat 0.47674418604651164

**Stretch Goal 2**

1) Null Hypothesis:
  X1 == X2 (where X1 equals Republicans and X2 equals Democrats).

2) Alternative Hypothesis: 
  X1 =/= X2 (where X1 equals Republican and X2 equals Democrats).

3) Confidence Level: 95%.

4) My T-statistic: Whatever I got from the ttest_ind() function.

5) My P-value: Whatever I got from the ttest_ind() function. 

In order to "Reject my null hypothesis" I would have to have a P-value < .05 (Due to my Confidence Level being %95 or 1 - .95).

In order to "Fail to reject my null hypothesis" I would have to have a P-Value > .05 (Due to my Confidence Level being %95 or 1 - .95).