<a href="https://colab.research.google.com/github/davidxu90/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
import pandas as pd

columns = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style",
           "drive-wheels", "engine-location", "wheel-base", "length", "width", "height", "curb-weight",
           "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke", "compression-ratio",
           "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data", names = columns)

df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [2]:
import numpy as np

df.replace("?", np.nan, inplace = True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [3]:
df.dropna(inplace = True)
df.head()

    symboling normalized-losses  make  ... city-mpg highway-mpg  price
3           2               164  audi  ...       24          30  13950
4           2               164  audi  ...       18          22  17450
6           1               158  audi  ...       19          25  17710
8           1               158  audi  ...       17          20  23875
10          2               192   bmw  ...       23          29  16430

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [4]:
sample = df.sample(n = 10, random_state = 30)

sample.head()

     symboling normalized-losses       make  ... city-mpg highway-mpg  price
202         -1                95      volvo  ...       18          23  21485
199         -1                74      volvo  ...       17          22  18950
144          0               102     subaru  ...       24          25   9233
18           2               121  chevrolet  ...       47          53   5151
152          1                74     toyota  ...       31          38   6488

[5 rows x 26 columns]

In [5]:
sample_mean = sample["highway-mpg"].mean()
population_mean = df["highway-mpg"].mean()

print(sample_mean, population_mean)

29.5 32.081761006289305

In [6]:
from scipy import stats

stats.ttest_1samp(sample["highway-mpg"], population_mean)

# Since the p-value is ~0.44, this result is not statistically significant and we cannot conclude that
# the sample mean significantly differs from the population mean.

Ttest_1sampResult(statistic=-0.7911179404126882, pvalue=0.44922024950757067)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [7]:
stats.ttest_1samp(sample["highway-mpg"], 35)

# Here, the p-value is ~0.126, which is lower, but still doesn't reach even a p = 0.1 significance level. Hence,
# we cannot reject the salesman's claim based on just this sample of 10 cars.

Ttest_1sampResult(statistic=-1.6853413858487127, pvalue=0.12620426076756258)

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [8]:
sample = df.sample(n = 100, random_state = 30)

stats.ttest_1samp(sample["highway-mpg"], 35)

# This p-value is highly significant, and we can conclude that the salesman is giving us unreliable information.

Ttest_1sampResult(statistic=-5.262889840669668, pvalue=8.237618438079505e-07)

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

**The second *t*-test uses a substantially larger sample size, and as such more easily reaches the point of being statistically significant.**

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [9]:
columns = ["class", "handicapped-infants", "water-project-cost-sharing", "adoption-of-the-budget-resolution",
           "water-fee-freeze", "el-salvador-aid", "religious-groups-in-schools", "anti-satellite-test-bans",
           "add-to-nicaraguan-contras", "mx-missile", "immigration", "synfuels-corporation-cutback",
           "education-spending", "superfund-right-to-sue", "crime", "duty-free-exports", "export-administration-act-south-africa"]
df2 = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", names = columns)

df2.head()

        class  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [10]:
dict = {"y" : 1, "n" : 0, "?" : np.NaN}
df2.replace(to_replace = dict, inplace = True)

df2.head()

        class  ...  export-administration-act-south-africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [11]:
df2.dropna(inplace = True)
df2.head()

         class  ...  export-administration-act-south-africa
5     democrat  ...                                     1.0
8   republican  ...                                     1.0
19    democrat  ...                                     1.0
23    democrat  ...                                     1.0
25    democrat  ...                                     1.0

[5 rows x 17 columns]

In [12]:
republicans = df2[df2["class"] == "republican"]
democrats = df2[df2["class"] == "democrat"]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [13]:
# Null hypothesis: Democrats and Republicans do not significantly differ in their stance on crime.
# Alternative hypothesis: Democrats and Republicans do significantly differ in their stance on crime.

stats.ttest_ind(democrats["crime"], republicans["crime"])

# Since the p-value reported is significantly smaller than 0.01, this result is statistically significant
# and we can reject the null hypothesis.

Ttest_indResult(statistic=-13.34079793707258, pvalue=1.8791646941359472e-30)

In [14]:
# Null hypothesis: Democrats and Republicans do not significantly differ in their stance on the adoption of the budget resolution.
# Alternative hypothesis: Democrats and Republicans do significantly differ in their stance on the adoption of the budget resolution.

stats.ttest_ind(democrats["adoption-of-the-budget-resolution"], republicans["adoption-of-the-budget-resolution"])

# Since the p-value reported is significantly smaller than 0.01, this result is statistically significant
# and we can reject the null hypothesis.

Ttest_indResult(statistic=14.742943396634677, pvalue=4.458031105913572e-35)

In [15]:
# Null hypothesis: Democrats and Republicans do not significantly differ in their stance on immigration.
# Alternative hypothesis: Democrats and Republicans do significantly differ in their stance on immigration.

stats.ttest_ind(democrats["immigration"], republicans["immigration"])

# Since the p-value reported is significantly larger than even 0.1, this result is not statistically
# statistically significant and we fail to reject the null hypothesis.

Ttest_indResult(statistic=-0.6366340860076748, pvalue=0.5249963080040427)

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [16]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [17]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [18]:
### YOUR WORK HERE