<a href="https://colab.research.google.com/github/ScottErnst0331/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE

import pandas as pd
import numpy as np

column_headers = ['Class_Name', 'handicapped_infants', 'water_project_cost_sharing', 'adoption_of_the_budget_resolution', 'physician_fee_freeze', 'el_salvador_aid', 'religious_groups_in_schools', 'anti_satellite_test_ban', 'aid_to_nicaraguan_contras', 'mx_missile', 'immigration', 'synfuels_corporation_cutback', 'education_spending', 'superfund_right_to_sue', 'crime', 'duty_free_exports', 'export_administration_act_south_africa']

voting_data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=column_headers)

In [0]:
# Examine df head

voting_data.head()

   Class_Name  ... export_administration_act_south_africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [0]:
# Examine df tail

voting_data.tail()

     Class_Name  ... export_administration_act_south_africa
430  republican  ...                                      y
431    democrat  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      y
434  republican  ...                                      n

[5 rows x 17 columns]

In [0]:
# Verify 435 instances and 17 columns (1 class + 16 votes)

voting_data.shape

(435, 17)

In [0]:
# Check for NaN values

voting_data.isnull().sum()

# Python is not reading "?" value as NaN

Class_Name                                0
handicapped_infants                       0
water_project_cost_sharing                0
adoption_of_the_budget_resolution         0
physician_fee_freeze                      0
el_salvador_aid                           0
religious_groups_in_schools               0
anti_satellite_test_ban                   0
aid_to_nicaraguan_contras                 0
mx_missile                                0
immigration                               0
synfuels_corporation_cutback              0
education_spending                        0
superfund_right_to_sue                    0
crime                                     0
duty_free_exports                         0
export_administration_act_south_africa    0
dtype: int64

In [0]:
# Count number of "?" values

(voting_data == '?').sum()

Class_Name                                  0
handicapped_infants                        12
water_project_cost_sharing                 48
adoption_of_the_budget_resolution          11
physician_fee_freeze                       11
el_salvador_aid                            15
religious_groups_in_schools                11
anti_satellite_test_ban                    14
aid_to_nicaraguan_contras                  15
mx_missile                                 22
immigration                                 7
synfuels_corporation_cutback               21
education_spending                         31
superfund_right_to_sue                     25
crime                                      17
duty_free_exports                          28
export_administration_act_south_africa    104
dtype: int64

In [0]:
# Replace y and n values with numbers 
# Replace ? values with NaN

voting_data = voting_data.replace({'y': 1, 'n': 0, '?': np.NaN})

In [0]:
# Examine the head of the revised df

voting_data.head()

   Class_Name  ...  export_administration_act_south_africa
0  republican  ...                                     1.0
1  republican  ...                                     NaN
2    democrat  ...                                     0.0
3    democrat  ...                                     1.0
4    democrat  ...                                     1.0

[5 rows x 17 columns]

In [0]:
# Count NaN values to ensure ? was coverted to NaN

voting_data.isnull().sum()

# ? values were accurately converted to NaN values

Class_Name                                  0
handicapped_infants                        12
water_project_cost_sharing                 48
adoption_of_the_budget_resolution          11
physician_fee_freeze                       11
el_salvador_aid                            15
religious_groups_in_schools                11
anti_satellite_test_ban                    14
aid_to_nicaraguan_contras                  15
mx_missile                                 22
immigration                                 7
synfuels_corporation_cutback               21
education_spending                         31
superfund_right_to_sue                     25
crime                                      17
duty_free_exports                          28
export_administration_act_south_africa    104
dtype: int64

In [0]:
# Count total values in handicapped_infants column

voting_data['handicapped_infants'].value_counts(dropna=False)

0.0    236
1.0    187
NaN     12
Name: handicapped_infants, dtype: int64

In [0]:
# Create crosstab of handicapped_infants to count no votes (0.0 value) and yes votes (1.0 value)
# NaN values are automatically dropped

pd.crosstab(voting_data.Class_Name, voting_data.handicapped_infants)

# Democrats (156 Yes (1.0)) support this issue more than Republicans (31 Yes (1.0))

handicapped_infants  0.0  1.0
Class_Name
democrat             102  156
republican           134   31

In [0]:
# Separate Democrats and Republicans

dems = voting_data[voting_data['Class_Name'] == 'democrat']
reps = voting_data[voting_data['Class_Name'] == 'republican']

In [0]:
# Import stats library

from scipy import stats

In [0]:
# Run stats test on handicapped_infants

# The null hypothesis is that Democrats and Republicans 
# have equal levels of support among their respective members for the bill.

stats.ttest_ind(dems['handicapped_infants'], reps['handicapped_infants'], nan_policy='omit')

# pvalue has 18 leading zeros after the decimal, thus p < 0.01

Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)

In [0]:
# Calculate the mean of the Democrats

dems['handicapped_infants'].mean()

# 0.6 indicates more yes than no votes among Democrats (60% yes votes)

0.6046511627906976

In [0]:
# Calculate the mean of the Republicans

reps['handicapped_infants'].mean()

# approximately 0.2 indicates significantly more no than yes votes among Republicans (approx. 20% yes votes)

0.18787878787878787

In [0]:
# CONCLUSION regarding handicapped_infants:

# Large difference in mean of Democrats vs mean of Republicans
# validates the REJECTION of the null hypothesis.

In [0]:
# Create crosstab of el_salvador_aid to count no votes (0.0 value) and yes votes (1.0 value)
# NaN values are automatically dropped

pd.crosstab(voting_data.Class_Name, voting_data.el_salvador_aid)

# Republicans (157 Yes (1.0)) support this issue more than Democrats (55 Yes (1.0))

el_salvador_aid  0.0  1.0
Class_Name
democrat         200   55
republican         8  157

In [0]:
# Run stats test on el_salvador_aid

# The null hypothesis is that Republicans and Democrats 
# have equal levels of support among their respective members for the bill.

stats.ttest_ind(reps['el_salvador_aid'], dems['el_salvador_aid'], nan_policy='omit')

# p value has 68 leading zeros after the decimal, thus p < 0.01

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)

In [0]:
# Calculate the mean of the Republicans

reps['el_salvador_aid'].mean()

# 0.95 indicates nearly unanimous yes votes among Republicans (95% yes votes)

0.9515151515151515

In [0]:
# Calculate the mean of the Democrats

dems['el_salvador_aid'].mean()

# 0.2 indicates significantly more no than yes votes among Democrats (20% yes votes)

0.21568627450980393

In [0]:
# CONCLUSION regarding el_salvador_aid:

# Large difference in mean of Republicans vs mean of Democrats
# validates the REJECTION of the null hypothesis.

In [0]:
# Create crosstab of water_project_cost_sharing
# to count no votes (0.0 value) and yes votes (1.0 value)
# NaN values are automatically dropped

pd.crosstab(voting_data.Class_Name, voting_data.water_project_cost_sharing)

# Democrats (120 Yes (1.0)) support this issue slighty more than Republicans (75 Yes (1.0))
# This was the closest match found after goingthrough all of the bills

water_project_cost_sharing  0.0  1.0
Class_Name
democrat                    119  120
republican                   73   75

In [0]:
# Run stats test on water_project_cost_sharing

# The null hypothesis is that Republicans and Democrats 
# have equal levels of support among their respective members for the bill.

stats.ttest_ind(dems['water_project_cost_sharing'], reps['water_project_cost_sharing'], nan_policy='omit')

# p value is 0.92, thus p > 0.1

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
# Calculate the mean of the Democrats

dems['water_project_cost_sharing'].mean()

# 0.5 indicates nearly even yes and no votes among Democrats

0.502092050209205

In [0]:
# Calculate the mean of the Republicans

reps['water_project_cost_sharing'].mean()

# 0.5 indicates nearly even yes and no votes among Republicans

0.5067567567567568

In [0]:
# CONCLUSION regarding water_project_cost_sharing:

# Nearly idential mean of Republicans vs mean of Democrats
# validates the ACCEPTANCE of the null hypothesis.

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!