<a href="https://colab.research.google.com/github/jacobpad/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS12_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

# library imports
import pandas as pd
import scipy.stats as sp
import numpy as np

# get data
url1 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'
df = pd.read_csv(url1, 
                  header=None, 
                  names=['party','handicapped-infants','water-project', 
                   'budget','physician-fee-freeze','el-salvador-aid', 
                   'religious-groups','anti-satellite-ban','aid-to-contras',
                   'mx-missile','immigration','synfuels', 'education',
                   'right-to-sue','crime','duty-free','south-africa'])

# see data
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
# get rid of '?' and change it to NaN by overwriting the original
df = df.replace({'?':np.NaN, 'n':0,'y':1})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
# check nulls
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [0]:
# slice republican
rep = df[df.party == 'republican']
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
# describe all
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
# describe republicans
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
# slice democrat
dem = df[df.party == 'democrat']
print(dem.shape)
dem.head()

(267, 17)

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
# describe all
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
# describe dem
dem.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           258.000000     239.000000  ...  251.000000    185.000000
mean              0.604651       0.502092  ...    0.637450      0.935135
std               0.489876       0.501045  ...    0.481697      0.246956
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               1.000000       1.000000  ...    1.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [0]:
# How many from each party are there?
print('How many from each party are there?')
df['party'].value_counts()

How many from each party are there?

democrat      267
republican    168
Name: party, dtype: int64

In [0]:
# The percentage of Republicans who voted "yes" (1) on the handicapped-infants bill
print('Republicans who voted "yes" (1) on the handicapped-infants bill and "no" (0)')
print(rep['handicapped-infants'].value_counts())
print('\n31 Republicans voted yes')
print('\nThe percent of republicans who voted "yes"')
print(rep['handicapped-infants'].sum()/len(rep))
print('\nBut this percent includes the NaN\'s, so lets remove those.')
col=rep['handicapped-infants']
np.isnan(col)
handicap_infants_no_nans = col[~np.isnan(col)] # The ~ = the opposite
print(rep['handicapped-infants'].sum()/len(handicap_infants_no_nans)*100,'%')

Republicans who voted "yes" (1) on the handicapped-infants bill and "no" (0)
0.0    134
1.0     31
Name: handicapped-infants, dtype: int64

31 Republicans voted yes

The percent of republicans who voted "yes"
0.18452380952380953

But this percent includes the NaN's, so lets remove those.
18.787878787878785 %

In [0]:
############

In [0]:
# WATER PROJECT

In [0]:
############

In [0]:
# imports
from scipy.stats import ttest_ind

In [0]:
# Mean support of Republucans
rep['water-project'].mean()

0.5067567567567568

In [0]:
# Mean support of Democrats
dem['water-project'].mean()

0.502092050209205

In [0]:
# T-test
ttest_ind(rep['water-project'], dem['water-project'])

Ttest_indResult(statistic=nan, pvalue=nan)

In [0]:
# What!?!? NaN's?
# Strip them out w/ scipy
w_p = ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')
# ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')
w_p

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
# T-stat = 
print('T-stat')
print(w_p[0])
# P-value
print('\nP-value')
print(w_p[1])
# Conclusion
print('\nConclusion:')
print('Due to a p-value of 0.929 (not quite 95%), I fail to reject the null')
print('hypothysis that rep & dem support for the water bill is different.')
print('\nI fail to prove that they are different')

T-stat
0.08896538137868286

P-value
0.9291556823993485

Conclusion:
Due to a p-value of 0.929 (not quite 95%), I fail to reject the null
hypothysis that rep & dem support for the water bill is different.

I fail to prove that they are different

In [0]:
############

In [0]:
# SOUTH AFERICA BILL

In [0]:
############

In [0]:
# imports
from scipy.stats import ttest_1samp, ttest_ind

# this means that IN OUR SAMPLE, 93+ percent of dems support the SA bill
print(dem['south-africa'].mean())
# what does this mean about the nation as a whole?

# conduct the t-test at 100%
print('\nt-test at (null)100%')
print(ttest_1samp(dem['south-africa'],1,nan_policy='omit'))

# conduct the t-test at 99.9%
print('\nt-test at (null)99.9%')
print(ttest_1samp(dem['south-africa'],.99,nan_policy='omit'))

# conduct the t-test at 95%
print('\nt-test at (null)95%')
print(ttest_1samp(dem['south-africa'],.95,nan_policy='omit'))

0.9351351351351351

t-test at (null)100%
Ttest_1sampResult(statistic=-3.572534923600723, pvalue=0.0004513789099729073)

t-test at (null)99.9%
Ttest_1sampResult(statistic=-3.0217691228789447, pvalue=0.002871040375274814)

t-test at (null)95%
Ttest_1sampResult(statistic=-0.8187059199918301, pvalue=0.41401328358295386)

In [0]:
# Members of both parties support water-project the same
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
# Dems support budget bill more than Reps
ttest_ind(rep['budget'], dem['budget'], nan_policy='omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [0]:
# Reps support el-salvador-aid more than dems
ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit')

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)