<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-01-30 02:05:49--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-01-30 02:05:50 (138 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [0]:
import pandas as pd
df = pd.read_csv('house-votes-84.data', header=None, names=column_headers, na_values='?')

In [38]:
df.shape

(435, 17)

In [6]:
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [7]:
df = df.replace({'y':1, 'n':0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
dems = df[df['party']=='democrat']
reps = df[df['party']=='republican']

In [13]:
# Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
print(dems['handicapped-infants'].mean())
print(reps['handicapped-infants'].mean())

0.6046511627906976
0.18787878787878787

In [0]:
from scipy.stats import ttest_ind

In [0]:
test_hi = ttest_ind(reps['handicapped-infants'], dems['handicapped-infants'], nan_policy='omit')

In [31]:
print(test_hi.pvalue<.01)
print("Since the p-value < 0.01. I accept the null hypothesis that dems have higher support for this than reps")

True
Since the p-value < 0.01. I accept the null hypothesis that dems support this more than reps

In [25]:

#Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01

print(dems['physician-fee-freeze'].mean(), "\n", reps['physician-fee-freeze'].mean())

0.05405405405405406
 0.9878787878787879

In [0]:
test_pff = ttest_ind(reps['physician-fee-freeze'], dems['physician-fee-freeze'], nan_policy='omit')

In [30]:
print(test_pff.pvalue<0.01)
print("Since the p-value < 0.01. I accept the null hypothesis that reps have higher support for this than dems")

True
Since the p-value < 0.01. I accept the null hypothesis that dems support this more than reps

In [33]:
# Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

print(reps['water-project'].mean())
print(dems['water-project'].mean())

0.5067567567567568
0.502092050209205

In [0]:
test_wp = ttest_ind(reps['water-project'], dems['water-project'], nan_policy='omit')

In [37]:
print(test_wp.pvalue<0.01)
print("Since the p-value > 0.01. I reject the null hypothesis that reps have higher support for this than dems")

False
Since the p-value > 0.01. I reject the null hypothesis that reps have higher support for this than dems

In [0]:

# Refactor your code into functions so it's easy to rerun with arbitrary variables

In [0]:
def run_ttest_ind(dataset1, dataset2, column):
  try:
    test = ttest_ind(dataset1[column], dataset2[column], nan_policy='omit')

    alpha_test = test.pvalue < 0.01
    print("p-value < 0.01 : ", alpha_test)
    if alpha_test:
      print("Since the p-value < 0.01. I accept the null hypothesis that these results are significantly different.")

    else:
      print("Since the p-value >= 0.01. I reject the null hypothesis that these results are significantly different")

  
  except KeyError:
    print("'%s' isn't in the datasets" % column)

In [44]:
run_ttest_ind(reps, dems, 'physician-fee-freeze')

p-value < 0.01 :  True
Since the p-value < 0.01. I accept the null hypothesis that these results are significantly different.

In [45]:
run_ttest_ind(reps, dems, 'water-project')

p-value < 0.01 :  False
Since the p-value >= 0.01. I reject the null hypothesis that these results are significantly different

In [58]:
run_ttest_ind(reps, dems, 'super-man')

'super-man' isn't in the datasets

In [0]:
# Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)
from sklearn.datasets import load_wine
X = load_wine()

wine = pd.DataFrame(X['data'], columns=X['feature_names'])
wine['origin'] = X['target']

In [60]:
wine.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  origin
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0
3    14.37        1.95  2.50  ...                          3.45   1480.0       0
4    13.24        2.59  2.87  ...                          2.93    735.0       0

[5 rows x 14 columns]

In [61]:
run_ttest_ind(wine[wine['origin']==0], wine[wine['origin']==1], 'color_intensity')

p-value < 0.01 :  True
Since the p-value < 0.01. I accept the null hypothesis that these results are significantly different.

In [64]:
run_ttest_ind(wine[wine['origin']==0], wine[wine['origin']==1], 'malic_acid')

p-value < 0.01 :  False
Since the p-value >= 0.01. I reject the null hypothesis that these results are significantly different