<a href="https://colab.research.google.com/github/ilEnzio/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
### YOUR WORK HERE
## load auto_df

!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-07-13 19:55:14--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.06s

2020-07-13 19:55:14 (398 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [ ]:
# the uci dataset has no feature headers so I need to create them.
#
feature_headers = ["symboling", "normalized-losses", "make", "fuel-type", 
                   "aspiration", "num-of-doors", "body-style", "drive-wheels", 
                   "engine-location", "wheel-base", "length", "width", "height",
                   "curb-weight", "engine-type", "num-of-cylinders", "engine-size", 
                   "fuel-system", "bore", "stroke", "compression-ratio", 
                   "horsepower", "peak-rpm", "city-mpg", "highway-mpg", "price"]

In [ ]:
# load it in with columns
auto_df = pd.read_csv("imports-85.data", names= feature_headers)
auto_df.head(2)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500

[2 rows x 26 columns]

In [ ]:
# Check for nulls
auto_df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
# that check is wrong because I saw some "?" so I'm going to replace the
# the ? with NaN,

auto_df = auto_df.replace({"?" : np.NaN})

auto_df.head(2)

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500

[2 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [ ]:
### YOUR WORK HERE
# use .sample to get a random sample, assign to df
# use a seed of 30 to get consistent sample
samp_autos_10 = auto_df.sample(n=10, random_state = 30)

samp_autos_10.head(2)

     symboling normalized-losses      make  ... city-mpg highway-mpg  price
121          1               154  plymouth  ...       31          38   6692
176         -1                65    toyota  ...       27          32  10898

[2 rows x 26 columns]

In [ ]:
# get the mean for sample for the feature highway-mph
samp_autos_10.loc[:, "highway-mpg"].mean()

32.8

In [ ]:
# get the mean for the mean for the highway-mph feature for entire dataset
auto_df.loc[:, "highway-mpg"].mean()

30.75121951219512

In [ ]:
# that shows different values for the mean highway-mpg 
#

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
### YOUR WORK HERE
# NullHypo - The highway-mpg of cars sold is 35
# Alternative Hypo - the highway-mpg of cars sold is NOT 35
# Confidence Level = 95%

# do one sample ttest on the mpg feature 
stats.ttest_1samp(samp_autos_10["highway-mpg"], 35)

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [ ]:
# Conclusion: Based on a tstat of -.96 and a pvalue of .36 We FAIL to reject the null hypothesis

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [ ]:
### YOUR WORK HERE
# create a new sample of 100 cars
samp_autos_100 = auto_df.sample(n=100, random_state = 30)

samp_autos_100.shape

(100, 26)

In [ ]:
# do a one sample ttest with the new sample; same pop parameter
# should have written a function to do this; TODO REfactor
stats.ttest_1samp(samp_autos_100["highway-mpg"], 35)

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [ ]:
#Conclusion: Based on a tstat of -6.51 and a pvalue of approx 0 I reject the null hypothesis that
# the salesman's cars get 35 mpg
# out of curiosity check the mean of the new sample
samp_autos_100.loc[:, "highway-mpg"].mean()

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

since the second Ttest is done against a larger sample - that sample is more representative of the population. the increased sized makes the result less susceptible to variance?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
### YOUR WORK HERE
### load in the data
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-13 22:39:58--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.1’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.06s

2020-07-13 22:39:58 (278 KB/s) - ‘house-votes-84.data.1’ saved [18171/18171]

In [ ]:
# uci no headers; make list to read in with headers 
hv_headers = ["Class_Name", "handicapped-infants","water-project-cost-sharing", 
              "adoption-of-the-budget-resolution","physician-fee-freeze", 
              "el-salvador-aid", "religious-groups-in-schools", "anti-satellite-test-ban",
              "aid-to-nicaraguan-contras","mx-missile", "immigration", " synfuels-corporation-cutback",
              "education-spending", "superfund-right-to-sue", "crime", "duty-free-exports",
              "export-administration-act-south-africa"]

In [ ]:
house_votes_df = pd.read_csv("house-votes-84.data", names=hv_headers, na_values="?")

house_votes_df.tail()

     Class_Name  ... export-administration-act-south-africa
430  republican  ...                                      y
431    democrat  ...                                      y
432  republican  ...                                      y
433  republican  ...                                      y
434  republican  ...                                      n

[5 rows x 17 columns]

In [ ]:
# replace y with 1, and no with 0; strangely I think I could do this by melting
# but I'll leave that for another day.  For not .replace
cat_house_vote_df = house_votes_df.replace({"y": 1, "n":0})
cat_house_vote_df.tail()

     Class_Name  ...  export-administration-act-south-africa
430  republican  ...                                     1.0
431    democrat  ...                                     1.0
432  republican  ...                                     1.0
433  republican  ...                                     1.0
434  republican  ...                                     0.0

[5 rows x 17 columns]

In [ ]:
# looks good so far.  Now split the Dems and Reps into their own df's
cond_dem = cat_house_vote_df["Class_Name"] == "democrat"
cond_rep = cat_house_vote_df["Class_Name"] == "republican"

In [ ]:
# create with filters 

dem_vote_df = cat_house_vote_df[cond_dem]
rep_vote_df = cat_house_vote_df[cond_rep]

(267, 17)

In [ ]:
# test the dfs


dem_vote_df.head()

    Class_Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

  Class_Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [ ]:
# looks good 
rep_vote_df.head()

    Class_Name  ...  export-administration-act-south-africa
0   republican  ...                                     1.0
1   republican  ...                                     NaN
7   republican  ...                                     1.0
8   republican  ...                                     1.0
10  republican  ...                                     0.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [ ]:
### YOUR WORK HERE

# find issues that dems support more with 99% level of confidence
#  two sample ttest
stats.ttest_ind(dem_vote_df["immigration"], rep_vote_df["immigration"], nan_policy='omit')

# Null Hypo - dems and rep support the bill at the same rate
# Alt Hypo - they support at different rates
# Con LvL - 99%;

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [81]:
#  I fail to reject; must try again. 
# rather than randomly look at features, I'll find the mean of each feature and
# find one the democrats overwhelming supported.

In [80]:
dem_vote_df.mean()

handicapped-infants                       0.604651
water-project-cost-sharing                0.502092
adoption-of-the-budget-resolution         0.888462
physician-fee-freeze                      0.054054
el-salvador-aid                           0.215686
religious-groups-in-schools               0.476744
anti-satellite-test-ban                   0.772201
aid-to-nicaraguan-contras                 0.828897
mx-missile                                0.758065
immigration                               0.471483
 synfuels-corporation-cutback             0.505882
education-spending                        0.144578
superfund-right-to-sue                    0.289683
crime                                     0.350195
duty-free-exports                         0.637450
export-administration-act-south-africa    0.935135
dtype: float64

In [82]:
# now I'll do the same for republicans
#
rep_vote_df.mean()

handicapped-infants                       0.187879
water-project-cost-sharing                0.506757
adoption-of-the-budget-resolution         0.134146
physician-fee-freeze                      0.987879
el-salvador-aid                           0.951515
religious-groups-in-schools               0.897590
anti-satellite-test-ban                   0.240741
aid-to-nicaraguan-contras                 0.152866
mx-missile                                0.115152
immigration                               0.557576
 synfuels-corporation-cutback             0.132075
education-spending                        0.870968
superfund-right-to-sue                    0.860759
crime                                     0.981366
duty-free-exports                         0.089744
export-administration-act-south-africa    0.657534
dtype: float64

In [ ]:
# looks like adoption of budget resolution could be a winner...

In [88]:
#  two sample ttest
stats.ttest_ind(dem_vote_df["adoption-of-the-budget-resolution"], 
                rep_vote_df["adoption-of-the-budget-resolution"], nan_policy='omit')

# Null Hypo - dems and rep support the bill at the same rate
# Alt Hypo - they support at different rates
# Con LvL - 99%;

Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)

In [ ]:
# Conclusion: based on a tstat of 23.21 and a pvalue of approx 0, I REJECT the
# null hypothesis that they support this bill at the same rate.

In [124]:
# now for a bill that republicas support more than democrats
#  two sample ttest
stats.ttest_ind(rep_vote_df["crime"], dem_vote_df["crime"], nan_policy='omit')

# Null Hypo - reps and dems support the bill at the same rate
# Alt Hypo - they support at different rates
# Con LvL - 99%;

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)

In [136]:
dem_vote_df.head()

  Class_Name  ...  export-administration-act-south-africa
2   democrat  ...                                     0.0
3   democrat  ...                                     1.0
4   democrat  ...                                     1.0
5   democrat  ...                                     1.0
6   democrat  ...                                     1.0

[5 rows x 17 columns]

In [ ]:
# Conclusion: Based on a tstat of 16.34 and a pvalue of approx 0, I REJECT the
# null hypothesis that they support this bill at the same rate.

In [90]:
# Find an issue where the difference between republicans and democrats 
#has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of
# a difference the two sample means)
# I already check the means so I'll short cut it and pick one I know they
# have similar support.  Then I'll do the ttest. 
#water-project-cost-sharing  

#  two sample ttest
stats.ttest_ind(dem_vote_df["water-project-cost-sharing"], 
                rep_vote_df["water-project-cost-sharing"], nan_policy='omit')

# Null Hypo - dems and rep support the bill at the same rate
# Alt Hypo - they support at different rates
# Con LvL - 99%;

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [ ]:
# Conclusion: Based on a tstat of -.088 and a pvalue of .92 I FAIL to reject
# the null Hypothesis that they support this bill at the same rate.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [93]:
### YOUR WORK HERE
## ok first I need to get a list of all the column headers 
# which I have called hv_headers 
# then I need to iterate though a df to get the mean values

In [162]:
## print(type(dem_vote_df.loc[:, :].mean()[0]))

def perform_2samp_ttest(df1, df2): 

  # iterate over the two dfs for a number of times equal to the number of 
  #features they have. 
  for i in range(1,len(df1.columns)):

    #ttest_ind actually returns a tuple, which means I can unpack it!!!
    # .iloc will return a part of a df.  in this case I want all the rows of 
    # each column 
    x,y = stats.ttest_ind(df1.iloc[:, i], df2.iloc[:, i], nan_policy="omit" )
    bill_name = df1.columns[i]
    print(f"Null Hypo: The two parties support {bill_name} bill at the same rate.")
    print("Alternative Hypo: They do not support the bill at the same rate.")
    print("A Confidence Level 99% will be used to evaluate the ttests results!")
    print(f"Based on a tstat of {x} and a pvalue of {y}..." )
    if y < .05:
      print("I REJECT the null hypothesis.")
    else: 
      print("I FAIL to reject the null hypothesis.")
    print()

In [163]:
perform_2samp_ttest(dem_vote_df, rep_vote_df)

Null Hypo: The two parties support handicapped-infants bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 9.205264294809222 and a pvalue of 1.613440327937243e-18...
I REJECT the null hypothesis.

Null Hypo: The two parties support water-project-cost-sharing bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -0.08896538137868286 and a pvalue of 0.9291556823993485...
I FAIL to reject the null hypothesis.

Null Hypo: The two parties support adoption-of-the-budget-resolution bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 23.21277691701378 and a pvalue of 2.0703402795404463e-77...
I REJECT the null hypothesis.

Null Hypo: The two parties support physician-fee-freeze bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -49.36708157301406 and a pvalue of 1.994262314074344e-177...
I REJECT the null hypothesis.

Null Hypo: The two parties support el-salvador-aid bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -21.13669261173219 and a pvalue of 5.600520111729011e-68...
I REJECT the null hypothesis.

Null Hypo: The two parties support religious-groups-in-schools bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -9.737575825219457 and a pvalue of 2.3936722520597287e-20...
I REJECT the null hypothesis.

Null Hypo: The two parties support anti-satellite-test-ban bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 12.526187929077842 and a pvalue of 8.521033017443867e-31...
I REJECT the null hypothesis.

Null Hypo: The two parties support aid-to-nicaraguan-contras bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 18.052093200819733 and a pvalue of 2.82471841372357e-54...
I REJECT the null hypothesis.

Null Hypo: The two parties support mx-missile bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 16.437503268542994 and a pvalue of 5.03079265310811e-47...
I REJECT the null hypothesis.

Null Hypo: The two parties support immigration bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -1.7359117329695164 and a pvalue of 0.08330248490425066...
I FAIL to reject the null hypothesis.

Null Hypo: The two parties support  synfuels-corporation-cutback bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 8.293603989407588 and a pvalue of 1.5759322301054064e-15...
I REJECT the null hypothesis.

Null Hypo: The two parties support education-spending bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -20.500685724563073 and a pvalue of 1.8834203990450192e-64...
I REJECT the null hypothesis.

Null Hypo: The two parties support superfund-right-to-sue bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -13.51064251060933 and a pvalue of 1.2278581709672758e-34...
I REJECT the null hypothesis.

Null Hypo: The two parties support crime bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of -16.342085656197696 and a pvalue of 9.952342705606092e-47...
I REJECT the null hypothesis.

Null Hypo: The two parties support duty-free-exports bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 12.853146132542978 and a pvalue of 5.997697174347365e-32...
I REJECT the null hypothesis.

Null Hypo: The two parties support export-administration-act-south-africa bill at the same rate.
Alternative Hypo: They do not support the bill at the same rate.
A Confidence Level 99% will be used to evaluate the ttests results!
Based on a tstat of 6.849454815841208 and a pvalue of 3.652674361672226e-11...
I REJECT the null hypothesis.



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE