<a href="https://colab.research.google.com/github/rdukewiesenb/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [1]:
# Import

import pandas as pd
import numpy as np
from scipy import stats

In [8]:
#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-08-10 22:44:01--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data.1’

imports-85.data.1   100%[===================>]  25.33K  --.-KB/s    in 0.1s

2020-08-10 22:44:02 (181 KB/s) - ‘imports-85.data.1’ saved [25936/25936]

In [57]:
column_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type',
          'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 
          'engine-location', 'wheel-base', 'length', 'width', 'height',
          'curb-height', 'engine-type', 'num-of-cylinders', 'engine-size',
          'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepwoer',
          'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data', names=column_headers)

In [58]:
df1.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [5]:
# Null: There is no relationship between the estimated sample mean and the population mean.
# Alternative: The estimated sample mean is greater than the population mean.

In [60]:
# Mean
df1['highway-mpg'].mean()

30.75121951219512

In [62]:
# Setting the random sampling parameters

sample = df1.sample(10, random_state=30)

In [67]:
# Now to the t-test!
# Gotta test the sample mean to see how it stacks up to the pop mean 

stats.ttest_1samp(sample['highway-mpg'], 30.75, nan_policy='omit')

Ttest_1sampResult(statistic=0.8917727404948264, pvalue=0.3957307423595724)

In [ ]:
# The result:
# The t-stat is 0.89 and the p-value is 0.3957. Becuase the p-value is greater than 0.05, I must fail to reject the null hypothesis.
# Therefore, not only do I assert that there is a relationship between the estimated sample mean and the population mean, but also that
# the estimated sample mean is greater than the population mean.

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [69]:
df1['highway-mpg'].mean()

30.75121951219512

In [ ]:
# Null: There is no relationship between the cars the salesmen sells and their highway mpg.
# Alternative: Three-quarters of the cars the salesman sells have a fuel efficiency of 35mpg on the highway.

In [78]:
# Setting the random sample parameter
sample = df1.sample(10, random_state=30)

In [75]:
stats.ttest_1samp(sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-0.8506574460100027, pvalue=0.41701627693467236)

In [ ]:
# Result
# The t-stat is -0.85 and the p-value is 0.417. Becuase the p-value is greater than 0.05, I must fail to reject the null hypothesis.
# Therefore, not only do I assert that there is a relationship between the cars the salesmen sells and their highway mpg., but also that
# three-quarters of the cars the salesman sells have a fuel efficiency of 35mpg on the highway.

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
# Null: There is no relationship between the number of cars and the highway mpg.
# Alternative: There is a relationship between the number of cars and the highway mpg.

In [79]:
sample = df1.sample(100, random_state=30)

In [80]:
stats.ttest_1samp(sample['highway-mpg'], 35, nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [ ]:
# Result
# The t-stat is -6.52 and the p-value is 0.000000003. Becuase the p-value is less than 0.05, I must reject the null hypothesis.
# Therefore, I assert that there is not a relationship between the number of cars and the highway mpg.

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Because of the different sample sizes. The larger the sample size, the more precise our findings become.

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [ ]:
#!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

In [81]:
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df2 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data', names=column_headers)

print(df2.shape)
df2.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [82]:
# need to convert 'y' and 'n' from strings to integers

df2 = df2.replace({'y' : 1, 'n' : 0, "?" : np.NaN})

df2.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [83]:
df2.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [84]:
df2['aid-to-contras'].value_counts(dropna=False)

1.0    242
0.0    178
NaN     15
Name: aid-to-contras, dtype: int64

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [93]:
# Crime

rep = df2[df2['party'] == "republican"]
dem = df2[df2['party'] == "democrat"]

#### Issue with more democatric support


##### Confidence level: 99%

In [ ]:
# Null: There is no relationship between a poltician's party affiliation and their vote on the South Africa bill.
# Alternative: More democrats than republicans voted 'yes' for the South Africa bill.

In [98]:
stats.ttest_ind(dem['south-africa'], rep['south-africa'], nan_policy='omit')

Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672226e-11)

In [99]:
dem['south-africa'].mean()

0.9351351351351351

In [100]:
rep['south-africa'].mean()

0.6575342465753424

In [ ]:
# Result
# The t-stat is 0.89 and the p-value is 0.000000003. Becuase the p-value is less than 0.05, I must reject the null hypothesis.
# Therefore, I assert that there is no relationship between a poltician's party affiliation and their vote on the South Africa bill.

#### Issue with more republican support

##### Confidence level: 99%

In [ ]:
# Null: There is no relationship between a poltician's party affiliation and their vote on the crime bill.
# Alternative: More republicans than democrats voted 'yes' for the South Africa bill.

In [94]:
stats.ttest_ind(dem['crime'], rep['crime'], nan_policy='omit')

Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)

In [95]:
dem['crime'].mean()

0.35019455252918286

In [96]:
rep['crime'].mean()

0.9813664596273292

In [ ]:
# Result
# The t-stat is -16.34  and the p-value is 0.99e-46. Becuase the p-value is less than 0.05, I must reject the null hypothesis.
# Therefore, I assert that there is no relationship between a poltician's party affiliation and their vote on the crime bill.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE