<a href="https://colab.research.google.com/github/zacksnyder-lsds/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01 
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
#Imports 
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_1samp

In [4]:
### YOUR CODE STARTS HERE
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-05-22 01:03:15--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-05-22 01:03:16 (130 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [5]:
#reading in the data and adding column headers and setting ? = to nan 
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

house= pd.read_csv('/content/house-votes-84.data', header=None, names=column_headers, na_values='?')
house.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [6]:
# replacing yes and no with numbers for analysis purposes 
house = house.replace({'y':1, 'n':0})
house.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
#seperating how republicans from democrats
rep = house[house['party']=='republican']
dem = house[house['party']=='democrat']

In [8]:
#checking who voted yes more on average on religious groups in sample 
print(rep['religious-groups'].mean())
dem['religious-groups'].mean()

0.8975903614457831

0.47674418604651164

In [0]:
#Republicans in the sample voted yes on the bill much more often then dems

In [10]:
#Null Hypothesis: there is no significant difference between Reps and Dems on this religious groups bill
#Alt Hypothesis: There is a difference between the parties on this bill 
ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [11]:
'''conclusion: There is a signicicant difference between Republicans and Democrats
on the issue of religious groups'''  
#I accept the alt hypotheis

'conclusion: There is a signicicant difference between Republicans and Democrats\non the issue of religious groups'

In [12]:
print(rep['synfuels'].mean())
dem['synfuels'].mean()

0.1320754716981132

0.5058823529411764

In [13]:
#null hypothesis: there is no significant difference in the population between reps and dems on synfuels
#alt hypothesis: there is a difference between reps and dems on the issue of synfuels 
ttest_ind(rep['synfuels'], dem['synfuels'], nan_policy='omit')

Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)

In [0]:
# conclusion I accept the alt hypothesis

In [15]:
#checking the average yeses on the issue of South Africa 
print(rep['water-project'].mean())
dem['water-project'].mean()

0.5067567567567568

0.502092050209205

In [16]:
#null hypothesis: There is no significant difference in the population between reps and dems on the immigration bill
#Alt hypothesis: There is a significant difference in the population between reps and dems on the immigration bill 
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [0]:
# we can't reject the null hypothesis for the sample

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [18]:
# testing an idea for code
test = rep['budget'].describe()
test

count    164.000000
mean       0.134146
std        0.341853
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: budget, dtype: float64

In [19]:
test['mean']

0.13414634146341464

In [20]:
rep['budget'].dropna(inplace=True)
rep['budget'].isnull().sum()

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

0

In [21]:
import numpy as np
mu = 180 
sigma = 5
sample = pd.DataFrame(np.random.normal(mu, sigma, 6))
sample.describe()

                0
count    6.000000
mean   182.267322
std      2.467208
min    179.175749
25%    180.448325
50%    182.441276
75%    184.286254
max    184.860378

In [0]:
def one_samp_ttest(data, null):
  x = data.describe()
  vari = sum((ab - x['mean']) **2 for ab in data) / len(data)
  t = (x['mean'] - null) / (vari/len(data)**.5)
  print('Ttest value = ', t)

In [23]:
one_samp_ttest(sample[0], .5)

Ttest value =  87.77307021652796

In [25]:
ttest_1samp(sample[0], .5)

Ttest_1sampResult(statistic=180.46198880701021, pvalue=9.913620608004737e-11)