<a href="https://colab.research.google.com/github/slayergod/DS-Unit-1-Sprint-2-Statistics/blob/master/LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE
#imports
import pandas as pd
from scipy.stats import ttest_ind

In [0]:
#making data set
cols = [ 'party',
    'handicapped-infants',
    'water-project',
    'budget',
    'physician-fee-freeze',
    'el-salvador-aid',
    'religious-groups',
    'anti-satellite-ban',
    'aid-to-contras',
    'mx-missile',
    'immigration',
    'synfuels',
    'education',
    'right-to-sue',
    'crime',
    'duty-free',
    'south-africa',
    ]
df = pd.read_csv('house-votes-84.data', header=None, names=cols, na_values='?')
df = df.replace({'y': 1, 'n': 0})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
# Create Subsets of Different Parties
df_rep = df[df['party'] == 'republican']
df_dem = df[df['party'] == 'democrat']

df_rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
df_dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
#function for testing

def diff(issue, pdict):
  df_tmp_rep = pdict['republican'][issue]
  df_tmp_dem = pdict['democrat'][issue]
  df_tmp_rep = df_tmp_rep.dropna()
  df_tmp_dem = df_tmp_dem.dropna()
  return ttest_ind(df_tmp_rep, df_tmp_dem)

In [0]:
list_rslts = []

# Run through issues
for i in range(1, len(cols)-1):
  wrk_lt = ""
  wrk_gt  = ""


  lst_iter = []
  
  # Call function
  tst_itr = diff(cols[i], {"republican": df_rep, "democrat": df_dem})

  if tst_itr.pvalue < .01 : wrk_lt = "Yes" 
  if tst_itr.pvalue > .1  : wrk_gt  = "Yes"

# function output to list
  lst_iter.append(cols[i])
  lst_iter.append(tst_itr.statistic)
  lst_iter.append(tst_itr.pvalue)
  lst_iter.append(wrk_lt)
  lst_iter.append(wrk_gt)

  list_rslts.append(lst_iter)

In [0]:
# results dataframe with Rep as first parameter and democrat as second parameter 
df_results = pd.DataFrame(list_rslts, columns=['Issue', 't-value', 'p-value', 'p-value < .01', 'p-value > 0.1'])
df_results

                   Issue    t-value        p-value p-value < .01 p-value > 0.1
0    handicapped-infants  -9.205264   1.613440e-18           Yes
1          water-project   0.088965   9.291557e-01                         Yes
2                 budget -23.212777   2.070340e-77           Yes
3   physician-fee-freeze  49.367082  1.994262e-177           Yes
4        el-salvador-aid  21.136693   5.600520e-68           Yes
5       religious-groups   9.737576   2.393672e-20           Yes
6     anti-satellite-ban -12.526188   8.521033e-31           Yes
7         aid-to-contras -18.052093   2.824718e-54           Yes
8             mx-missile -16.437503   5.030793e-47           Yes
9            immigration   1.735912   8.330248e-02
10              synfuels  -8.293604   1.575932e-15           Yes
11             education  20.500686   1.883420e-64           Yes
12          right-to-sue  13.510643   1.227858e-34           Yes
13                 crime  16.342086   9.952343e-47           Yes
14             duty-free -12.853146   5.997697e-32           Yes

## Answers

***Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01***

Based on the data we can conclud that Democrats support the budget issue more than the Republicans with a p-value less than .01.

***Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01***

Based on the data we can conclud that Republicans support the Right to Sue issue more than the Democrats with a p-value less than .01.

***Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)***

The water project has a p-value of greater than .1.

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!