<a href="https://colab.research.google.com/github/noah40povis/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/NP_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
import pandas as pd 
import numpy as np 
from scipy import stats

In [0]:
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df = pd.read_csv('/content/house-votes-84.data', names=column_headers)
df = df.replace({'y':1, 'n': 0, '?': np.NaN})

In [93]:
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [94]:
rep = df[df['party']=='republican']

rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [95]:
dem = df[df['party']=='democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [0]:
t = stats.ttest_ind(dem['handicapped-infants'],rep['handicapped-infants'], nan_policy='omit')
t2 = stats.ttest_ind(dem['crime'],rep['crime'], nan_policy='omit')
t3 = stats.ttest_ind(dem['water-project'],rep['water-project'], nan_policy='omit')

In [97]:
print('According to our P-value of', t, 'we  reject the null hypothesis that Democrats and Republicans voted equally on Immigration policy') #part 1 Dem's had a higher voting mean

According to our P-value of Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18) we  reject the null hypothesis that Democrats and Republicans voted equally on Immigration policy

In [98]:
print('According to our P-value of', t2, 'we reject the null hypothesis that Democrats and Republicans voted equally on religious-group policy') #Republicans had a higher mean part 2

According to our P-value of Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47) we reject the null hypothesis that Democrats and Republicans voted equally on religious-group policy

In [99]:
print('According to our P-value of', t3, 'we fail to reject the null hypothesis that Democrats and Republicans voted equally on water-project policy') #part 3

According to our P-value of Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485) we fail to reject the null hypothesis that Democrats and Republicans voted equally on water-project policy

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [0]:
# 1 
def function(sample1, sample2):
   print(stats.ttest_ind(sample1, sample2, nan_policy='omit'))

In [101]:
# test 1 
function(dem['aid-to-contras'],rep['aid-to-contras'])

Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)

In [0]:
#2 
def function2(sample_a, sample_b):
  #generate sample means 
  mean_1 = np.mean(sample_a)
  mean_2 = np.mean(sample_b)
  
  #generate sample std 
  std_1 = np.std(sample_a)
  std_2 =np.std(sample_b)
  
  #generate sample size and remember to get rid of null values 
  n_1 = len(sample_a) - sample_a.isnull().sum() 
  n_2 = len(sample_b) - sample_b.isnull().sum() 

  # total number of observations 
  n = n_1 + n_2 
  # degress of freedom 
  degrees_of_freedom = n-1 
  
  #get standard errors for each 
  std_err_a = std_1/np.sqrt(n_1)
  std_err_b = std_2/np.sqrt(n_2)
  
  #standard error diff 
  std_err_diff = np.sqrt(std_err_a**2+std_err_b**2)
  
  #calculate t stat
  t_stat = (mean_1 - mean_2) / std_err_diff 
  
  #return all the things 
  return t_stat, degrees_of_freedom

In [108]:
# test 2 
function2(dem['aid-to-contras'],rep['aid-to-contras'])

(18.30394137652778, 419)