<a href="https://colab.research.google.com/github/sampath11/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Sampath_Kumar_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
### YOUR CODE STARTS HERE
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind, ttest_rel, ttest_ind_from_stats

In [0]:
dataset_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data'

column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

df_voting = pd.read_csv (dataset_url, header=None, names=column_headers, na_values='?')

In [12]:
df_voting.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [13]:
df_voting.shape

(435, 17)

In [14]:
df_voting.describe()

           party handicapped-infants water-project  ... crime duty-free south-africa
count        435                 423           387  ...   418       407          331
unique         2                   2             2  ...     2         2            2
top     democrat                   n             y  ...     y         n            y
freq         267                 236           195  ...   248       233          269

[4 rows x 17 columns]

In [0]:
## From the above, we see religious_groups seems to have big differences, lets check it

#Null hypothesis for religious group issue:  There is no difference between Repubs and Dems on this issue
# Alternative hypothesis for religious group issue: There is significant diff. between Repubs and Dems on this issue


## before that split dems and repubs into two groups

df_dems = df_voting[df_voting['party']=='democrat']

In [17]:
df_dems.head()

      party handicapped-infants water-project  ... crime duty-free south-africa
2  democrat                 NaN             y  ...     y         n            n
3  democrat                   n             y  ...     n         n            y
4  democrat                   y             y  ...     y         y            y
5  democrat                   n             y  ...     y         y            y
6  democrat                   n             y  ...     y         y            y

[5 rows x 17 columns]

In [18]:
df_rep = df_voting[df_voting['party']=='republican']
df_rep.head()

         party handicapped-infants water-project  ... crime duty-free south-africa
0   republican                   n             y  ...     y         n            y
1   republican                   n             y  ...     y         n          NaN
7   republican                   n             y  ...     y       NaN            y
8   republican                   n             y  ...     y         n            y
10  republican                   n             y  ...     y         n            n

[5 rows x 17 columns]

In [0]:
## convert y to 1 and n to 0
df_rep = df_rep.replace({'y':1, 'n':0})

df_dems = df_dems.replace({'y':1, 'n': 0})

In [21]:
df_rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [22]:
df_dems.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [25]:
## lets do the t_test for religious_groups

df_rep['religious-groups'].value_counts()

1.0    149
0.0     17
Name: religious-groups, dtype: int64

In [26]:
df_dems['religious-groups'].value_counts()

0.0    135
1.0    123
Name: religious-groups, dtype: int64

In [28]:
df_rep['religious-groups'].head()

0     1.0
1     1.0
7     1.0
8     1.0
10    0.0
Name: religious-groups, dtype: float64

In [29]:
df_dems['religious-groups'].head(10)

2     1.0
3     1.0
4     1.0
5     1.0
6     1.0
9     0.0
12    0.0
13    1.0
16    1.0
17    0.0
Name: religious-groups, dtype: float64

In [31]:
ttest_ind (df_rep['religious-groups'], df_dems['religious-groups'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [33]:
## lets save these values

stat , pval = ttest_ind (df_rep['religious-groups'], df_dems['religious-groups'], nan_policy='omit')
print ( stat, pval)

9.737575825219457 2.3936722520597287e-20

In [36]:
if ( pval <= 0.01 ):
  print ( "Pval is less than 0.01")
else :
  print ( "Pval is greater than 0.01")

Pval is less than 0.01

In [0]:
## Pval is less than 0.01, so we reject the null hypothesis that both parties stnd on the issue are same.  Both parties stand
## are significntly different on the issues of religious-groups

In [42]:
## Lets pick an issue we think Dems support more than Reps - lets look at "Budget"

df_dems['budget'].value_counts()

1.0    231
0.0     29
Name: budget, dtype: int64

In [43]:
df_rep['budget'].value_counts()

0.0    142
1.0     22
Name: budget, dtype: int64

In [46]:
## formulate hypothesis
#null hypothesis:  The Dems and Reps do not have any signifinance difference in their stance on the issue of "Budget"
#alternative hypothesis: The dems and Reps have a significnt difference in their stance on the issue of "Budget"

stat , pval = ttest_ind ( df_dems['budget'], df_rep['budget'], nan_policy='omit')

print ( stat, pval)

23.21277691701378 2.0703402795404463e-77

In [47]:
if ( pval <= 0.01 ):
  print ( "pval is < 0.01")
else:
  print ( "pval is > 0.01")

pval is < 0.01

In [0]:
# as pval is < 0.01, we can reject the null hypothesis and go with the alternative hypothesis
#that there is significant diff. bvetween stnce of dems and reps on "Budget" issue

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!