<a href="https://colab.research.google.com/github/sberniz/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Santiago_Berniz_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [0]:
### YOUR WORK HERE
#Downloagdataset to notebook with wget
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

In [0]:
##Iimport Necessary Libraries
import pandas as pd
import numpy as np
from scipy import stats

In [0]:
column_headers = ['symboling', 'normalized-losses', 'make', 'fuel-type','aspiration','num-of-doors',
                  'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width',
                  'height', 'curb-weight', 'engine-type',  'num-of-cylinders',  'engine-size',
                  'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower','peak-rpm',
                  'city-mpg', 'highway-mpg', 'price']

df = pd.read_csv('imports-85.data',header=None,names=column_headers)
df.head()

In [0]:
df= df.replace({'?':np.NaN}) ##Replaces '?' with NaNs
df.head()

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and compare your sample mean estimate to that value. Can you say that they are different?

In [12]:
### YOUR WORK HERE
#pick 10 random samples with random_state/seed of 30 
sample_car = df.sample(10,random_state=30)
print(sample_car.shape)
sample_car.head()

(10, 26)

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

In [30]:
sample_car.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [0]:
sample_car['highway-mpg'].value_counts(dropna=False) #NO NaN values in highway-mpg table

The sample is not reflective to the population mean because population mean is 30.75, while sample shows a bit highter of 32.75 mpg in highway. when running the two T-test we see a p-value of .39 and a 0.89 statistic which it means itdoes not represent population

In [29]:
print("Highway-mpg-Entire-Data-Set-Mean: ",df['highway-mpg'].mean())
print("Highway-mpg-Sample-Data-Set-Mean: ",sample_car['highway-mpg'].mean())

Highway-mpg-Entire-Data-Set-Mean:  30.75121951219512
Highway-mpg-Sample-Data-Set-Mean:  32.8

In [24]:
stats.ttest_1samp(df['highway-mpg'],30.75) #entire Population highway-mpg

Ttest_1sampResult(statistic=0.00253552625966949, pvalue=0.9979794226279223)

In [25]:
stats.ttest_1samp(sample_car['highway-mpg'],30.75)

Ttest_1sampResult(statistic=0.8917727404948264, pvalue=0.3957307423595724)

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [62]:
### YOUR WORK HERE

stats.ttest_1samp(sample_car['highway-mpg'],35,nan_policy='omit')

Ttest_1sampResult(statistic=-0.9570244044334747, pvalue=0.36355472283248624)

In [63]:
#Using the mean from the 10 sample car, we get a 32.8mpg mean, although is not what the salesman claims, it isvery close to it 
sample_car['highway-mpg'].mean()

32.8

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, what would you conclude when sampling 100 cars?

In [64]:
### YOUR WORK HERE
sample_car_100 = df.sample(100,random_state=30)
print(sample_car_100.shape)
sample_car_100.head()

(100, 26)

     symboling normalized-losses           make  ... city-mpg highway-mpg  price
121          1               154       plymouth  ...       31          38   6692
176         -1                65         toyota  ...       27          32  10898
24           1               148          dodge  ...       31          38   6229
88          -1               137     mitsubishi  ...       23          30   9279
72           3               142  mercedes-benz  ...       16          18  35056

[5 rows x 26 columns]

In [43]:
stats.ttest_1samp(sample_car_100['highway-mpg'],35,nan_policy='omit')

Ttest_1sampResult(statistic=-6.5185242467032305, pvalue=3.003137417468754e-09)

In [44]:
sample_car_100['highway-mpg'].mean()
#With the 100 car sample, the mean is 30.64, and is far more different from what salesman claims, which shows his claim is not real, we also get a p valio of near 
#0 and a -6 statistic. the Alternative Hypothesis is true, and we conclude that the average highway mpg is not 35%

30.64

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

Because with larger sample value we can see more clear and results is more precise to either be able to accept or reject his claim, as wecan see,we get better  resultswith larger values

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [0]:
### YOUR WORK HERE
#Load Data set code
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

In [46]:
#Read values and add column headers
column_headers = ['party','handicapped-infants','water-project',
                  'budget','physician-fee-freeze', 'el-salvador-aid',
                  'religious-groups','anti-satellite-ban',
                  'aid-to-contras','mx-missile','immigration',
                  'synfuels', 'education', 'right-to-sue','crime','duty-free',
                  'south-africa']

df_house = pd.read_csv('house-votes-84.data', header=None, names=column_headers)

print(df_house.shape)
df_house.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [50]:
#binary encoding and NaN for unknown
df_house = df_house.replace({'y':1,'n':0,'?':np.NaN})
df_house.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [0]:
#Split samples
republican = df_house[df_house['party'] == 'republican']
democrat = df_house[df_house['party'] == 'democrat']

In [52]:
republican.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [53]:
republican.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

In [55]:
### YOUR WORK HERE
#NULL HYpothesis Democrat support immigration at higher rate than republican do 
#Alternative Hypothesis Democrat do not support immigration at a higher rate than republicans
#Conclusion in 1989 Republicans supported immigration more than democrats 
stats.ttest_ind(democrat['immigration'],republican['immigration'],nan_policy='omit')

Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)

In [56]:
print(democrat['immigration'].mean())
print(republican['immigration'].mean())

0.4714828897338403
0.5575757575757576

In [57]:
#Water project 
#NULL Hypothesis Democrat and republican support water-project at the same rate
#alternative hypothesis THey support the project at different rates 
#Confidence Level 95%

#Conclussion, republicans and democrat support water project at about 50% witha pvalue of 0.92 and statistic of -0.08 and means being at0.502 for democrat
#and 0.506 for republicans. 
stats.ttest_ind(democrat['water-project'],republican['water-project'],nan_policy='omit')

Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)

In [58]:
print(democrat['water-project'].mean())
print(republican['water-project'].mean())

0.502092050209205
0.5067567567567568

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [118]:
### YOUR WORK HERE
def Twosamp_Test(samp1,samp2):
  return stats.ttest_ind(samp1,samp2,nan_policy='omit')
for item in df_house:
  if item != 'party':
    print("\nIssue: ", item)
    print("\n")
    print(Twosamp_Test(democrat[item],republican[item]))
    print("Democrat percentage: ", democrat[item].mean())
    print("Replublican Percentage: ", republican[item].mean())

Issue:  handicapped-infants


Ttest_indResult(statistic=9.205264294809222, pvalue=1.613440327937243e-18)
Democrat percentage:  0.6046511627906976
Replublican Percentage:  0.18787878787878787

Issue:  water-project


Ttest_indResult(statistic=-0.08896538137868286, pvalue=0.9291556823993485)
Democrat percentage:  0.502092050209205
Replublican Percentage:  0.5067567567567568

Issue:  budget


Ttest_indResult(statistic=23.21277691701378, pvalue=2.0703402795404463e-77)
Democrat percentage:  0.8884615384615384
Replublican Percentage:  0.13414634146341464

Issue:  physician-fee-freeze


Ttest_indResult(statistic=-49.36708157301406, pvalue=1.994262314074344e-177)
Democrat percentage:  0.05405405405405406
Replublican Percentage:  0.9878787878787879

Issue:  el-salvador-aid


Ttest_indResult(statistic=-21.13669261173219, pvalue=5.600520111729011e-68)
Democrat percentage:  0.21568627450980393
Replublican Percentage:  0.9515151515151515

Issue:  religious-groups


Ttest_indResult(statistic=-9.737575825219457, pvalue=2.3936722520597287e-20)
Democrat percentage:  0.47674418604651164
Replublican Percentage:  0.8975903614457831

Issue:  anti-satellite-ban


Ttest_indResult(statistic=12.526187929077842, pvalue=8.521033017443867e-31)
Democrat percentage:  0.7722007722007722
Replublican Percentage:  0.24074074074074073

Issue:  aid-to-contras


Ttest_indResult(statistic=18.052093200819733, pvalue=2.82471841372357e-54)
Democrat percentage:  0.8288973384030418
Replublican Percentage:  0.15286624203821655

Issue:  mx-missile


Ttest_indResult(statistic=16.437503268542994, pvalue=5.03079265310811e-47)
Democrat percentage:  0.7580645161290323
Replublican Percentage:  0.11515151515151516

Issue:  immigration


Ttest_indResult(statistic=-1.7359117329695164, pvalue=0.08330248490425066)
Democrat percentage:  0.4714828897338403
Replublican Percentage:  0.5575757575757576

Issue:  synfuels


Ttest_indResult(statistic=8.293603989407588, pvalue=1.5759322301054064e-15)
Democrat percentage:  0.5058823529411764
Replublican Percentage:  0.1320754716981132

Issue:  education


Ttest_indResult(statistic=-20.500685724563073, pvalue=1.8834203990450192e-64)
Democrat percentage:  0.14457831325301204
Replublican Percentage:  0.8709677419354839

Issue:  right-to-sue


Ttest_indResult(statistic=-13.51064251060933, pvalue=1.2278581709672758e-34)
Democrat percentage:  0.2896825396825397
Replublican Percentage:  0.8607594936708861

Issue:  crime


Ttest_indResult(statistic=-16.342085656197696, pvalue=9.952342705606092e-47)
Democrat percentage:  0.35019455252918286
Replublican Percentage:  0.9813664596273292

Issue:  duty-free


Ttest_indResult(statistic=12.853146132542978, pvalue=5.997697174347365e-32)
Democrat percentage:  0.6374501992031872
Replublican Percentage:  0.08974358974358974

Issue:  south-africa


Ttest_indResult(statistic=6.849454815841208, pvalue=3.652674361672226e-11)
Democrat percentage:  0.9351351351351351
Replublican Percentage:  0.6575342465753424



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [93]:
democrat.shape

(267, 17)

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [0]:
### YOUR WORK HERE