<a href="https://colab.research.google.com/github/schase15/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/Steven_Chase_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

In [0]:
import pandas as pd
import numpy as np

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-03-16 20:06:26--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2020-03-16 20:06:32 (135 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [4]:
df = pd.read_csv('house-votes-84.data', names= ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
print(df.shape)
df.head()

(435, 17)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [9]:
# Encode to binary and replace ? with NaN

df = df.replace({'n':0, 'y': 1, '?': np.NaN})
df.head()

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0

[5 rows x 17 columns]

In [10]:
# Split df into parties
dem= df[df['party'] == 'democrat']
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [11]:
rep= df[df['party'] == 'republican']
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [0]:
# For the following tests:
# Null hypothesis is dem support and rep support are the same on the issue
# Alternative hypothesis is the dem support and rep support are not the same on the issue
# Confidence level of 99%
# Looking for a p-value less than .01

from scipy import stats

In [0]:
# On the issue of physician fee freeze, the republicans support the issue more than the democrats

In [22]:
stats.ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], nan_policy= 'omit')

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)

In [23]:
dem['physician-fee-freeze'].mean()

0.05405405405405406

In [24]:
rep['physician-fee-freeze'].mean()

0.9878787878787879

In [17]:
# On the issue of the budget, the democrats support the issue much more than the republicans

stats.ttest_ind(rep['budget'], dem['budget'], nan_policy= 'omit')

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [18]:
dem['budget'].mean()

0.8884615384615384

In [19]:
rep['budget'].mean()

0.13414634146341464

In [16]:
# For the water project, the difference between the Democrat party and the 
# Republican party has a p-value > 0.1, meaning there is not much of a difference 

stats.ttest_ind(rep['water-project'], dem['water-project'], nan_policy= 'omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [20]:
rep['water-project'].mean()

0.5067567567567568

In [21]:
dem['water-project'].mean()

0.502092050209205

## Stretch Goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Then check your Answers using Scipy!

In [0]:
# Stretch goal 1

def two_sample_ttest(sample1, sample2):
  return stats.ttest_ind(sample1, sample2, nan_policy= 'omit')

In [30]:
sample1 = rep['budget']
sample2 = dem['budget']

two_sample_ttest(sample1, sample2)

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)

In [0]:
def greater_less(sample1, sample2):
  if sample1.mean() > sample2.mean():
    print('Sample 1 is greater than sample 2')
  elif sample1.mean() < sample2.mean():
    print('Sample 1 is less than sample 2')
  else:
    print('Sample 1 is equal to sample 2')

In [44]:
greater_less(sample1, sample2)

Sample 1 is less than sample 2

In [0]:
# Stretch goal 2

# Null hypothesis is dem support is 50% on the issue
# Alternative hypothesis is the dem support is not 50% on the issue
# Confidence level of 99%

In [31]:
dem['budget'].describe(exclude= np.NaN)

count    260.000000
mean       0.888462
std        0.315405
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: budget, dtype: float64

In [32]:
# t-stat

t= (0.888462 - 0.50) / (0.315405/ (260**.5))
t

19.859423721371257

In [33]:
# Check the t-stat
stats.ttest_1samp(dem['budget'], .5, nan_policy='omit')

Ttest_1sampResult(statistic=19.859406568628835, pvalue=5.75931504660857e-54)

In [0]:
# Convert t-stat to p-value using online calculator, degrees of freedom is 259

p-value = 0

# my degrees of freedom are so large it is off the tables, and the p-value is so
# small that a caluclator returns 0

In [0]:
# two-sided t-test

# Null hypothesis is dem support and rep support are the same on the issue
# Alternative hypothesis is the dem support and rep support are not the same on the issue
# Confidence level of 99%

In [34]:
dem['budget'].describe(exclude= np.NaN)

count    260.000000
mean       0.888462
std        0.315405
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: budget, dtype: float64

In [35]:
rep['budget'].describe(exclude= np.NaN)

count    164.000000
mean       0.134146
std        0.341853
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: budget, dtype: float64

In [46]:
t_stat = (0.888462 - 0.134146) / ((((0.315405**2)/(260)) + ((0.341853**2)/(164)))**.5)
t_stat

22.79328129975457

In [0]:
p_value = 0

# my degrees of freedom are so large it is off the tables, and the p-value is so
# small that a caluclator returns 0

# these are very close to the values I calculated using scipy